<div id="MCQ" >
  <ul>
    <li class="quest_text">
      <div id="direction_text">
        <p style="margin-bottom:0px">Directions</p>
        <textarea id="mcq_question_field" rows="4" cols="60" name="direction_text" onkeyup="textCounter(this,document.myform.direction_limit,5000)" onclick="textCounter(this,document.myForm.direction_limit,5000)"><% unless @question.directions.nil? or @question.directions.blank? %><% if @question.directions[0].direction_text.strip != "" %><%= @question.directions[0].direction_text %><% end %><% end %></textarea>
        <span id="info"><input disabled type="text" name="direction_limit" size="4" maxlength="4" value="5000" style="width: 30px;"/> Characters left</span>
      </div>
      <div id="passage_text">
        <p style="margin-bottom:0px">Passage</p>
        <textarea class="textbox_shadow" rows="4" cols="60" name="passage_text" onkeyup="textCounter(this,document.myform.passage_limit,5000)" onclick="textCounter(this,document.myForm.passage_limit,5000)"><% unless @question.passages.nil? or @question.passages.blank? %><%=raw @question.passages[0].passage_text %><% end %></textarea>
        <span id="info"><input disabled type="text" name="passage_limit" size="4" maxlength="4" value="5000" style="width: 30px;"/> Characters left</span>
      </div>
      <div id="question_text">
        <p style="margin-bottom:0px">Question text</p>
        <textarea id="mcq_question_field" name="question_text" onkeyup="textCounter(this,document.myform.question_limit,5000)" onclick="textCounter(this,document.myForm.question_limit,5000)" class="field textarea medium" rows="4" cols="60" ><%=h @question.question_text %></textarea>
        <span id="info"><input disabled type="text" name="question_limit" size="4" maxlength="4" value="5000" style="width: 30px;"/> Characters left</span>
      </div>
      <% if !@question.question_image_file_name.nil? %>
        <%= image_tag @question.question_image.url(:small) , :style => "margin-left:5px;" %>
        <div class="add_img_to_quest"><label> <a href="javascript:showDiv('add_image_question1')">Edit image</a> to the question (optional)</label></div>
      <% else %>
        <div class="add_img_to_quest"><label> <a href="javascript:showDiv('add_image_question1')">Add image</a> to the question (optional)</label></div>
      <% end %>
      <div id="add_image_question1" style="display: none;">
        <div>
          <input id="question_image_field" name="question[question_image]" type="file" size="50"/>
        </div>
      </div>
    </li>
    <div class="answer_options_title">
      <label class="larger_font" style="color:#424242">Answer options</label>&nbsp;For less than five options leave some of the fields blank
      <label class="correct_answer_title"> Correct Answer </label>
    </div>
    <div class="answer_options">
      <% answers = @question.answers
      j = 1
      answers.each do |answer| %>
        <input type="text" class="textbox" name="answer[<%= answer.id %>]" size="60" maxlength="240" value="<%=raw answer.answer_text %>" />
        <input type="radio" name="correct_answer" <% if answer.answer_status == "correct" %>checked<% end %> value="<%= answer.id %>"/>
        <% if !answer.answer_image_file_name.nil? %>
          <div class="add_img_to_quest" style="text-align: left;"><%= image_tag answer.answer_image.url(:small) ,:style => "margin-left: 20px;" %>
            <a href="javascript:showDiv('answer_image_field_<%=h j %>')">Edit image</a></div>
        <% else %>
          <div class="add_img_to_quest" style="text-align: left;"><a style="margin-left: 20px;" href="javascript:showDiv('answer_image_field_<%=h j %>')">Add image</a></div>
        <% end %>
        <input id="answer_image_field_<%=h j %>" name="ans[<%= answer.id %>]" type="file" size="50" style="display: none;margin-left: 20px;margin-bottom: 15px;"/>
        <% j = j + 1
      end
      for i in 1..(5 - answers.length) do %>
        <input type="text" class="textbox" name="new_answer[<%= i %>]" size="60" maxlength="240" value="" />
        <input type="radio" name="new_correct_answer" value="<%= i %>"/>
        <div class="add_img_to_quest" style="text-align: left;"><a style="margin-left: 20px;" href="javascript:showDiv('answer_image_field_<%=h i %>')">Add image</a></div>
        <input id="answer_image_field_<%=h i %>" name="new_answer_image[<%= i %>]" type="file" size="50" style="display: none;margin-left: 20px;margin-bottom: 15px;"/>
      <% end %>
    </div>

    <div id="explanation_text">
      <p style="margin-bottom:0px">Explanation</p>
      <textarea class="textbox_shadow" rows="4" cols="100" name="explanation_text" onkeyup="textCounter(this,document.myform.explanation_limit,5000)" onclick="textCounter(this,document.myForm.explanation_limit,5000)"><% unless @question.explanation.nil? or @question.explanation.blank? %><%=raw @question.explanation %><% end %></textarea>
      <span id="info"><input disabled type="text" name="explanation_limit" size="4" maxlength="4" value="5000" style="width: 30px;"/> Characters left</span>
    </div>

    <hr/>
    <li class="done">
      <em class="add_next"><input id="Done" type="submit" name="Done" value="Done" /> </em>
      <% if params.include? 'control_from_edit_questions_page' then %>
        <label class="cancel"><a class="cancel" href="/question_banks/show/<%= params[:question_bank_id] %>?assessment_id=<%= params[:assessment_id] %>&control_from_edit_questions_page="> Cancel</a></label>
      <% else %>
        <label class="cancel"><a class="cancel" href="/question_banks/show/<%= params[:question_bank_id] %>?assessment_id=<%= params[:assessment_id] %>"> Cancel</a></label>
      <% end %>
    </li>
  </ul>
</div>