<%= stylesheet_link_tag 'question_bank' %>
<form action="/questions/update_question/<%= @question.id %>?qb=<%= @question_bank.id %>&number=<%= @question_number %>&page=<%= params[:page] %>&from=<%= params[:from] %>" method="post">
  <div class="div_container">
    <div class="questionbank_title"><%= @question_bank.name %><i><%= @question_bank.type_of_question_bank %></i></div>
    <div class="edit_question_title">Edit : Question <%= @question_number %></div>
    <div class="edit_question"><textarea class="textbox_shadow" rows="4" cols="100" name="question_text"><%= @question.question_text %></textarea>
    Directions: <textarea class="textbox_shadow" rows="4" cols="100" name="direction_text"><% unless @question.directions.nil? or @question.directions.blank? %><% if @question.directions[0].direction_text.strip != "" %><%= @question.directions[0].direction_text %><% end %><% end %></textarea>
    Passage: <textarea class="textbox_shadow" rows="4" cols="100" name="passage_text"><% unless @question.passages.nil? or @question.passages.blank? %><%=raw @question.passages[0].passage_text %><% end %></textarea>
    Explanation: <textarea class="textbox_shadow" rows="4" cols="100" name="explanation_text"><% unless @question.explanation.nil? or @question.explanation.blank? %><%=raw @question.explanation %><% end %></textarea></div>
    <div class="add_image_title"><a> Add Image</a> to the question</div>
    <div class="answer_status">
      <% unless @question.question_attributes[0].error.nil? or @question.question_attributes[0].error.blank? %>
        <%= @question.question_attributes[0].error.error_text %>
      <% end %>
    </div>
    <div class="answer_options_title">
      <label class="larger_font" style="color:#424242">Answer options</label>&nbsp;For less than five options leave some of the fields blank
      <label class="correct_answer_title"> Correct Answer </label>
    </div>
    <div class="answer_options">
      <% answers = @question.answers
      answers.each do |answer| %>
        <input type="text" class="textbox" name="answer[<%= answer.id %>]" size="70" value="<%=raw answer.answer_text %>" />
        <input <% if @question.question_type == "MAQ" %>type="checkbox" name="correct_answer[<%= answer.id %>]"<% else %>type="radio" name="correct_answer"<% end %> <% if answer.answer_status == "correct" %>checked<% end %> value="<%= answer.id %>"/>
        <div class="add_image_title"><a>Add Image</a></div>
      <% end
      for i in 1..(5 - answers.length) do %>
        <input type="text" class="textbox" name="new_answer[<%= i %>]" size="70" value="" />
        <input <% if @question.question_type == "MAQ" %>type="checkbox" name="new_correct_answer[<%= i %>]"<% else %>type="radio" name="new_correct_answer"<% end %> value="<%= i %>"/>
        <div class="add_image_title"><a>Add Image</a></div>
      <% end %>
    </div>
    <p style="margin-left:12px;">send this question to <select name="new_question_bank_id">
      <% @question_banks.each do |qb| %>
        <option value="<%= qb.id %>"<% if qb.id == @question_bank.id %>selected<% end %>><%= qb.name %></option>
      <% end %>
    </select>    </p>
    <div class="tag_title"> <label class="larger_font">Tags </label><label style="color:grey;">Optional</label></div>
    <%= render :partial => "tags_for_question" %>
    <div class="horizontal_dotted_line"></div>
    <div class="done_button"> <input type="submit" value="Done" /></div>
    <div class="cancel"><a href="/question_banks/<%= params[:page] %>/<%= params[:qb] %>?from=<%= params[:from] %>">Cancel</a></div>
  </div>
</form>