<%= stylesheet_link_tag 'courses_content'  %>
<%= stylesheet_link_tag 'assessment_manual' %>
<%= javascript_include_tag 'add_question_to_assessment' %>

<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>

<body onload="select_ddl()">
  <div id="div_container">
    <div id="div_mainpanel">
      <form name="myform" method="post" action="/questions/update/<%=h params[:id] %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%=h params[:question_bank_id]%>" enctype="multipart/form-data" >
        <% if params.include? 'control_from_edit_questions_page' then %>
          <input type="hidden" name="control_from_edit_questions_page" value="" />
        <% end %>
        <div id="content">
          <% if (!(@obj_assessment.test_pattern.nil? or @obj_assessment.test_pattern.blank?)) and @obj_assessment.test_pattern.question_wise_scoring
            obj_assessment_question = AssessmentQuestion.find_by_assessment_id_and_question_id(@obj_assessment.id,@question.id) %>
          <div style="margin-left:14px;">
          <b>Marks - &nbsp;</b>
          Positive Mark: &nbsp;&nbsp;<input type="text" name="mark" size="4" maxlength="3" value="<% unless obj_assessment_question.nil? or obj_assessment_question.blank? %><%= @obj_assessment.check_if_integer_or_float(obj_assessment_question.mark) %><% else %><%= @obj_assessment.correct_ans_points %><% end %>"/>
          Negative Mark: <input type="text" name="negative_mark" size="4" maxlength="6" value="<% unless obj_assessment_question.nil? or obj_assessment_question.blank? %><%= @obj_assessment.check_if_integer_or_float(obj_assessment_question.negative_mark) %><% else %><%= @obj_assessment.wrong_ans_points %><% end %>"/>
          </div>
          <% end %>
          <%= render :partial => "/questions/question_details" %>
        </div>
        
        </form>
      </div>

      <div id="div_sidepanel">
        <%= render :partial => "/courses/logo" %>
      </div>
    </div>
  </body>

