<%= stylesheet_link_tag 'courses_content' %>
<div id="div_container">
  <div id="div_mainpanel">
    <div id="content">
      <b><%=h @question.question_text %></b>
      <table border="0">
        <% @i=1
        @question.answers.each do |answer| %>
          <tr>
            <td><label><%=h (@i+96).chr %>.</label>&nbsp;</td>
            <td><%=h answer.answer_text %></td>
          </tr>
          <% @i = @i + 1
        end %>
      </table>
      <br/><a href="/reports/item_analysis/<%=h @assessment.id %>"><font color="blue">Back</font></a>
    </div>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>