<br/><h3>Advanced features</h3>

<% if @assessment.allow_improvement then %>
  <input id="show_result" class="checkbox_input" type="checkbox" name="assessment[allow_improvement]" checked onclick="show_div(this,'allow_improvement_test_details')"/>
<% else %>
  <input id="show_result" class="checkbox_input" type="checkbox" name="assessment[allow_improvement]" onclick="show_div(this,'allow_improvement_test_details')"/>
<% end %>
<span>
  <label class="checkbox_label">Allow improvement test</label>
</span>

<div id="allow_improvement_test_details" <% if @assessment.allow_improvement then %> style="display:block;" <% else %> style="display:none;" <% end %> >
  <div id="no_of_questions_div">
    <label class="checkbox_label">Number of questions</label>
    <input id="no_of_questions_in_improvement_test" class="checkbox_input" style="margin-left: 40px;" name="assessment[no_of_questions_in_improvement_test]" type="text" size="2" maxlength="2" <% if @assessment.no_of_questions_in_improvement_test != 0 %>value="<%= @assessment.no_of_questions_in_improvement_test %>"<% end %>/>
    <span>Number of questions to be provided in improvement test</span>
  </div>

  <div id="allow_improvement_test_conditions">
    <input type="radio" id="show_all_questions" class="checkbox_input" name="is_overall" value="on" <% if @assessment.is_overall %>checked<% end %>/>
    <span>
      <label class="checkbox_label">Attempt if overall marks < </label><input id="overall_less_percentage" name="assessment[overall_less_percentage]" type="text" size="2" maxlength="2" <% if @assessment.overall_less_percentage != 0 %>value="<%= @assessment.overall_less_percentage %>"<% end %>/>%
    </span>
    <input type="radio" id="show_all_questions" class="checkbox_input" name="is_overall" value="off" <% if !@assessment.is_overall %>checked<% end %>/>
    <span>
      <label class="checkbox_label">Attempt if any section marks < </label><input id="section_less_percentage" name="assessment[section_less_percentage]" type="text" size="2" maxlength="2" <% if @assessment.section_less_percentage != 0 %>value="<%= @assessment.section_less_percentage %>"<% end %>/>%
    </span>
  </div>

  <div id="show_questions_from_div">
    <label class="checkbox_label">Show questions from:</label>
  </div>

  <div id="show_questions_from_conditions">
    <input type="radio" id="show_all_questions" class="checkbox_input" name="is_from_all_low_scoring" value="on" <% if @assessment.is_from_all_low_scoring %>checked<% end %>/>
    <span>
      <label class="checkbox_label">All low scoring sections</label>
    </span>
    <input type="radio" id="show_all_questions" class="checkbox_input" name="is_from_all_low_scoring" value="off" <% if !@assessment.is_from_all_low_scoring %>checked<% end %>/>
    <span>
      <label class="checkbox_label">Number of low scoring sections </label><input id="no_of_less_scoring_sections" name="assessment[no_of_less_scoring_sections]" type="text" size="2" maxlength="2" <% if @assessment.no_of_less_scoring_sections != 0 %>value="<%= @assessment.no_of_less_scoring_sections %>"<% end %>/>/<label><%= @assessment.question_banks.length %></label>
    </span>
  </div>
</div>