<div id="header">
  <div id="cmat_header_img"><%= image_tag "cmat_test_pattern/header.png", :width => "760" %></div>
  <div class="cmat_header_strip">&nbsp;</div>
  <div class="specifications">
    <ul style="width: 420px; ">
      <li><%= image_tag "cmat_test_pattern/black.png" %>&nbsp; - &nbsp;Questions not attempted</li>
      <li><%= image_tag "cmat_test_pattern/green.png" %>&nbsp; - &nbsp;Questions attempted</li>
    </ul>
    <ul style="width: 290px;">
      <li><%= image_tag "cmat_test_pattern/yellow.png" %>&nbsp; - &nbsp;Questions not attempted and flagged</li>
      <li><%= image_tag "cmat_test_pattern/red.png" %>&nbsp; - &nbsp;Questions attempted and flagged</li>
    </ul>
  </div>
  <div class="cmat_header_strip">&nbsp;</div>
</div>