<table id="mytable" name="mytable" class="learners_box_right">
  <% if @total_learners.length != 0 then %>
    <% for learner in @total_learners[@left_learners+1..@total_learners.length] %>
      <tr class="list">
        <td>
          <% if @j< @learners_for_current_course_count %>
            <input type="checkbox" id="chk<%=h @i %>" name="email:<%=h @i %>" value="<%=h learner.id %>" checked/>
          <% else %>
            <input type="checkbox" id="chk<%=h @i %>" name="email-<%=h @i %>" value="<%=h learner.email %>" onclick="validate(this);"/>
          <% end %>
          <% if learner.login.length>19 then %>
            <%=h learner.login[0..18] %>&hellip;
          <% else %>
            <%=h learner.login %>
          <% end
          if learner.email.length>19 then %>
            <em><%=h learner.email[0..19] %>&hellip;</em>
          <% else %>
            <em><%=h learner.email %></em>
          <% end %>
        </td>
      </tr>
      <%  @i = @i + 1
      @j = @j + 1
    end
  end%>
</table>