<input class="reset_lms" id="reset_anchor_<%= @j %>" type="button" name="reset" value="Deselect" onclick="reset_answer('answer_id_<%= @j %>','reset_anchor_<%= @j %>'),
  checknet(<%= @test_detail.id %>)?
    new Ajax.Request('/assessments/ajax_reset_answer_multi_page_test/'+<%= @test_detail.id %>+'?lesson_location='+
     <% unless @test_details[@j].nil? %>
       <%= @test_details[@j - 1].serial_number - 1 %>
     <% else %>
       <%= @test_details[0].serial_number - 1 %>
     <% end %>
     <% if params.include? "from" %>
       +'&from'
     <% end %>
    ,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)})
    :
    ajax_reset_pending_answers_multi_page_test(<%= @test_detail.id %>);"/>
<div class="next" id="navigation_buttons">
  <table id="cmat_navigation_buttons">
    <tr>
      <td>
        <input class="previous_button" type="button" value="Previous" onclick="goto_next_previous_question('question_answer_div_<%= @j %>','question_answer_div_<%= @j-1 %>')" <% if @j == 1 then %>style="display:none;" <% else %> style="display:block;" <% end %> />
      </td>
    </tr>
    <tr>
      <td>
        <input class="next_cmat" type="button" value="Next" onclick="goto_next_previous_question('question_answer_div_<%= @j %>','question_answer_div_<%= @j+1 %>')" <% if @j == @test_details.count then %>style="display:none;" <% else %> style="display:block;" <% end %> />
      </td>
    </tr>
    <tr>
      <td>
        <% unless @test_detail.marked_status == "marked" %>
          <input class="flag_cmat" value="Flag" id="<%= @j %>_flag"
                 style="display:block;"
                 onclick="mark_question('<%= @j %>_flag','<%= @j %>_unflag'),new Ajax.Request('/assessments/ajax_mark_question_multi_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
          <input class="unflag_cmat" value="Unflag" id="<%= @j %>_unflag"
                 style="display:none;"
                 onclick="mark_question('<%= @j %>_unflag','<%= @j %>_flag'),new Ajax.Request('/assessments/ajax_unmark_question_multi_page_test/'+<%= @test_detail.id %>+'?lesson_location='+
               <% unless @test_details[@j].nil? %>
               <%= @test_details[@j].serial_number - 1 %>
               <% else %>
               <%= @test_details[0].serial_number - 1 %>
               <% end %>
               ,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
               <% else %>
          <input class="flag_cmat" value="Flag" id="<%= @j %>_flag"
                 style="display:none;"
                 onclick="mark_question('<%= @j %>_flag','<%= @j %>_unflag'),new Ajax.Request('/assessments/ajax_mark_question_multi_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
          <input class="unflag_cmat" value="Unflag" id="<%= @j %>_unflag"
                 style="display:block;"
                 onclick="mark_question('<%= @j %>_unflag','<%= @j %>_flag'),new Ajax.Request('/assessments/ajax_unmark_question_multi_page_test/'+<%= @test_detail.id %>
                 +'?lesson_location='+
                <% unless @test_details[@j].nil? %>
                <%= @test_details[@j].serial_number - 1 %>
                <% else %>
                <%= @test_details[0].serial_number - 1 %>
                <% end %>
                 ,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
               <% end %>
      </td>
    </tr>
    <tr>
      <td>
        <% if @j == @test_details.count %>
        <a href="/assessments/feedback/<%= @current_learner.id %>">
          <%= image_tag 'cmat_test_pattern/submit.png', :class => "submit_cmat" %>
        </a>
        <% end %>
      </td>
    </tr>
  </table><%# end of table with id cmat_navigation_buttons %>
</div>
<span id="error_msg" style="display: none;"></span>
<div id="mtf_number_error_msg" style="display: none;"></div>