<h2><%= @j %>.
<%# mark for review button as image %>
  <% unless @test_detail.marked_status == "marked" %>
    <img src="/assets/star_unfill.png" alt="star_unfill" id="<%= @j %>_unfill"
         style="display:block;margin-left:30px;margin-top:-28px;"
         onclick="mark_question('<%= @j %>_unfill','<%= @j %>_fill'),new Ajax.Request('/assessments/ajax_mark_question_single_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
    <img src="/assets/star_fill.png" alt="star_fill" id="<%= @j %>_fill"
         style="display:none;margin-left:30px;margin-top:-28px;"
         onclick="mark_question('<%= @j %>_fill','<%= @j %>_unfill'),new Ajax.Request('/assessments/ajax_unmark_question_single_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
       <% else %>
    <img src="/assets/star_unfill.png" alt="star_unfill" id="<%= @j %>_unfill"
         style="display:none;margin-left:30px;margin-top:-28px;"
         onclick="mark_question('<%= @j %>_unfill','<%= @j %>_fill'),new Ajax.Request('/assessments/ajax_mark_question_single_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
    <img src="/assets/star_fill.png" alt="star_fill" id="<%= @j %>_fill"
         style="display:block;margin-left:30px;margin-top:-28px;"
         onclick="mark_question('<%= @j %>_fill','<%= @j %>_unfill'),new Ajax.Request('/assessments/ajax_unmark_question_single_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
       <% end %>
</h2>
<%# div containing question and answer %>
<div class="questions">
  <% unless @test_detail.question.directions.nil? or @test_detail.question.directions.blank? %>
    <% if @test_detail.question.directions[0].direction_text.strip != "" %>Directions: <%=raw @test_detail.question.directions[0].direction_text %><% end %>
  <% end
  unless @test_detail.question.passages.nil? or @test_detail.question.passages.blank? %>
    <%=raw @test_detail.question.passages[0].passage_text %>
  <% end %>
  <% if !@test_detail.question.question_text.nil? %>
    <a name="questions_<%= @j %>"></a>
    <%=raw @test_detail.question.question_text %>
    <% unless @test_detail.question.question_image_file_size.nil? %>
      <%= image_tag @test_detail.question.question_image.url(:original), :alt => "Image" %><br/>
    <% end %>
  <% end %>
  <table>
    <% @i = 1 %>
    <%
    @test_detail.question.answers.each do | answer | %>
      <tr>
        <td><%= (@i+96).chr %>.&nbsp;</td>
        <td>
          <% case(@test_detail.question_type)
          when "MCQ"
            selected_answer_id = @test_detail.answer_id %>
            <input class="radio_answer" type="radio"
                   name="answer_id_<%= @j %>"
                   id="ans_<%= @i %>" value="<%=h answer.id %>"
                   <% if answer.id == selected_answer_id %>checked<% end %>
                   style="float:none;"
                   onclick="checknet(<%= @test_detail.id %>)?
                       new Ajax.Request('/assessments/ajax_save_answer_mcq_single_page_test/'+<%= @test_detail.id %>+'?answer_id='+this.value+'&lesson_location='+<%= @j %>
                     ,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)})
                     :
                       ajax_save_pending_answers_multi_page_test(<%= @test_detail.id %>,<%= answer.id %>);"
                   />
                 <% when "MAQ"
                   unless @test_detail.learner_answer_text.nil?
                     selected_answers = @test_detail.learner_answer_text.split(',')
                   end %>
            <input class="radio_answer" type="checkbox"
                   name="answer_id_<%= @j %>"
                   id="ans_<%= @i %>" value="<%=h answer.id %>"
                   <% unless @test_detail.learner_answer_text.nil?
                     if selected_answers.include?(answer.id.to_s) %>checked
                     <% end
                   end%>
                   style="float:none;"
                   onclick="checknet(<%= @test_detail.id %>)?
                       new Ajax.Request('/assessments/ajax_save_answer_maq_single_page_test/'+<%= @test_detail.id %>+'?answer_id='+this.value+'&lesson_location='+<%= @j %>
                     ,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)})
                     :
                       ajax_save_pending_answers_multi_page_test(<%= @test_detail.id %>,<%= answer.id %>);"
                   />
                 <% end %>
        </td>
        <% case
        when answer.answer_image_file_name.nil? then  %>
          <td id="answer" style="vertical-align:top;text-align:left;padding-bottom:8px;"><%=raw answer.answer_text %></td>
        <% else %>
          <td id="answer" style="vertical-align:top;text-align:left;padding-bottom:8px;"><%= image_tag answer.answer_image.url(:small) %></td>
        <% end %>
      </tr>
      <% @i = @i + 1 %>
    <% end %>
  </table>
  <a style="color: #CCC;font-size:10px;"
     onMouseOver="this.style.cursor='pointer'"
     id="reset_anchor_<%= @j %>"
     onclick="reset_answer('answer_id_<%= @j %>','reset_anchor_<%= @j %>'), 
       checknet(<%= @test_detail.id %>)?
         new Ajax.Request('/assessments/ajax_reset_answer_single_page_test/'+<%= @test_detail.id %>
       ,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)})
       :
         ajax_reset_pending_answers_multi_page_test(<%= @test_detail.id %>);">
    Reset</a>
</div> <%# end of div questions %>
<br/>