<%
if !@current_learner.question_status_details.nil?
  question_status = @current_learner.question_status_details.split(',')
else
  question_status = ""
end
%>


<div id="right_panel_lms">
  <table id="questions_table" width="100%" cellspacing="0" cellpadding="0" border="0" valign="top">
    <% k = 1
    for i in 1..(@assessment.no_of_questions.to_f/10).ceil
    %>
      <% if i==1 then %>
        <tr class="no_border">
        <% else %>
        <tr class="with_border">
        <% end %>
        <% for j in 1..10
          if k <= @assessment.no_of_questions %>
            <% if question_status[k - 1] == "A" %>
              <td <% if k.to_i == (@current_learner.lesson_location.to_i + 1) %>style="font-weight: bold;"<% end %>><a style="color: #666633;" class="question_buttons"  href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a></td>
            <% elsif question_status[k - 1] == "I" %>
              <td <% if k.to_i == (@current_learner.lesson_location.to_i + 1) %>style="font-weight: bold;"<% else %>style="background-color: #ff6600;"<% end %>><a class="question_buttons"  href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a></td>
            <% elsif question_status[k - 1] == "M" %>
              <td <% if k.to_i == (@current_learner.lesson_location.to_i + 1) %>style="font-weight: bold;"<% else %>style="background-color: #ffcc00;"<% end %>> <a class="question_buttons"  href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a></td>
            <% else %>
              <td <% if k.to_i == (@current_learner.lesson_location.to_i + 1) %>style="font-weight: bold;"<% end %>><a <% if k.to_i == (@current_learner.lesson_location.to_i + 1) %>style="color: #666666;"<% else %>style="color: #bfbfbf;"<% end %> class="question_buttons" <% if @assessment.skip_question %>href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"<% end %>><%=h k %></a></td>
            <% end %>
            <% k = k + 1
          end
        end %>
      </tr>
    <% end %>
  </table>
  <div class="specifications"><%= image_tag "yellow.png" %>&nbsp;For Review</div>
  <% if @assessment.skip_question %>
    <div class="specifications"><%= image_tag "orange.png" %>&nbsp;Skipped</div>
  <% end%>
</div>