<%
if !@current_learner.attempted_questions.nil?
  attempted_questions = @current_learner.attempted_questions.split(',')
else
  attempted_questions = ""
end
if !@current_learner.incomplete_questions.nil?
  incomplete_questions = @current_learner.incomplete_questions.split(',')
else
  incomplete_questions = ""
end
if !@current_learner.marked_questions.nil?
  marked_questions = @current_learner.marked_questions.split(',')
else
  marked_questions = ""
end %>

<div id="right_panel">
  <div align="center"><h4>Questions</h4></div>
  <table style="margin-top:-2%;" width="100%" cellspacing="0" cellpadding="0" border="0" valign="top">
    <% k = 1
    for i in 1..(@assessment.no_of_questions.to_f/4).ceil
    %>
      <tr>
        <% for j in 1..4
          if k <= @assessment.no_of_questions %>
            <td>
              <% if attempted_questions.include?((k - 1).to_s) %>
                <a class="question_buttons" style="background-color: #698B22;" href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a>
              <% elsif incomplete_questions.include?((k - 1).to_s) %>
                <a class="question_buttons" style="background-color: #CD0000;" href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a>
              <% elsif marked_questions.include?((k - 1).to_s) %>
                <a class="question_buttons" style="background-color: #CFCDFF;" href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a>
              <% else %>
                <a class="question_buttons" <% if @assessment.skip_question %>href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"<% end %>><%=h k %></a>
              <% end %>
            </td>
            <% k = k + 1
          end
        end %>
      </tr>
    <% end %>
  </table>
  <% if @assessment.test_pattern.pattern_name == "AIEEE" %>
    <form name="form_aieee" action="/assessments/feedback/<%=h @assessment.id %>?current_learner=<%=h @current_learner.id %>" method="post"/>
    <div id="div_side_panel_buttons">
      <div class="side_panel_buttons">
        <a href=""><input class="Instruction_profile_exit" type="button" value="Instruction"/></a>
      </div>
      <div class="side_panel_buttons">
        <a href=""><input class="Instruction_profile_exit" type="button" value="Profile"/></a>
      </div>
      <div class="side_panel_buttons">
        <a id="exit_exam" href="" onclick="exit_confirmation('/assessments/feedback/<%=h @assessment.id %>?current_learner=<%=h @current_learner.id %>');"><input class="Instruction_profile_exit" type="button" value="Exit"/></a>
      </div>
    </div>
  <% else %>
    <form name="form_aieee" action="/assessments/quit_assessment/<%=h @assessment.id %>?current_learner=<%=h @current_learner.id %>" method="post"/>
    <a id="exit_exam" href="" onclick="exit_confirmation('/assessments/quit_assessment/<%=h @assessment.id %>?current_learner=<%=h @current_learner.id %>');"><input class="Instruction_profile_exit" type="button" value="Quit"/></a>
  <% end %>
</div>