<div id="right_panel_lms">
  <% test_details = @current_learner.test_details %>
  <table id="questions_table" width="100%" cellspacing="0" cellpadding="0" border="0" valign="top">
    <%  for k in 1..test_details.count %>
      <tr>
        <% if k <= test_details.count %>
          <% if test_details[k-1].attempted_status == "answered" and test_details[k-1].marked_status == "marked" %>
            <td class="current_loc_img"><% if k-1 == @current_learner.lesson_location.to_i %><%= image_tag "cmat_test_pattern/arrow.png" %><% end %></td>
            <td class="goto_question">
              <a onclick="goto_specific_question(<%= k %>,<%= test_details.count %>)" style="cursor:pointer">
                <%= image_tag "cmat_test_pattern/red.png" %><%=h k %></a></td>
          <% elsif test_details[k-1].attempted_status == "answered" %>
            <td class="current_loc_img"><% if k-1 == @current_learner.lesson_location.to_i %><%= image_tag "cmat_test_pattern/arrow.png" %><% end %></td>
            <td class="goto_question">
              <a onclick="goto_specific_question(<%= k %>,<%= test_details.count %>)" style="cursor:pointer">
                <%= image_tag "cmat_test_pattern/green.png" %><%=h k %></a></td>
          <% elsif test_details[k-1].marked_status == "marked" %>
            <td class="current_loc_img"><% if k-1 == @current_learner.lesson_location.to_i %><%= image_tag "cmat_test_pattern/arrow.png" %><% end %></td>
            <td class="goto_question">
              <a onclick="goto_specific_question(<%= k %>,<%= test_details.count %>)" style="cursor:pointer">
                <%= image_tag "cmat_test_pattern/yellow.png" %><%=h k %></a></td>
          <% else %>
            <td class="current_loc_img"><% if k-1 == @current_learner.lesson_location.to_i %><%= image_tag "cmat_test_pattern/arrow.png" %><% end %></td>
            <td class="goto_question">
              <a onclick="goto_specific_question(<%= k %>,<%= test_details.count %>)" style="cursor:pointer">
                <%= image_tag "cmat_test_pattern/black.png" %><%=h k %></a></td>
              <% end %>
            <% end %>

      </tr>
      <% k = k + 1
    end %>
  </table>
</div>