<% if @assessment.test_pattern.pattern_name == "AIEEE" %>
  <%= stylesheet_link_tag 'aieee_header' %>
  <%= stylesheet_link_tag 'question_one' %>
<% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
  <%= stylesheet_link_tag 'cmat_test_pattern' %>
  <%= stylesheet_link_tag 'cmat_test_welcome' %>
<% elsif @assessment.test_pattern.pattern_name == "CAT" %>
  <%= stylesheet_link_tag 'cat_test_pattern' %>
  <%= stylesheet_link_tag 'cat_header_footer' %>
<% end %>
<script type="text/javascript">
  function terms_validation(){
    terms = document.getElementById('terms_radio')
    if(!terms.checked){
      alert("You have not Clicked on the I Agree Button. Please Note You CAN NOT take the test unless you click on the I Agree button");
      return false;
    }
  }
  
</script>

<div id="div_container">
  <form name="form_assessment"  id="assessment_form" action="/assessments/test_specific_instructions/<%=h @current_learner.id %>" onsubmit="javascript:return terms_validation();" method="post">
    <div id="div_mainpanel">
      <% if @assessment.test_pattern.pattern_name == "AIEEE" %>
        AIEEE first instruction page
        <input id="sign_in" type="submit" name="next" value="Next"/>
      <% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
        <div id="header">
          <div id="cmat_header_img"><%= image_tag "cmat_test_pattern/header.png", :width => "760" %></div>
          <div class="cmat_header_strip">&nbsp;</div>
        </div>
        <p id="about_cmat">About AICTE CMAT TEST-2012</p>
        <ul>
  <%#*<li>This is a trial test</li>%>
  <%#*<li>The duration of the trial test is 15 minutes</li>%>
          <li>The <b>duration</b> of CMAT-2012 test would be 180 minutes</li><br/>
          <li>The test consists of the following configuration</li><br/>
          <table cellpadding="5" border="1">
            <tr>
              <th>Section</th>
              <th>Question Count</th>
              <th>Marks</th>
            </tr>
            <tr>
              <td>QT AND DATA INTERPRETATION</td>
              <td>25</td>
              <td>100</td>
            </tr>
            <tr>
              <td>LOGICAL REASONING</td>
              <td>25</td>
              <td>100</td>
            </tr>
            <tr>
              <td>LANGUAGE COMPREHENSION</td>
              <td>25</td>
              <td>100</td>
            </tr>
            <tr>
              <td>GENERAL AWARENESS</td>
              <td>25</td>
              <td>100</td>
            </tr>
            <tr class="total">
              <td>Total</td>
              <td>100</td>
              <td>400</td>
            </tr>
          </table><br/>
          <li>Every question answered correctly would carry <b>4</b> marks</li>
          <li>Every questions answered incorrectly incorrectly woulr deduct <b>1</b> mark</li>
          <li>No marks will be <b>awarded/deducted</b> if the question is not attempted</li>
        </ul>
        <p style="margin-top: 25px;margin-left: 230px; font-size: 13px;font-weight: bold;">Click on the "Continue" button to proceed...</p>
      </div> <%#*end of div_mainpanel%>
      <div id="div_sidepanel">
        <div id="right_panel" style=""></div><input id="continue" type="submit" name="next" value="Continue"/>
      </div> <%#*end of div_sidepanel%>

    <% elsif @assessment.test_pattern.pattern_name == "CAT" %>
      <div id="cat_header">
        <table border="0" cellspacing="0" cellpadding="0">
          <tr>
            <td style="padding-left: 30px;">
              IIM Common Admission Test
            </td>
            <td> </td>
            <td style="text-align: right;padding-right: 100px;">
              <%= @current_learner.user.login %>
            </td>
          </tr>
        </table>
      </div> <%#*end of div cat_header%>

      <center>
        <div style="margin-top: 100px;width: 500px;font-size: 14px; font-family:'Verdana';line-height: 1.5em;">
          <b>NON-DISCLOSURE AGREEMENT AND GENERAL TERMS OF USE
            FOR COMMON ADMISSION TEST (CAT)</b>
        </div>
        <div style="margin-top: 60px;width: 755px;font-size: 12px;font-family :'Verdana';line-height: 1.3em;">
          <b>
            This test is confidential and proprietary. The Indian Institutes of Management (IIM) expressly prohibit you from
            disclosing, publishing, reproducing, or transmitting this test, in whole or in part, in any form or by any means, verbal or
            written, electronic or mechanical and for any purpose.
          </b>
        </div>
        <div style="margin-top: 100px;font-size: 12px;font-family :'Verdana'";>
             <b><input type="radio" id="terms_radio" name="terms" />I have read and agree to the terms of the above statement.</b>
        </div>
      </center>

      <div id="cat_footer">
        <center style="margin-top:10px;">
          <input class="next_button" type="submit" name="next" value="Next" onclick ="terms_validation()"/>
        </center>
      </div> <%#*end of div cat_footer%>
    <% end %>
  </form>

</div> <%#*end of div cat_container%>
