<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'assessment_manual' %>
<%= javascript_include_tag 'create_assessment' %>

<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>

<div id="div_container">
  <div id="div_mainpanel">
    <%= image_tag "add_questions.png", :class => "image_strip", :alt => "" %>
    <ul type="none">
      <form name="myform" method="post" onsubmit="javascript:return validation('topic','topic_name_msg');" action="/assessments/save_assessment" enctype="multipart/form-data">
        <%= render :partial => "/assessments/single_multi_selection" %>
        <%= render :partial => "/assessments/previous_assessments_for_single" %>
        <% if current_user.email == "lpulionsher@gmail.com" or current_user.email == "lpueee@gmail.com" or current_user.email == "civillpu@gmail.com" or current_user.email == "lpumechanical@gmail.com" or current_user.email == "biotech.lpuls@gmail.com" %>
            <%= render :partial => "/assessments/previous_assessments_for_multi_from_lpu" %>
        <% else %>
            <%= render :partial => "/assessments/previous_assessments_for_multi" %>
        <% end %>
      </form>
    </ul>
  </div>
  <div id="div_sidepanel">
    <%#*Two-to-three-upgrade-error%>
    <%= render :partial => "/courses/logo" %>
  </div>
</div>