<%#= javascript_include_tag 'counter' %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<%= javascript_include_tag 'next_prev' %>
<%= stylesheet_link_tag 'assessment_style'%>

<div id="div_container">
  <div id="div_mainpanel">
    <div id="test_name"> <%=h @assessment.name %></div>
    <div id="question_list">
      <% obj_assessment_question = AssessmentQuestion.find_by_assessment_id_and_question_id(@assessment.id,@question.id) %>
      <form name="form_assessment" onsubmit="javascript:return validate_mark('<%= obj_assessment_question.mark.to_i %>');" action="/assessments/save_result/<%=h @dtq_id %>" method="post">
        <div id="question_numb">
          <%=h @current_learner.lesson_location.to_i + 1 %>
          <div class="rem">of <%=h @all_descriptive_answers.length %></div>
        </div>
        <div class="question_now">
          <% if !(@question.mtf_id.nil? or @question.mtf_id.blank?)
            @direction = Question.find_by_id(@question.mtf_id) %>
            <%= render :partial => "/assessments/ptq_question_and_image" %>
          <% end %>
          <%= raw RedCloth.new(@question.question_text).to_html %><br/><br/>
          <%= raw RedCloth.new(@answer).to_html %>
          <div class="answers_now">            
            <input id="ans_id" type="text" size="3" maxlength="2" name="mark" <% unless @mark.nil? or @mark.blank? %>value="<%= @mark.to_i %>"<% end %>/>
            <% unless obj_assessment_question.nil? or obj_assessment_question.blank? %><label>Maximum Mark</label>&nbsp;<label><%= obj_assessment_question.mark.to_i %></label><% end %>
          </div>          
          <div class="next">
            <% if (@current_learner.lesson_location.to_i + 1) == @all_descriptive_answers.length  %>
              <input id="next_next" type="submit" name="next" value="Submit"/>
            <% else %>
              <input id="next_next" type="submit" name="next" value="Save & Next"/>
            <% end %>
          </div>
        </div>
      </form>
    </div>
  </div>


  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
    <%= render :partial => "/assessments/side_panel_questions_for_evaluation"  %>
  </div>

</div>