<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'assessment_style'%>
<div id="div_container">
  <div id="div_mainpanel">
    <form name="extract_image" id="text_extract" action="/assessments/parse_docx_to_extract_text/<%= params[:id] %>?assessment=<%= params[:assessment] %>" method="post">
      <h3>The word file has <%= @total_image_elements %> images.</h3>
      <div id="progress_bar">
        <img alt="progress bar" src="/assets/progress_bar.gif"/><br/>
        <h3>Extracting and converting the images from the word file. The process will take a few minutes, be patient.</h3>
      </div>
    </form>
    
    <script language="javascript">
      document.extract_image.submit();
    </script>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>