<% if @assessment.test_pattern.pattern_name == "AIEEE" %>
  <%= stylesheet_link_tag 'feedback' %>
<% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
  <%= stylesheet_link_tag 'cmat_test_pattern' %>
<% end %>
<form name="feedback_form" action="/assessments/save_feedback_and_redirect/<%=h @current_learner.id %>" method="post">
  <% if @assessment.test_pattern.pattern_name == "AIEEE" %>
    <div id="sub_header"></div>
    <div id="feedback_mainpanel">
      <h4>Feedback Form</h4>
      <div id="feedback_form">
        <h3>1.Did you enjoy this experience?</h3>
        <div class="feedback_radio_button"><input type="radio" name="learner[enjoy_experience_answer]" value="Yes"/></div>
        <div class="yes_style"><h3>Yes</h3></div>
        <div class="feedback_radio_button"><input type="radio" name="learner[enjoy_experience_answer]" value="No"/></div>
        <div class="yes_style"><h3>No</h3></div>
        <div class="feedback_radio_button"><input type="radio" name="learner[enjoy_experience_answer]" value="Not sure"/></div>
        <div class="yes_style"><h3>Not Sure</h3></div>
        <h3>2.The time allotted for the test was</h3>
        <div class="feedback_radio_button"><input type="radio" name="learner[time_alloted_answer]" value="Yes"/></div>
        <div class="yes_style"><h3>Sufficient</h3></div>
        <div class="feedback_radio_button"><input type="radio" name="learner[time_alloted_answer]" value="No"/></div>
        <div class="yes_style"><h3>Not Sufficient</h3></div>
        <div class="feedback_radio_button"><input type="radio" name="learner[time_alloted_answer]" value="Not sure"/></div>
        <div class="yes_style"><h3>More than Sufficient</h3></div>
        <h3>3.Suggest a question:</h3>
        <textarea name="learner[suggest_a_question]"></textarea>
        <h3>4.Suggestions for improvement:</h3>
        <textarea name="learner[suggestions_for_improvement]"></textarea>
      </div>
      <input class="feedback_submit" type="submit" name="next" value="Submit"/>
    </div>
    <div id="feedback_sidepanel">
      <h3>Welcome, Student</h3>
      <%= image_tag "aieee_images/student.png", :size => "200x250" %>
    </div>
  <% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
    <div id="header">
      <div id="cmat_header_img"><%= image_tag "cmat_test_pattern/feedback_header.png", :width => "960" %></div>
      <div class="cmat_header_strip">&nbsp;</div>
    </div>
    <div id="div_mainpanel"><br/><br/><br/>
      <div id="question_answer_content">
        <div id="question_list">
          <div class="question_now">How was the overall experience while giving the test?</div><br/>
          <div class="answers_now">
            <table border=0 width=100% style='table-layout:fixed'>
              <col width=4%/>
              <col width=96%/>
              <tr>
                <td><input class="radio_answer" type="radio" name="learner[enjoy_experience_answer]" value="Excellent" id="ans_1" style="float:none"/></td>
                <td id="answer">Excellent</td>
              </tr>
              <tr>
                <td><input class="radio_answer" type="radio" name="learner[enjoy_experience_answer]" value="Very Good" id="ans_1" style="float:none"/></td>
                <td id="answer">Very Good</td>
              </tr>
              <tr>
                <td><input class="radio_answer" type="radio" name="learner[enjoy_experience_answer]" value="Good" id="ans_1" style="float:none"/></td>
                <td id="answer">Good</td>
              </tr>
              <tr>
                <td><input class="radio_answer" type="radio" name="learner[enjoy_experience_answer]" value="Average" id="ans_1" style="float:none"/></td>
                <td id="answer">Average</td>
              </tr>
            </table><br/>
            <input id="next_next" class="submit_cmat" type="submit" name="next" value="Submit"/>
          </div>
        </div>
      </div>
      
    </div>
    
  <% end %>
</form>