<% if @assessment.test_pattern.pattern_name == "AIEEE" %>
  <%= stylesheet_link_tag 'aieee_header' %>
  <%= stylesheet_link_tag 'question_one' %>
<% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
  <%= stylesheet_link_tag 'cmat_test_pattern' %>
  <%= stylesheet_link_tag 'cmat_test_welcome' %>
<% elsif @assessment.test_pattern.pattern_name == "CAT" %>
  <%#= stylesheet_link_tag 'cat_test_pattern' %>
  <%= stylesheet_link_tag 'cat_test_welcome' %>
<% end %>

<div id="div_container">
  <form name="form_assessment"  id="assessment_form" <% if @assessment.test_pattern.pattern_name == "CAT" %>action="/assessments/save_learner_information/<%=h @current_learner.id %>"<% else %>action="/assessments/cmat_instructions/<%=h @current_learner.id %>"<% end %> method="post">
    <div id="div_mainpanel">
      <% if @assessment.test_pattern.pattern_name == "AIEEE" %>
        AIEEE second instruction page
        <input id="sign_in" type="submit" name="next" value="Next"/>
      <% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
        <div id="header">
          <div id="cmat_header_img"><%= image_tag "cmat_test_pattern/header.png", :width => "760" %></div>
          <div class="cmat_header_strip">&nbsp;</div>
        </div>

        <div class="test_description_scroll">
          <ul class="buttons_ul">
            <li><%= image_tag "cmat_test_pattern/start_test.png", :width => "130", :class => "buttons_description" %> - To start taking the test</li>
            <li><%= image_tag "cmat_test_pattern/next.png", :width => "130", :class => "buttons_description" %> - To go to the next question</li>
            <li><%= image_tag "cmat_test_pattern/previous.png", :width => "130", :class => "buttons_description" %> - To go to the previous question</li>
            <li><%= image_tag "cmat_test_pattern/flag.png", :width => "130", :class => "buttons_description" %> - To mark question to attempt/review later</li>
            <li><%= image_tag "cmat_test_pattern/unflag.png", :width => "130", :class => "buttons_description" %> - To unflag question</li>
            <li><%= image_tag "cmat_test_pattern/submit.png", :width => "130", :class => "buttons_description" %> - To submit answers after completing the test</li>
            <li><%= image_tag "cmat_test_pattern/deselect.png", :width => "130", :class => "buttons_description" %> - To deselect the answer markerd</li>
            <li><%= image_tag "cmat_test_pattern/black.png", :class => "buttons_description" %> - Questions not attempted</li>
            <li><%= image_tag "cmat_test_pattern/green.png", :class => "buttons_description" %> - Questions attempted</li>
            <li><%= image_tag "cmat_test_pattern/yellow.png", :class => "buttons_description" %> - Questions not attempted and flagged</li>
            <li><%= image_tag "cmat_test_pattern/red.png", :class => "buttons_description" %> - Questions attempted and flagged</li>
            <li>Time Left - Displays time left to complete the test</li>
          </ul>
          <p style="margin-top: 25px;margin-left: 230px; font-size: 13px;font-weight: bold;">Click on the "Continue" button to proceed...</p>
        </div>
      </div>
      <div id="div_sidepanel"><div id="right_panel" style=""></div><input id="continue" type="submit" name="next" value="Continue"/></div>
    <% elsif @assessment.test_pattern.pattern_name == "CAT" %>
      <center id="start_page">
        <center>
        <div style="font-size:16px;line-height:1.8em;">
          <b>
            Section One <br/>
            Quantitative Ability & Data Interpretaton
          </b>
        </div>
        </center>
        <div style="font-size:12px;font-family:'Verdana';padding: 20px;">
          <b>
          This is the first section of the two-section exam. You will have 70 minutes to answer 30 questions in this section. You can NOT go from this section to the next section till the 70 minutes run out. You may use any remaining time to review the questions within this section only.
      <br/><br/>
          Once this section has ended, the second section will start and you can NOT return to this section.
          </b>
        </div>
         <center>
        <div style="font-size:16px;line-height:1.8em;">
          <b>
            Section Two <br/>
            Verbal Ability & Logical Reasoning
          </b>
        </div>
        </center>
        <div style="font-size:12px;font-family:'Verdana';padding: 20px;">
          <b>
          This is the second section of the two-section exam. You will have 70 minutes to answer 30 questions in this section. You can NOT go from this section to the previous section. You may use any remaining time to review the questions within this section only.
      <br/><br/>
          Your exam is complete once the 70 minutes run out and this section has ended.
          </b>
        </div>
      </center>

      <center>
        <input class="next_button" type="submit" name="next" value="Start"/>
      </center>
    <% end %>
  </form>
</div>