<h1>Listing question_attributes</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Tag</th>
    <th>Tenant</th>
  </tr>

<% for question_attribute in @question_attributes %>
  <tr>
    <td><%=h question_attribute.question_id %></td>
    <td><%=h question_attribute.tag_id %></td>
    <td><%=h question_attribute.tenant_id %></td>
    <td><%= link_to 'Show', question_attribute %></td>
    <td><%= link_to 'Edit', edit_question_attribute_path(question_attribute) %></td>
    <td><%= link_to 'Destroy', question_attribute, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New question_attribute', new_question_attribute_path %>
