<p>
  <b>Question:</b>
  <%=h @question_attribute.question_id %>
</p>

<p>
  <b>Tag:</b>
  <%=h @question_attribute.tag_id %>
</p>

<p>
  <b>Tenant:</b>
  <%=h @question_attribute.tenant_id %>
</p>


<%= link_to 'Edit', edit_question_attribute_path(@question_attribute) %> |
<%= link_to 'Back', question_attributes_path %>
