<%= render :partial => "/layouts/courses_header" %>
<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'upload_courses' %>
<%= stylesheet_link_tag 'admin_my_account' %>
<%= javascript_include_tag 'ui/jquery-1.4.4' %>
<script type="text/javascript" charset="utf-8">
    function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);

</script>
<div id="div_container">
  <div id="div_mainpanel">
    <h1>My Account</h1>
    <div class="change_plan"><strong>My Plan: <%=h @current_plan.plan_name%></strong></div>
    <ul class="my_plan_details">
      <li class="plan_name_li"><% if @current_plan.id == 4 then%>
        <label >
        <%=h @current_plan.plan_name[0..12] %></label><br/>
          free trial
          <% else %>
        <label> <span class="WebRupee">Rs.</span><%=h @current_plan.amount %></label><br/>
          per year
        <% end %>
      </li>
      <li><label><%=h @current_plan.no_of_users %></label> <br/> learners</li>
      <li><label><%=h @current_plan.space_in_gb %> GB</label> <br/> Course Uploads </li>
      <li>Valid upto <br/><%=h @tenant.expiry_date.strftime('%d %b %Y') %></li>
      <li class="my_plan_details_l_li"></li>
    </ul>
    <div class="clearfix"></div>
    <div class="change_plan">
      <strong> Other Plans </strong> 
    </div>
   
    <div id="other_hidden_plans">
    <span class="business_type_label"></span>
    <% @pricing_plans.each { |plan| %>
        <form  method="post"  name="price_plan" action="/transactions/confirm_payment/<%= plan.id %>" >
          <div class="plans_list">
            <ul class="plan_list_ul">
              <li class="li_plan_amount1"><span><span class="WebRupee">Rs.</span><%=h plan.amount %></span><br/> per year </li>
              <li class="li_plan_users2"><span><%=h plan.no_of_users %></span><br/> Learners </li>
              <li class="li_plan_space3"><span><%=h plan.space_in_gb %> GB</span> <br/> Course Uploads </li>
              <input type="hidden" name="transaction_log[reference_no]" value="<%= Time.now.utc.strftime("%m%d%I%M%S") %>"/>
              <input type="hidden" name="transaction_log[transaction_status]" value="incomplete"/>
              <input type="hidden" name="transaction_log[pricing_plan_id]" value="<%= plan.id %>"/>
              <input type="hidden" name="transaction_log[user_id]" value="<%= current_user.id %>"/>
              <!-- <input type="hidden" name="transaction_log[http_header]" value="<%= request.env %>"/> -->
              <span class="li_plan_select"><input  class="plan_select_submit" type="submit" value="Select"/></span>
            </ul>
          </div>

      </form>
    <%  } %>
    </div>

  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>
<%= render :partial => "/layouts/courses_footer" %>
