<div id="div_container">
  <h3>Editing pricing_plan</h3>

<% form_for(@pricing_plan) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :plan_name %><br />
    <%= f.text_field :plan_name %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :no_of_users %><br />
    <%= f.text_field :no_of_users %>
  </p>
  <p>
    <%= f.label :space_in_gb %><br />
    <%= f.text_field :space_in_gb %>
  </p>
  <p>
    <%= f.label :allow_scorm %><br />
    <%= f.check_box :allow_scorm %>
  </p>
  <p>
    <%= f.label :allow_non_scorm %><br />
    <%= f.check_box :allow_nonscorm %>
  </p>
  <p>
    <%= f.label :allow_ppt %><br />
    <%= f.check_box :allow_ppt %>
  </p>
  <p>
    <%= f.label :allow_flash %><br />
    <%= f.check_box :allow_flash %>
  </p>
  <p>
    <%= f.label :allow_pdf %><br />
    <%= f.check_box :allow_pdf %>
  </p>
  <p>
    <%= f.label :allow_audio %><br />
    <%= f.check_box :allow_audio %>
  </p>
  <p>
    <%= f.label :allow_video %><br />
    <%= f.check_box :allow_video %>
  </p>
  <p>
    <%= f.label :allow_assessment %><br />
    <%= f.check_box :allow_assessments %>
  </p>
  <p>
    <%= f.label :expiry_date %><br />
    <%= f.text_field :plan_expiry %>
  </p>
  <p>
    <%= f.label :plan_group %><br />
    <%= f.text_field :plan_group %>
  </p>
  <p>
    <%= f.label :plan_type %>
    <%= f.text_field :plan_type %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>
  <div style="display:none">
<%= link_to 'Show', @pricing_plan %> |
<%= link_to 'Back', pricing_plans_path %>
  </div>
</div>