<div id="div_container">
  <h3>All plans</h3>
  <div class= "div_table" id="display">
    <table border="0" cellpadding="2px" cellspacing="0" >
      <tr>
        <th>Plan name</th>
        <th>Amount</th>
        <th>No of users</th>
        <th>Space in gb</th>
        <th>Allow scorm</th>
        <th>Allow non scorm</th>
        <th>Allow ppt</th>
        <th>Allow flash</th>
        <th>Allow pdf</th>
        <th>Allow audio</th>
        <th>Allow video</th>
        <th>Allow assessment</th>
        <th>Expiry date</th>
        <th>Plan Group</th>
        <th>Plan Type</th>
      </tr>

      <% i = 1
      for pricing_plan in @pricing_plans %>
        <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
          <td><%=h pricing_plan.plan_name %></td>
          <td><%=h pricing_plan.amount %></td>
          <td><%=h pricing_plan.no_of_users %></td>
          <td><%=h pricing_plan.space_in_gb %></td>
          <td><%=h pricing_plan.allow_scorm %></td>
          <td><%=h pricing_plan.allow_nonscorm %></td>
          <td><%=h pricing_plan.allow_ppt %></td>
          <td><%=h pricing_plan.allow_flash %></td>
          <td><%=h pricing_plan.allow_pdf %></td>
          <td><%=h pricing_plan.allow_audio %></td>
          <td><%=h pricing_plan.allow_video %></td>
          <td><%=h pricing_plan.allow_assessments %></td>
          <td><%=h pricing_plan.plan_expiry %></td>
          <td><%=h pricing_plan.plan_group %></td>
          <td><%=h pricing_plan.plan_type %></td>
        </tr>
      <%i = i+ 1
      end %>
    </table>
  </div>
  <%= link_to 'New pricing_plan', new_pricing_plan_path %>
</div>



