<div id="div_container">
  <h3>New pricing_plan</h3>

<%= form_for(@pricing_plan) do |f| %>
 

  <p>
    <%= f.label :plan_name %>
    <%= f.text_field :plan_name %>
  </p>
  <p>
    <%= f.label :amount %>
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :no_of_users %>
    <%= f.text_field :no_of_users %>
  </p>
  <p>
    <%= f.label :space_in_gb %>
    <%= f.text_field :space_in_gb %>
  </p>
  <p>
    <%= f.label :allow_scorm %>
    <%= f.check_box :allow_scorm %>
  </p>
  <p>
    <%= f.label :allow_non_scorm %>
    <%= f.check_box :allow_nonscorm %>
  </p>
  <p>
    <%= f.label :allow_ppt %>
    <%= f.check_box :allow_ppt %>
  </p>
  <p>
    <%= f.label :allow_flash %>
    <%= f.check_box :allow_flash %>
  </p>
  <p>
    <%= f.label :allow_pdf %>
    <%= f.check_box :allow_pdf %>
  </p>
  <p>
    <%= f.label :allow_audio %>
    <%= f.check_box :allow_audio %>
  </p>
  <p>
    <%= f.label :allow_video %>
    <%= f.check_box :allow_video %>
  </p>
  <p>
    <%= f.label :allow_assessment %>
    <%= f.check_box :allow_assessments %>
  </p>
  <p>
    <%= f.label :expiry_date %>
    <%= f.text_field :plan_expiry %>
  </p>
  <p>
    <%= f.label :plan_group %>
    <%= f.text_field :plan_group %>
  </p>
  <p>
    <%= f.label :plan_type %>
    <%= f.text_field :plan_type %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', pricing_plans_path %>
</div>