<div id="div_container">
  <h3>Editing pricing_plan</h3>
  <p>
    <b>Plan name:</b>
    <%=h @pricing_plan.plan_name %>
  </p>

  <p>
    <b>Amount:</b>
    <%=h @pricing_plan.amount %>
  </p>

  <p>
    <b>No of users:</b>
    <%=h @pricing_plan.no_of_users %>
  </p>

  <p>
    <b>Space in gb:</b>
    <%=h @pricing_plan.space_in_gb %>
  </p>

  <p>
    <b>Allow scorm:</b>
    <%=h @pricing_plan.allow_scorm %>
  </p>

  <p>
    <b>Allow non scorm:</b>
    <%=h @pricing_plan.allow_nonscorm %>
  </p>

  <p>
    <b>Allow ppt:</b>
    <%=h @pricing_plan.allow_ppt %>
  </p>

  <p>
    <b>Allow flash:</b>
    <%=h @pricing_plan.allow_flash %>
  </p>

  <p>
    <b>Allow pdf:</b>
    <%=h @pricing_plan.allow_pdf %>
  </p>

  <p>
    <b>Allow audio:</b>
    <%=h @pricing_plan.allow_audio %>
  </p>

  <p>
    <b>Allow video:</b>
    <%=h @pricing_plan.allow_video %>
  </p>

  <p>
    <b>Allow assessment:</b>
    <%=h @pricing_plan.allow_assessments %>
  </p>

  <p>
    <b>Expiry date:</b>
    <%=h @pricing_plan.plan_expiry %>
  </p>
  <p>
    <b>Plan Group:</b>
    <%= @pricing_plan.plan_group %>
  </p>
  <p>
    <b>Plan Type:</b>
    <%= @pricing_plan.plan_type %>
  </p>
  <div style="display:none">
    <%= link_to 'Edit', edit_pricing_plan_path(@pricing_plan) %> |
    <%= link_to 'Back', pricing_plans_path %>
  </div>
</div>