<h1>Editing test_pattern</h1>

<%= form_for(@test_pattern) do |f| %>
  <p>
    <%= f.label :pattern_name %><br />
    <%= f.text_field :pattern_name %>
  </p>
  <p>
    <%= f.label :no_of_sections %><br />
    <%= f.text_field :no_of_sections %>
  </p>
  <p>
    <%= f.label :section_names %><br />
    <%= f.text_field :section_names %>
  </p>
  <p>
    <%= f.label :instructions %><br />
    <%= f.check_box :instructions %>
  </p>
  <p>
    <%= f.label :feedback %><br />
    <%= f.check_box :feedback %>
  </p>
  <p>
    <%= f.label :total_duration %><br />
    <%= f.text_field :total_duration %> <%= "in mins" %>
  </p>
  <p>
    <%= f.label :topic_wise_timer %><br />
    <%= f.check_box :topic_wise_timer %>
  </p>
  <p>
    <%= f.label :duration_per_section %><br />
    <%= f.text_field :duration_per_section %> <%= "in mins" %>
  </p>
  <p>
    <%= f.label :questions_per_section %><br />
    <%= f.text_field :questions_per_section %>
  </p>
  <p>
    <%= f.label :correct_mark %><br />
    <%= f.text_field :correct_mark %>
  </p>
  <p>
    <%= f.label :wrong_mark %><br />
    <%= f.text_field :wrong_mark %>
  </p>
  <p>
    <%= f.label :random_order_questions %><br />
    <%= f.check_box :random_order_questions %>
  </p>
  <p>
    <%= f.label :question_wise_scoring %><br />
    <%= f.check_box :question_wise_scoring %>
  </p>
  <p>
    <%= f.label :skip_question %><br />
    <%= f.check_box :skip_question %>
  </p>
  <p>
    <%= f.label :view_attempted %><br />
    <%= f.check_box :view_attempted %>
  </p>
  <p>
    <%= f.label :view_unattempted %><br />
    <%= f.check_box :view_unattempted %>
  </p>
  <p>
    <%= f.label :view_marked %><br />
    <%= f.check_box :view_marked %>
  </p>
  <p>
    <%= f.label :view_results %><br />
    <%= f.check_box :view_results %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @test_pattern %> |
<%= link_to 'Back', test_patterns_path %>
