<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <!-- Tenant's Sign in  page Author : Rajesh -->
    <title><%=h @tenant.organization %> Learning Center - Sign in </title>
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
    <%= stylesheet_link_tag 'login_style'%>
  </head>
  <body>
    <% if @tenant.organization == "lionsherlms" then %>
      <div id="login_outer_div">
        <div id="login_container">
          <div id="top_login_header" style="background-color: <%= @tenant.theme %>; color:<%=h @tenant.text_color %>;">
            <font color=""><%= label(:post, :organization_name, @tenant.organization+' Learning Center',  :class => 'organization_name') %></font>
          </div>
          <div class="clearfix"></div>
          <div id="login_left">
            <div class="lgn_flash_notice"><%=h flash[:login_notice] %></div>
            <div class="lgn_reset_pwd"><%=h flash[:mail_sent_to_reset_password] %></div>
            <div class="lgn_flash_notice"><%=h flash[:wrong_email_for_tenant] %></div>
            <div class="lgn_flash_notice"><%=h flash[:not_active_user] %></div>
            <div class="clearfix"></div>
            <%= form_tag sessions_path do %>
              <p>
                <%= label_tag :login, " Email ", :class => 'lgn_email'  %><br />
                <%= text_field_tag :email, params[:email], :size => 20, :maxlength => 50 %>
              </p>
              <p>
                <%= label_tag :password,"Password", :class => 'lgn_password' %><br />
                <%= password_field_tag :password, params[:password], :class => 'fld_password', :maxlength => 50 %>
              </p>
              <p>
                <%= submit_tag "Sign in" , :class => 'login' %>
                <%= link_to 'forgot password?', '/forgot' , :class => 'lnk_fgt_pwd'%>
              </p>
            <% end %>
          </div>
          <div id="login_right">
            <div id="lgn_logo"><%= render :partial => "/courses/logo" %></div>
          </div>
          <div class="clearfix"></div>
        </div>
        <%= label(:post, :Powered_by_Lionsher, "Powered by Lionsher" , :class => 'pwd_by_lionsher' ) %>
      </div>
    <% else %>
      <div id="login_outer_div">
        <div id="login_container">
          <div id="top_login_header" style="background-color: <%= @tenant.theme %>; color:<%=h @tenant.text_color %>;">
            <%= label(:post, :organization_name, @tenant.organization+' - Sign In',  :class => 'organization_name') %>
          </div>
          <div class="clearfix"></div>
          <div id="login_left">
            <div class="lgn_flash_notice"><%=h flash[:login_notice] %></div>
            <div class="lgn_reset_pwd"><%=h flash[:mail_sent_to_reset_password] %></div>
            <div class="lgn_flash_notice"><%=h flash[:wrong_email_for_tenant] %></div>
            <div class="lgn_flash_notice"><%=h flash[:not_active_user] %></div>
            <div class="clearfix"></div>
            <form action="/sessions/login_based_redirection" method="post">
              <p>
                <label class="lgn_email" for="login"> Email </label><br />
                <input id="email" maxlength="50" name="email" size="20" type="text" />
              </p>
              <p>
                <label class="lgn_password" for="password">Password</label><br />
                <input class="fld_password" id="password" maxlength="50" name="password" type="password" />
              </p>
              <p>
                <input class="login" name="commit" type="submit" value="Sign in" />
                <a href="/forgot" class="lnk_fgt_pwd">forgot password?</a>
              </p><br/>
              <div class="horizontal_line"></div>
              <p><label style="font-size: 12px;">Got a Coupon Code?</label><br/>
                <label class="lgn_email">Enter the 16 digit code</label><br/>
                <input type="text" name="username" id="coupon_code"/>
              </p>
              <input name="commit" type="submit" class="login" value="Submit"/>
            </form>
          </div>
          <div id="login_right">
            <div id="lgn_logo">
              <%= render :partial => "/courses/logo" %>
            </div>
          </div>
          <div class="clearfix"></div>
        </div>
        <%= label(:post, :Powered_by_Lionsher, "Powered by Lionsher" , :class => 'pwd_by_lionsher' ) %>
      </div>
    <% end %>

  </body>
</html>
