<table border="0" cellspacing="0">
  <tr>
    <th class="wider_column"> </th>
    <th class="normal_column">Questions</th>
    
    <th class="normal_column">Topics</th>
    <th class="normal_column">Subtopics</th>
    <th class="normal_column">Errors</th>
    <th class="normal_column">Flagged</th>
  </tr>
  <% i = 1
  @question_banks.each do |qb|
    questions = qb.questions %>
    <tr <% if i % 2 != 0 %> class="even" <% else %> class="odd" <% end %>>
      <td style="text-align:left;">
        <% unless qb.topics.uniq.length == 0 %>
          <a href="/question_banks/topic_list/<%= qb.id %>">
            <% if qb.name.length >= 20 %><%=h qb.name[0..19] %>&hellip;<% else %><%=h qb.name %><% end %>
          </a>
        <% else %>
          <% if qb.name.length >= 20 %><%=h qb.name[0..19] %>&hellip;<% else %><%=h qb.name %><% end %>
        <% end %><i><%= qb.type_of_question_bank %></i>
      </td>
      <td><% if questions.length == 0 %><a href="/question_banks/upload_questions/<%= qb.id %>">Add</a><% else %><a href="/question_banks/show_all_questions/<%= qb.id %>?from=question_bank_list"><%=h questions.length %></a><% end %></td>
      
      <td><% if questions.length == 0 %><a>Add</a><% else %><a href="/question_banks/topic_list/<%= qb.id %>"><%=h qb.topics.uniq.length %></a><% end %></td>
      <td><% unless qb.subtopics.uniq.length == 0 %><%=h qb.subtopics.uniq.length %><% end %></td>
      <td><% unless qb.errors.length == 0 %><a href="/question_banks/show_all_error_questions/<%= qb.id %>?from=question_bank_list"><%=h qb.errors.length %></a><% end %></td>
      <td class="border_none"><% if qb.type_of_question_bank != "Default" and questions.length != 0 %><a href="/question_banks/delete_related_data_for_question_bank/<%= qb.id %><% if params.include?"page" %>?page=<%= params[:page] %><% end %>">Delete</a><% else %><a href="/question_banks/delete_qb/<%= qb.id %><% if params.include?"page" %>?page=<%= params[:page] %><% end %>">Delete</a><% end %></td>
    </tr>
    <% i = i + 1
  end %>
</table>