<%= stylesheet_link_tag 'cat_header_footer' %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<%= render :partial => "/assessments/cat_test_pattern" %>
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>
<div id="cat_footer">
  <table border="0" cellspacing="0" cellpadding="0">
    <tr>
      <td>
        <input class="previous_button" type="button" value="Previous" onclick="goto_next_previous_question('question_answer_div_<%= @j %>','question_answer_div_<%= @j-1 %>')" <% if @j == 1 then %>style="display:none;" <% else %> style="display:block;" <% end %> />
      </td>
      <td style="padding-left: 20px;">
        <% unless @test_detail.marked_status == "marked" %>
          <img src="/assets/cat_test_pattern/mark.png" alt="mark" id="<%= @j %>_mark"
               style="display:block;"
               onclick="mark_question('<%= @j %>_mark','<%= @j %>_unmark'),new Ajax.Request('/assessments/ajax_mark_question_multi_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
          <img src="/assets/cat_test_pattern/unmark.png" alt="unmark" id="<%= @j %>_unmark"
               style="display: none;"
               <% unless @test_details[@j].nil? %>
                 onclick="mark_question('<%= @j %>_unmark','<%= @j %>_mark'),new Ajax.Request('/assessments/ajax_unmark_question_multi_page_test/'+<%= @test_detail.id %>+'?lesson_location='+<%= @test_details[@j].serial_number - 1 %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"
               <% else %>onclick="mark_question('<%= @j %>_unmark','<%= @j %>_mark'),new Ajax.Request('/assessments/ajax_unmark_question_multi_page_test/'+<%= @test_detail.id %>+'?lesson_location='+<%= @test_details[0].serial_number - 1 %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"<% end %> />
             <% else %>
          <img src="/assets/cat_test_pattern/mark.png" alt="mark" id="<%= @j %>_mark"
               style="display:none;"
               onclick="mark_question('<%= @j %>_mark','<%= @j %>_unmark'),new Ajax.Request('/assessments/ajax_mark_question_multi_page_test/'+<%= @test_detail.id %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"/>
          <img src="/assets/cat_test_pattern/unmark.png" alt="unmark" id="<%= @j %>_unmark"
               style="display:block;"
               <% unless @test_details[@j].nil? %>
                 onclick="mark_question('<%= @j %>_unmark','<%= @j %>_mark'),new Ajax.Request('/assessments/ajax_unmark_question_multi_page_test/'+<%= @test_detail.id %>+'?lesson_location='+<%= @test_details[@j].serial_number - 1 %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;"
               <% else %>onclick="mark_question('<%= @j %>_unmark','<%= @j %>_mark'),new Ajax.Request('/assessments/ajax_unmark_question_multi_page_test/'+<%= @test_detail.id %>+'?lesson_location='+<%= @test_details[0].serial_number - 1 %>,{asynchronous:true, evalScripts:true, parameters:Form.serialize(this)}); return true;" <% end %> />
             <% end %>
      </td>
      <td>
        <a href="/assessments/cat_review/<%= @current_learner.id %>"><%= image_tag 'cat_test_pattern/review.png', :id => "review_button" %></a>
      </td>
      <td>
        <input class="next_button" type="button" value="Next" onclick="goto_next_previous_question('question_answer_div_<%= @j %>','question_answer_div_<%= @j+1 %>')" <% if @j == @test_details.count then %>style="display:none;" <% else %> style="display:block;" <% end %> />
      </td>
    </tr>
  </table>
</div>