<!DOCTYPE HTML PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>

    <title>Learning Center</title>

    <!-- all css starts here -->
    <%= stylesheet_link_tag 'courses_header'  %>
    <%= stylesheet_link_tag 'courses_footer'  %>
    <%= javascript_include_tag 'themes' %>
<%#= javascript_include_tag 'ui/jquery-1.4.4' %>
<%#= javascript_include_tag 'ui/corner_style' %>
    <!-- all css ends here -->
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
  </head>
  <body>
    <% if (current_user.tenant_id.nil? or current_user.tenant_id.blank? or current_user.tenant_id == 0)
      @tenant = Tenant.find_by_custom_url(request.subdomain)
      current_user.update_attribute(:tenant_id, @tenant.id)
    end
  %>
    <!--head begins-->
    <div id="head">
      <!--div_upper_right begins-->
      <div id="div_upper_right">
        <% if current_user.typeofuser == "admin" or current_user.typeofuser == "individual buyer" or current_user.typeofuser == "corporate buyer" %>
          <% if (current_user.typeofuser == "admin" or current_user.typeofuser == "corporate buyer") and (params[:action] == "mycourses" or params[:action] == "feedback" or params[:action] == "learner_information" or params[:action] == "show_status") or params[:action] == "learner_question_paper" %>
            &nbsp;<a class="toggle_admin_learner" href="/courses">change to admin view</a>&nbsp;&nbsp;|
          <% elsif current_user.typeofuser == "admin" and params[:action] == "assessment"
            current_learner = Learner.find_by_id(params[:id])
            case(current_learner.type_of_test_taker)
            when "admin" %>
              &nbsp;<a class="toggle_admin_learner" href="/mycourses">change to learner view</a>&nbsp;&nbsp;|
            <% else %>
              &nbsp;<a class="toggle_admin_learner" href="/courses">change to admin view</a>&nbsp;&nbsp;|
            <% end %>
          <% elsif current_user.typeofuser == "admin" or current_user.typeofuser == "corporate buyer" %>
            &nbsp;<a class="toggle_admin_learner" href="/mycourses">change to learner view</a>&nbsp;&nbsp;|
          <% end %>
          &nbsp;<a class="admin_myaccount_head_bold" href="/my_account">my account</a>&nbsp;&nbsp;|
        <% end %>
        &nbsp;<%=h current_user.login %>&nbsp;&nbsp;|&nbsp;&nbsp;<a href="/logout">Logout</a>
      </div>
      <!--div_upper_right ends-->

      <!--if starts-->
      <% if current_user.typeofuser == "admin" or current_user.typeofuser == "individual buyer" or current_user.typeofuser == "corporate buyer" then %>
        <!--div_upper_left begins-->
        <div id="div_upper_left">
          <% if current_user.typeofuser == "individual buyer" %>
            <a class="home_head_bold" href="/mycourses">home</a>
          <% else %>
            <a class="home_head_bold" href="/courses">home</a>
          <% end %>
          <% if (current_user.typeofuser == "admin" or current_user.typeofuser == "corporate buyer") and params[:action] == "mycourses" or current_user.typeofuser == "individual buyer" %>
          <% else %>&nbsp; |
            &nbsp;<a class="customise_head_bold" href="/courses/customize/<%=h current_user.id %>">customize</a>&nbsp; |
            &nbsp;<a class="reports_head_bold" href="/reports/course_report/<%=h current_user.id %>">reports</a>&nbsp; |
            &nbsp;<a class="learners_head_bold" href="/users/listing_all_learners/<%=h current_user.id %>">Learners</a>&nbsp; |
            &nbsp;<a class="learners_head_bold" href="/question_banks/question_bank_list/<%=h current_user.id %>">Question Banks</a>&nbsp;
          <% end %>
        </div>
      <% end %>
      <!--if ends-->
      <!--div_upper_left ends-->

      <!--if starts-->
      <% if current_user.typeofuser == "learner" then %>
        <!--div_upper_left begins-->
        <div id="div_upper_left">
          <a class="home_head_bold" href="/mycourses">home</a>
          &nbsp;|&nbsp; <a class="myaccount_head_bold" href="/courses/learner_myaccount/<%=h current_user.id %>">My Account</a>
        </div>
      <% end %>

      <% if current_user.typeofuser == "seller" then %>
        <!--div_upper_left begins-->
        <div id="div_upper_left">
          <a class="home_head_bold" href="/course_store/sellers_courses/<%=h current_user.id %>">home</a>&nbsp; |
          &nbsp;<a class="learners_head_bold" href="">My Profile</a>&nbsp;
        </div>
      <% end %>
      <!--if ends-->
      <!--div_upper_left ends-->

      <!-- div_head begins-->

      <div id="div_head" style="background: <%=h current_user.tenant.theme %>;">
        <div id="org" style="color:<%=h current_user.tenant.text_color %>;"><%=h current_user.tenant.organization %></div>
        <p style="display:none;">$(this).corner("top");</p>
      </div>
      <!-- div_head ends-->
    </div>
    <!--head ends-->
    <script type="text/javascript">
      $(function(){

        $('div#div_head, div.type_of_uploads, div.inner').each(function() {
          var t = $('p', this).text();
          eval(t);
        });

      });
    </script>