<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title><%=h @page_title %></title>
    <!-- all css starts here -->

    <%= stylesheet_link_tag 'lionsherhome_header'  %>
    <%= stylesheet_link_tag 'lionsherhome_footer'  %>

    <!-- all css ends here -->
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
  </head>
  <body>


    <div id="main_header">
      <div id="logo"><a href="/"><%= image_tag "lionsher_logo_final.png", :alt => "missing" %></a></div>
      <div id="main_tabs">
        <div class="tab" id="home"><a href="/">Home</a></div>
        <div class="tab" id="benefits"><a href="/benefits_individual_trainer">Benefits</a></div>
        <div class="tab" id="features"><a href="/features_cost_effective">Features</a></div>
        <div class="tab" id="pricing"><a href="/pricing_rupees">Pricing</a></div>
        <div class="tab" id="tests"><a href="/tests">Tests</a></div>
        <div class="tab" id="course_store"><a href="/course_store">Course Store</a></div>
      </div>

      <div class="shadow_line"> &nbsp;</div>
    </div>