<%= stylesheet_link_tag 'courses_content' %>
<%= render :partial => '/layouts/courses_header' %>
<div id="div_container">
	<div id="div_mainpanel">
		<h1>Create Report Components for "<%= @template.name %>"</h1>
		<form action="/report_components/save_report_components/<%= @template.id %>" method="post">
			<% unless @report_components.nil? or @report_components.blank? %>
			<table>
				<tr>
					<th align="center">Existing components</th>
				</tr>
				<% @report_components.each do |component| %>
				<tr>
					<td><%=h component.component_name %></td>
					<td><a href="/component_widgets/create_component_widgets/<%=h component.id %>?template=<%= @template.id %>">View details</a></td>	
				</tr>
				<% end %>
			</table>
			<% end %>
			<table>
				<tr>
					<td>
						<input type="text" name="report_component"/>
						<input type="submit" name="button" value="+"/>
					</td>
				</tr>
			</table>
		</form>
		<a href="/report_templates/show_templates/1">Back</a>
	</div> <%# end of div_mainpanel %>
	<div id="div_sidepanel">
		<%= render :partial => "/courses/logo" %>
	</div> <%# end of div_sidepanel %>
</div> <%# end of div_container %>
<%= render :partial => '/layouts/courses_footer' %>