<%= form_for(@tagvalue) do |f| %>
  <div class="field">
    <%= f.label :value %><br />
    <%= f.text_field :value %>
  </div>
  <div class="field">
    <%= f.label :tag_id %><br />
    <%= f.number_field :tag_id %>
  </div>
  <div class="field">
    <%= f.label :tagvalue_id %><br />
    <%= f.number_field :tagvalue_id %>
  </div>  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>