<html>
<head></head>
<body>
<%if @user.typeofuser=="admin" then%>
Hello <%=h @user.login%>,<br/><br/>

Thank you for choosing LionSher. You now have an LMS complete with your company's logo and colors. To assign courses or assessments to learners or view the reports, click <br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/><br/>

Your Email: <%=h @user.email%>

You are under a 14-day free trial period. Upgrade your account at any time in these 14 days by making the payment. To make payments, click on My Account section while logged into LionSher.<br/><br/>

For any support, please contact us at support@lionsher.com<br/><br/>

Regards,<br/>
LionSher Team

<%elsif @user.typeofuser=="learner" then%>
Hello <%=h @user.login%>,<br/><br/>

You have been added as a learner in <%=h @tenant.organization%> Learning Center. To take any courses or assessments assigned to you, click <br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/><br/>

Your Email: <%=h @user.email%><br/><br/>

Regards,<br/>
LionSher Team
<%end%>
</body>
</html>