<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head><body>
Hello <%=h @user.login%>,<br/><br/>

You have been assigned <%=h @course.course_name%> course. To take this course, click<br/><br/>

<a href="<%=h @url%>"><%=h @course.course_name%></a><br/>
If you cannot click the above link, copy and paste the above link in the browser.<br/><br/>

Your Email: <%=h @user.email%><br/><br/>

Regards,<br/>
LionSher Team
</body>
</html>