<html>
<head></head>
<body>
Hello,<br/><br/>

<%=h @user.name %> is interested in buying Lionsher Tests pack. The details are as follows:<br/><br/>

Name : <%=h @user.name %><br/>
Email : <%=h @user.email %><br/>
Phone Number : <%=h @user.phone_number %><br/>
Number of Users : <%=h @number_of_users %><br/>
Frequency of Tests : <%=h @frequency_of_tests %><br/><br/>

Regards,<br/>
LionSher Team

</body>
</html>