<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'upload_course' %>
<%= stylesheet_link_tag 'assessment_manual' %>
<%= stylesheet_link_tag 'structure_components' %>
<%= javascript_include_tag 'create_assessment' %>
<%= render :partial => '/layouts/courses_header' %>
<div id="div_container">
  <div id="div_mainpanel">
    <h3><b>Instructions</b></h3>
    <form name="myform" action="/instructions/save_instruction/<%=h @structure_component.id %>" method="post">
      <label for="assessment_description">Instructions for test participants <i>Optional</i></label><span id="assessment_info_char_left_desc_label">These will be shown on the start of the test</span>
      <textarea id="test_instruction" name="instructions" style="overflow: auto; " cols=""  onkeyup="textCounter(this,document.myform.remLen2,1500)" onclick="textCounter(this,document.myform.remLen2,1500)"><% unless @structure_component.instruction.nil? or @structure_component.instruction.blank? %><%=h @structure_component.instruction.instruction_text %><% end %></textarea><br/>
      <span id="assessment_info_char_left_test_instruction"><input disabled type="text" name="remLen2" size="5" maxlength="4" value="1500"/>&nbsp;&nbsp;&nbsp;characters left</span><br/>
      <hr/>
      <input type="submit" name="submit" value="Done" class="done_button" />
    </form>
    <a href="/structure_components/delete_component/<%=h @structure_component.id %>" style="color:blue;margin-left: 560px;">Delete</a> |
   <a href="/structure_components/create_structure/<%= @structure_component.assessment_id %>" style="color:blue;">Cancel</a>
  </div> <%# end of div_mainpanel %>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div> <%# end of div_sidepanel %>
</div> <%# end of div_container %>
<%= render :partial => '/layouts/courses_footer' %>