<p id="notice"><%= notice %></p>

<p>
  <b>Component widget:</b>
  <%= @component_widget_variable.component_widget_id %>
</p>

<p>
  <b>Report variable:</b>
  <%= @component_widget_variable.report_variable_id %>
</p>


<%= link_to 'Edit', edit_component_widget_variable_path(@component_widget_variable) %> |
<%= link_to 'Back', component_widget_variables_path %>
