<p id="notice"><%= notice %></p>

<p>
  <b>Instruction text:</b>
  <%= @instruction.instruction_text %>
</p>

<p>
  <b>Structure component:</b>
  <%= @instruction.structure_component_id %>
</p>

<p>
  <b>Tenant:</b>
  <%= @instruction.tenant_id %>
</p>


<%= link_to 'Edit', edit_instruction_path(@instruction) %> |
<%= link_to 'Back', instructions_path %>
