<h1>Listing subscriptions</h1>

<table>
  <tr>
    <th>Id</th><th>&nbsp;&nbsp;&nbsp;&nbsp;</th><th>Email</th>
  </tr>

<% for subscribe in @subscribes %>
  <tr>
    <td><%=h subscribe.id %></td><td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%=h subscribe.email %></td>
    <td>&nbsp;&nbsp;&nbsp;&nbsp;</td><td><%= link_to 'Show', subscribe %> |
<%= link_to 'Edit', edit_subscribe_path(subscribe) %> | <%= link_to 'Destroy', subscribe, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br/>

<%= link_to 'New subscription', new_subscribe_path %>
