<% pattern_name = @assessment.test_pattern.pattern_name
if pattern_name != "CMAT" and pattern_name != "CAT" and pattern_name != "AIEEE"  %>
  <%= render :partial => "/assessments/mark_unmark_for_multi_page_test" %>
<% end %>
<% if pattern_name == "CAT" %>
<%= render :partial => "/layouts/cat_test_pattern_header" %>
<% end %>
<% if pattern_name == "CMAT" %>
  <b>Question <%=h @test_detail.serial_number %>
    of <%=h @assessment.no_of_questions %></b><br/><br/>
<% end %>
<div class="questions">
  <%= render :partial => "/assessments/question_for_multi_page_test" %>
  <%= render :partial => "/assessments/answer_for_multi_page_test" %>
</div> <%# end of questions div %>
<br/>
<%# deselect,previous,next,flag,unflag,submit buttons for cmat test %>
  <%  if pattern_name == "CMAT" %>
    <%= render :partial => "/assessments/navigation_buttons_for_cmat" %>
  <% end %> <%# end of if CMAT %>
<%# next, previous and submit test buttons for multi page test %>
<% if pattern_name != "CMAT" and pattern_name != "CAT" and pattern_name != "AIEEE" %>
  <%= render :partial => "/assessments/navigation_buttons_for_multi_page_test" %>
<% end %>

<%# footer for CAT TEST %>
<% if pattern_name == "CAT" %>
  <%= render :partial => "/layouts/cat_test_pattern_footer" %>
<% end %>