<% if current_user.question_banks.find(:all,:conditions => "no_of_questions > 0").length != 0 then %>
<div id="previous_assessments_for_single" style="display:none;">
  <table class="prev_table" border="0" cellpadding="2px" cellspacing="0" >
    <th></th>
    <th class="name"> Name</th>
    <th class="number_of_quest">Number of Questions</th>
    <th class="created_on">Created on</th>
    <th class="prev">Preview</th>
    <% i=1 %>
    <% current_user.question_banks.find(:all,:conditions => "no_of_questions > 0").each { |pre_ass| %>
      <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
        <td class="radio_btn"><input type="radio" id="single_<%= i %>" name="radio_check" <% if i == 1 %>checked<% end %> value="<%=h pre_ass.id %>"/></td>
        <td><%=h pre_ass.name %></td>
        <td class="number_of_quest_data"><%=h pre_ass.no_of_questions%></td>
        <td class="created_on"><%=h pre_ass.created_at.strftime("%d %b %Y") %></td>
        <td class="prev_data"><a href="/question_banks/show/<%= pre_ass.id %>">View</a></td>
      </tr>
      <% i = i+1
    } %>
  </table>
</div>
<% else %>
<div id="previous_assessments_for_single" style="display:none;">
  <li>You have no previous assessments</li>
</div>
<% end %>