<%
if !@current_learner.question_status_details.nil?
  question_status = @current_learner.question_status_details.split(',')
else
  question_status = ""
end
%>

<div id="right_panel">
  <div align="center"><h4>Questions</h4></div>
  <table style="margin-top:-2%;" width="100%" cellspacing="0" cellpadding="0" border="0" valign="top">
    <% k = 1
    for i in 1..(@assessment.no_of_questions.to_f/4).ceil
    %>
      <tr>
        <% for j in 1..4
          if k <= @assessment.no_of_questions %>
            <td>
              <% if question_status[k - 1] == "A" %>
                <a class="question_buttons" style="background-color: #698B22;" href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a>
              <% elsif question_status[k - 1] == "I" %>
                <a class="question_buttons" style="background-color: #CD0000;" href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a>
              <% elsif question_status[k - 1] == "M" %>
                <a class="question_buttons" style="background-color: #CFCDFF;" href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"><%=h k %></a>
              <% else %>
                <a class="question_buttons" <% if @assessment.skip_question %>href="/assessments/goto_question/<%=h k %>?current_learner=<%=h @current_learner.id %>"<% end %>><%=h k %></a>
              <% end %>
            </td>
            <% k = k + 1
          end
        end %>
      </tr>
    <% end %>
  </table>
  <form name="form_test_pattern" action="/assessments/feedback/<%=h @current_learner.id %>" method="post"/>
  <div id="div_side_panel_buttons">
    <div class="side_panel_buttons">
      <a href=""><input class="Instruction_profile_exit" type="button" value="Instruction"/></a>
    </div>
    <div class="side_panel_buttons">
      <a href=""><input class="Instruction_profile_exit" type="button" value="Profile"/></a>
    </div>
    <div class="side_panel_buttons">
      <a id="exit_exam" href="" onclick="exit_confirmation('/assessments/feedback/<%=h @current_learner.id %>','Are you sure you want to exit the current test ?');"><input class="Instruction_profile_exit" type="button" value="Exit"/></a>
    </div>
  </div>
</div>