<h3>Duration</h3>
<div class="schedule_type">
  <% if params[:action] == "edit_assessment_details" %>
    <input type="radio" class="checkbox_input" name="assessment[time_bound]" value="time_bound" <% if @assessment.time_bound == "time_bound" then %>checked<% end %>/>
  <% else %>
    <input type="radio" class="checkbox_input" name="assessment[time_bound]" value="time_bound" checked/>
  <% end %>
  <span><label class="checkbox_label">Time bound</label></span>
  <span>A fixed duration assessment with timer</span>
</div>
<div class="shedule_details" style="margin-bottom:20px;">
  <select id="duration_hour" class="left_corner_select" name="assessment[duration_hour]">
    <% for i in 0..12 %>

      <% if params[:action] == "edit_assessment_details" && @assessment.time_bound == "time_bound" then %>
        <option <% if @assessment.duration_hour == i %>selected<% end %> value="<%=h i %>"><%=h i %> hr</option>
      <%  else %>
        <option <% if i == 1 %>selected<% end %> value="<%=h i %>"><%=h i %> hr</option>
      <% end %>

    <% end %>
  </select><span></span>
  <select id="duration_min" class="mid_select" name="assessment[duration_min]" style="margin-right:0px;">
    <% (0..55).step(5) { |i| %>
      <% if params[:action] == "edit_assessment_details" && @assessment.time_bound == "time_bound" then %>
        <option <% if @assessment.duration_min == i %>selected<% end %> value="<%=h i %>"><%=h i %> min</option>
      <%else%>
        <option <% if i == 0 %>selected<% end %> value="<%=h i %>"><%=h i %> min</option>
      <%end%>
    <% } %>
  </select><span></span>
  <span id="duration_blank_div" style="display: none;">Duration can not be 0</span>
</div>
<div class="schedule_type">
  <% if params[:action] == "edit_assessment_details" %>
    <input type="radio" class="checkbox_input" name="assessment[time_bound]" value="not_time_bound" <% if @assessment.time_bound != "time_bound" then %>checked<% end %>/>
  <% else %>
    <input type="radio" class="checkbox_input" name="assessment[time_bound]" value="not_time_bound"/>
  <% end %>
  <span><label class="checkbox_label">Not timed</label></span>
  <span>Duration depends on the schedule. Mainly used for self paced assessment.</span>
</div>