<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'assessment_manual' %>
<%= javascript_include_tag 'add_more_topics_to_assessment' %>
<%= javascript_include_tag 'assessment' %>

<script type="text/javascript">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>

<div id="div_container">
  <div id="div_mainpanel">
    <%= image_tag "add_questions.png", :class => "image_strip", :alt => "" %>

    <form name="myform" onsubmit="javascript:return validation('topic','topic_name_msg');" method="post" action="/assessments/update_assessment/<%=h @assessment.id %>" enctype="multipart/form-data">
      <ul type="none">
        <li>  <label id="label_add_question" ><%=h @assessment.name %></label></li>
        <li id="question_bank_name">
          <label for="question_bank_name"></label><br />
          <% @i = 1
          @assessments_question_banks = AssessmentsQuestionBank.find_all_by_assessment_id(@assessment.id, :order => 'id')
          @assessments_question_banks.each do |assessment_question_bank|
            @obj_question_bank = QuestionBank.find_by_id(assessment_question_bank.question_bank_id)
            if @assessment.test_pattern.id == 1 %>
              <label id="question_bank_name_add_quest" for="question_bank_name_add_quest">Topic - <%=h @i %> <%=h @obj_question_bank.name %> <i><%=h @obj_question_bank.no_of_questions %> questions</i></label><br />
            <% else %>
              <label id="question_bank_name_add_quest" for="question_bank_name_add_quest">Topic - <%=h @i %> <%=h @obj_question_bank.name %> <i><%=h @assessment.test_pattern.questions_per_section.split(',')[@i-1] %> questions</i></label><br />
            <% end %>
            <% @i = @i + 1
          end %>
        </li>
      </ul>

      <%= render :partial => "/assessments/topic_name_in_add_more_topics" %>

      <%= render :partial => "/assessments/previous_assessments_for_multi" %>

    </form>

  </div>

  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>