<%= stylesheet_link_tag 'cat_test_pattern'%>
<%= stylesheet_link_tag 'cat_header_footer'%>
<%= stylesheet_link_tag 'for_ie_7'  %>
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>
<script type="text/javascript">
  function quit_test_validation(){
    var answer = confirm("You have incomplete(unanswered) questions.Do you wish to end? If you click OK, your test will end and you will not be able to open it again.Click Cancel to return to the review screen");
    if(answer){
      return true;
    } else {
      return false;
    }
  }
</script>
<div id="cat_header">
    <table border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td style="padding-left: 30px;">
          IIM Common Admission Test
        </td>
        <td> </td>
        <td style="text-align: right;padding-right: 100px;">
          <%= render :partial => '/assessments/side_timer' %>
        </td>
      </tr>
    </table>
  </div>
<div id="div_container">
  <br/><br/><br/><br/>
  <span id="review_heading">Use the remaining time to review the questions.</span>
  <table align="center" border="1" width="90%" cellspacing="0" id="review_table">
    <col width="25%"> </col>
    <col width="25%"> </col>
    <col width="25%"> </col>
    <col width="25%"> </col>
    <tr>
      <th>Questions</th>
      <th>Marked</th>
      <th>Incomplete</th>
      <th>Complete</th>
    </tr>
    <% i = 0 %>
    <% @cat_review.each do |review| %>
      <tr>
        <td>
          <% if review[1] == "Yes" %>
            <%= image_tag 'cat_test_pattern/marked.png' %>
          <% elsif review[2] == "Yes" %>
            <%= image_tag 'cat_test_pattern/incomplete.png' %>
          <% elsif review[3] == "Yes" %>
            <%= image_tag 'cat_test_pattern/completed.png' %>
          <% end %>
          <a class="question_buttons" href="/assessments/cat_goto_question/<%= @test_details[i-1].id %>?lesson_location=<%= i %>" style="cursor:pointer;text-decoration:none;color:black;" >Question <%= i+1 %></a>
        </td>
        <td><%= review[1] %></td>
        <td><%= review[2] %></td>
        <td><%= review[3] %></td>
      </tr>
      <% i = i + 1 %>
    <% end %>
  </table>
  <div id="review_info">
    <center>
      <span style="font-weight:400;">Click on the question you want to review.</span><br/><br/><br/>
      <b>Symbols Key<br/><br/>
        <%= image_tag 'cat_test_pattern/marked.png' %>= Marked question <%= image_tag 'cat_test_pattern/completed.png' %>= Completed question <%= image_tag 'cat_test_pattern/incomplete.png' %>= Incomplete question<br/><br/>
      </b>
    </center>
  </div>
  <div id="cat_footer">
      <table border="0" cellspacing="0" cellpadding="0">
        <tr>
          <td style="padding-left: 30px;">
            <% if @incomplete == 1 %>
              <a href="/assessments/show_skipped/<%= @current_learner.id %>"><%= image_tag 'cat_test_pattern/review_incomplete.png', :id => "review_incomplete" %></a>
            <% end %>
          </td>
          <td style="text-align:center;">
            <% if @marked == 1 %>
              <a href="/assessments/show_marked/<%= @current_learner.id %>"><%= image_tag 'cat_test_pattern/review_marked.png', :id => "review_marked" %></a>
            <% end %>
          </td>
          <td style="padding-right: 90px;text-align: right;">
            <a href="/assessments/quit_assessment/<%= @current_learner.id %>" onclick="javascript:return quit_test_validation();"><%= image_tag 'cat_test_pattern/quit_test.png', :id => "quit_test" %></a>
          </td>
        </tr>
      </table>
  </div>
</div>
