<% if @assessment.test_pattern.pattern_name == "AIEEE" %>
  <%= stylesheet_link_tag 'aieee_header' %>
  <%= stylesheet_link_tag 'question_one' %>
<% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
  <%= stylesheet_link_tag 'cmat_test_pattern' %>
  <%= stylesheet_link_tag 'cmat_test_welcome' %>
<% end %>

<div id="div_container">
  <form name="form_assessment"  id="assessment_form" action="/assessments/save_learner_information/<%=h @current_learner.id %>" method="post">
    <div id="div_mainpanel">
      <% if @assessment.test_pattern.pattern_name == "AIEEE" %>
        AIEEE second instruction page
        <input id="sign_in" type="submit" name="next" value="Next"/>
      <% elsif @assessment.test_pattern.pattern_name == "CMAT" %>
        <div id="header">
          <div id="cmat_header_img"><%= image_tag "cmat_test_pattern/header.png", :width => "760" %></div>
          <div class="cmat_header_strip">&nbsp;</div>
        </div>

        <div class="test_description_scroll">
          <ul class="buttons_ul">
            <li>The questions appear one at a time.</li>
            <li>Bulleted number list of all questions appears at the right hand side of the screen.</li>
            <li>Keep a close watch on 'Time Left'.</li>
            <li>The 'Timer' of the test starts only when the "Start Test" button is clicked.</li>
            <li>The answers can be changed at any time during the test.</li>
            <li>It is possible to review the answered as well as the un-answered questions.</li>
            <li>If you wish to unmark an answered question, click the 'Deselect' button. The option would get deselected.</li>
            <li>Use 'Submit' only when you want to exit the test.</li>
            <li>The 'Submit' button will be enabled only when you view all the questions at least once.</li>
            <li>The test is automatically stopped if the time alloted is over.</li>
          </ul>
          <p style="margin-top: 25px;margin-left: 230px; font-size: 13px;font-weight: bold;">Click on the "Start Test" button to proceed...</p>
        </div>
      <% end %>
    </div>
    <div id="div_sidepanel"><div id="right_panel" style=""></div><input id="start_test" type="submit" name="next" value="Start Test"/></div>
  </form>
</div>