<!-- Learner's set password page. Control comes here after clicking on activation link in activation mail for learner
Author : Aarthi -->

<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>

<%= stylesheet_link_tag 'signup' %>
<%= stylesheet_link_tag 'assessment_learner_password' %>
<%= stylesheet_link_tag 'for_ie_7' %>
<%= javascript_include_tag 'learners_set_password' %>

<body onload="default_uncheck()">    
  <div id="div_container" >
    <div id="div_mainpanel" style="border-right: 1px dotted #cccccc;">
      <div class="flash_confirmation" style="margin-left: 15px;color: green; "><%=h flash[:details_not_filled] %></div>
      <form id="assessment_learner_pass" action="/assessments/save_learner_information/<%=h params[:id] %>" method="post" onsubmit="javascript:return validation();" enctype="multipart/form-data">
        <% if !(@assessment.demographics.nil? or @assessment.demographics.blank?) and !((@assessment.demographics.demographic_type_1.nil? or @assessment.demographics.demographic_type_1.blank?) and (@assessment.demographics.demographic_type_2.nil? or @assessment.demographics.demographic_type_2.blank?) and (@assessment.demographics.demographic_type_3.nil? or @assessment.demographics.demographic_type_3.blank?) and (@assessment.demographics.demographic_type_4.nil? or @assessment.demographics.demographic_type_4.blank?)) then %>
          <h5>Provide your details before you start the test</h5>

          <% unless @assessment.demographics.demographic_type_1.nil? or @assessment.demographics.demographic_type_1.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_1 %>
            <% unless @assessment.demographics.demographic_option_1.nil? or @assessment.demographics.demographic_option_1.blank? then %>
              <% @options = @assessment.demographics.demographic_option_1.split(',') %>
              <%=  select_tag 'learner[demographic_1]', options_for_select(@options) %>
            <%else%>
              <%= text_field_tag 'learner[demographic_1]', nil, :maxlength => 100 %>
            <%end
          end %>


          <% unless @assessment.demographics.demographic_type_2.nil? or @assessment.demographics.demographic_type_2.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_2 %>
            <% unless @assessment.demographics.demographic_option_2.nil? or @assessment.demographics.demographic_option_2.blank? then %>
              <% @options = @assessment.demographics.demographic_option_2.split(',') %>
              <%=  select_tag 'learner[demographic_2]', options_for_select(@options)  %>
            <%else%>
              <%= text_field_tag 'learner[demographic_2]', nil, :maxlength => 100 %>
            <%end
          end%>

          <% unless @assessment.demographics.demographic_type_3.nil? or @assessment.demographics.demographic_type_3.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_3 %>
            <% unless @assessment.demographics.demographic_option_3.nil? or @assessment.demographics.demographic_option_3.blank? then %>
              <% @options = @assessment.demographics.demographic_option_3.split(',') %>
              <%=  select_tag 'learner[demographic_3]', options_for_select(@options)  %>
            <%else%>
              <%= text_field_tag 'learner[demographic_3]', nil,  :maxlength => 100 %>
            <%end
          end%>


          <% unless @assessment.demographics.demographic_type_4.nil? or @assessment.demographics.demographic_type_4.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_4 %>
            <% unless @assessment.demographics.demographic_option_4.nil? or @assessment.demographics.demographic_option_4.blank? then %>
              <% @options = @assessment.demographics.demographic_option_4.split(',') %>
              <%=  select_tag 'learner[demographic_4]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_4]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_5.nil? or @assessment.demographics.demographic_type_5.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_5 %>
            <% unless @assessment.demographics.demographic_option_5.nil? or @assessment.demographics.demographic_option_5.blank? then %>
              <% @options = @assessment.demographics.demographic_option_5.split(',') %>
              <%=  select_tag 'learner[demographic_5]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_5]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_6.nil? or @assessment.demographics.demographic_type_6.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_6 %>
            <% unless @assessment.demographics.demographic_option_6.nil? or @assessment.demographics.demographic_option_6.blank? then %>
              <% @options = @assessment.demographics.demographic_option_6.split(',') %>
              <%=  select_tag 'learner[demographic_6]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_6]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_7.nil? or @assessment.demographics.demographic_type_7.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_7 %>
            <% unless @assessment.demographics.demographic_option_7.nil? or @assessment.demographics.demographic_option_7.blank? then %>
              <% @options = @assessment.demographics.demographic_option_7.split(',') %>
              <%=  select_tag 'learner[demographic_7]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_7]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_8.nil? or @assessment.demographics.demographic_type_8.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_8 %>
            <% unless @assessment.demographics.demographic_option_8.nil? or @assessment.demographics.demographic_option_8.blank? then %>
              <% @options = @assessment.demographics.demographic_option_8.split(',') %>
              <%=  select_tag 'learner[demographic_8]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_8]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_9.nil? or @assessment.demographics.demographic_type_9.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_9 %>
            <% unless @assessment.demographics.demographic_option_9.nil? or @assessment.demographics.demographic_option_9.blank? then %>
              <% @options = @assessment.demographics.demographic_option_9.split(',') %>
              <%=  select_tag 'learner[demographic_9]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_9]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_10.nil? or @assessment.demographics.demographic_type_10.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_10 %>
            <% unless @assessment.demographics.demographic_option_10.nil? or @assessment.demographics.demographic_option_10.blank? then %>
              <% @options = @assessment.demographics.demographic_option_10.split(',') %>
              <%=  select_tag 'learner[demographic_10]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_10]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_11.nil? or @assessment.demographics.demographic_type_11.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_11 %>
            <% unless @assessment.demographics.demographic_option_11.nil? or @assessment.demographics.demographic_option_11.blank? then %>
              <% @options = @assessment.demographics.demographic_option_11.split(',') %>
              <%=  select_tag 'learner[demographic_11]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_11]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_12.nil? or @assessment.demographics.demographic_type_12.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_12 %>
            <% unless @assessment.demographics.demographic_option_12.nil? or @assessment.demographics.demographic_option_12.blank? then %>
              <% @options = @assessment.demographics.demographic_option_12.split(',') %>
              <%=  select_tag 'learner[demographic_12]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_12]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_13.nil? or @assessment.demographics.demographic_type_13.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_13 %>
            <% unless @assessment.demographics.demographic_option_13.nil? or @assessment.demographics.demographic_option_13.blank? then %>
              <% @options = @assessment.demographics.demographic_option_13.split(',') %>
              <%=  select_tag 'learner[demographic_13]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_13]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_14.nil? or @assessment.demographics.demographic_type_14.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_14 %>
            <% unless @assessment.demographics.demographic_option_14.nil? or @assessment.demographics.demographic_option_14.blank? then %>
              <% @options = @assessment.demographics.demographic_option_14.split(',') %>
              <%=  select_tag 'learner[demographic_14]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_14]', nil, :maxlength => 100 %>
            <%end
          end %>

          <% unless @assessment.demographics.demographic_type_15.nil? or @assessment.demographics.demographic_type_15.blank? then %>
            <%= label_tag :name_label, @assessment.demographics.demographic_type_15 %>
            <% unless @assessment.demographics.demographic_option_15.nil? or @assessment.demographics.demographic_option_15.blank? then %>
              <% @options = @assessment.demographics.demographic_option_15.split(',') %>
              <%=  select_tag 'learner[demographic_15]', options_for_select(@options)%>
            <%else%>
              <%= text_field_tag 'learner[demographic_15]', nil, :maxlength => 100 %>
            <%end
          end %>
       <% end %>
        <%= render :partial => "/assessments/learner_demographics_instructions" %>
        <hr/>
        <input  id="sign_up" name="commit" type="submit" value="Start Test"  style="width:90px;"/>
      </form>
    </div>

    <div id="div_sidepanel" style="border: none;">
      <%= render :partial => "/courses/logo" %>
    </div>
  </div>
</body>