<%= render :partial => "/assessments/multi_page_test_stylesheets_scripts" %>
<div id="div_container">
  <div id="div_mainpanel">
    <% if @assessment.test_pattern.pattern_name == "CMAT" %>
      <div id="div_sidepanel">
        <div id="right_panel_question_list">
          <%= render :partial => "/assessments/right_panel_questions_for_cmat" %>
        </div>
      </div> <%# end of div_sidepanel for CMAT %>
    <% end %>
    <% if @assessment.test_pattern.pattern_name == "CAT" %>
      <div class="timer_position">
        <% if @assessment.time_bound != "not_time_bound" then %>
          <%= render :partial => "/assessments/side_timer"  %>
        <% end %>
      </div>
    <% end %>

    <div id="imported_questions">
      <form name="form_assessment" id="assessment_form" action="/assessments/review_assessment/<%= @current_learner.id %>" method="post">
        <% if @assessment.test_pattern.pattern_name == "CMAT" %>
          <%= render :partial => "/assessments/cmat_header" %>
        <% end %>
        <% if @assessment.test_pattern.pattern_name != "CMAT" and @assessment.test_pattern.pattern_name != "CAT" and  @assessment.test_pattern.pattern_name != "AIEEE" %>
          <b><%= @assessment.name %></b>
        <% end %>
        <% @j = 1
        prev_mtf_id = 0
        @test_details.each do |test_detail|
          @test_detail = test_detail %>          
          <div id="question_answer_div_<%= @j %>" <% if @current_learner.lesson_location.to_i == (@test_detail.serial_number - 1) then %>style="display : block;" <% else %>style="display : none;"<% end %>>
            <%= render :partial => "/assessments/content_for_multi_page_test" %>
          </div> <%# end of question_answer_div %>
          <% @j = @j + 1 %>
        <% end %>
      </form>
    </div> <%# end of imported_questions %>
    <% if @assessment.test_pattern.pattern_name == "CMAT" %>
      <% if @assessment.time_bound != "not_time_bound" then %>
        <%= render :partial => "/assessments/side_timer"  %>
      <% end %><br/>
    <% end %>
  </div> <%# end of div_mainpanel %>
  
<%# --------sidepanel for multi page test-------- %>
  <% if @assessment.test_pattern.pattern_name == "CMAT" %>
  <% elsif @assessment.test_pattern.pattern_name == "CAT"  %>
  <% else %>
    <div id="div_sidepanel">
      <%= render :partial => "/courses/logo" %>
      <% if @assessment.time_bound != "not_time_bound" then %>
        <%= render :partial => "/assessments/side_timer"  %>
      <% end %><br/>
      <div id="right_panel_question_list">
        <%= render :partial => "/assessments/right_panel_multi_page_test"  %>
      </div>
    </div> <%# end of div_sidepanel %>
  <% end %>
</div> <%# end of div_container %>