<%= stylesheet_link_tag 'reports_style' %>
<%= stylesheet_link_tag 'widgets_style' %>
<%= stylesheet_link_tag 'progress_report_style' %>
<%= stylesheet_link_tag 'courses_content' %>
<div id="div_container">
  <div id="report">
    <% unless @report.report_template.nil? or @report.report_template.blank? 
      @report.report_template.report_components.each do |report_component| %>
      <p id="component_name"><%=raw report_component.component_name %></p><hr/>
      <% report_component.component_widgets.each do |component_widget| %>
      <div id="<%=raw component_widget.widget.div_name %>">
        <% if component_widget.widget.name == "text" %>
        <%= component_widget.component_widget_variables[0].report_text %>
        <% else
        component_widget.report_variables.each do |report_variable|
          method_name = report_variable.method_name %>
          <div id="report_variable">
                <% # below code is dynamically calling different methods, depending on method name. The corresponding methods are present in report model
                logger.info"METHOD NAME #{method_name.inspect}"
                return_value_for_method = @report.send(method_name,@learner)
                logger.info"return_value_for_method >> #{return_value_for_method.inspect}" %>
                <% case(method_name)
                  when "profile" %>
                  <%= report_variable.name %>&nbsp;
                  <% return_value_for_method.each do |profile_detail| %>
                  <%= profile_detail.value %>,
                  <% end %>
                <% when "correct_answer_count" %>
                  <div id="variable_name">Correct Answers</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "incorrect_answer_count" %>
                  <div id="variable_name">Incorrect Answers</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "result" %>
                  <div id="variable_name">Outcome</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "score" %>
                  <div id="variable_name">Score</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "rank" %>
                  <div id="variable_name">Rank</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "percentage" %>
                  <div id="variable_name">Percentage</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "time_spent" %>
                  <div id="variable_name">Time Spent</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                <% when "test_summary_graph" %>
                  Test Summary graph:
                  <% @chart_data = return_value_for_method
                  @current_learner = @learner
                  @total_attempted,@no_of_correct_answers,@no_of_wrong_answers,@maq_questions_count = @report.get_learner_test_report_counts(@learner) %>
                  <script src='http://www.google.com/jsapi'></script>
                  <%= render :partial => "/reports/test_summary" %><br/>
                  <% when "score_by_topic"
                  @question_bank_ids = return_value_for_method %>
                  <%= render :partial => "/reports/score_topic_wise" %>
                  <% when "question_wise_report"
                  @test_details = return_value_for_method %>
                  <%= render :partial => "/reports/question_wise_report" %>
                  <% when "frequency_analysis_graph" %>
                  Frequency Analysis graph:
                  <% @chart = return_value_for_method %>
                  <script src='http://www.google.com/jsapi'></script>
                  <%= render :partial => "/reports/column_chart_for_assessment_learners" %> <br/>
                  <% when "question_analysis_report" %>
                  <% @learners = return_value_for_method
                  @test_details = @assessment.test_details
                  @learner_limit,@upper_group_test_details,@lower_group_test_details = @report.get_question_analysis_report_details(@learner,@learners) %>
                  <%= stylesheet_link_tag 'question_analysis_report' %>
                  <%= javascript_include_tag 'pagination' %>
                  <form id="assessment_learners_report_form" action="/reports/download_report/<%= @assessment.id %>" method="post">
                    <%= render :partial => "/reports/question_analysis_report_details" %>
                  </form>
                  <% when "progress_report"
                  @learners_for_pagination = return_value_for_method %>
                  <%= javascript_include_tag 'pagination' %>
                  <form id="assessment_learners_report_form">
                    <div id="div_table">
                      <%= render :partial => "/reports/learners_for_assessment_table" %>
                    </div>
                  </form>
                  <% when "progress_report_graph"
                  @assessment_chart_data = return_value_for_method
                  @total_passed_or_completed,@total_failed_or_incomplete,@total_unattempted,@total_timeup,@total_assigned = @report.get_all_progress_report_graph_details(@assessment) %>
                  Progress report graph:
                  <script src='http://www.google.com/jsapi'></script>
                  <%= render :partial => "/reports/progress_report_graph" %>
                  <% else %>
                  <div id="variable_name"><%= report_variable.name %>&nbsp;</div>
                  <div class="variable_value"><%= return_value_for_method %></div>
                  <% end %>
                </div> <%# end of div id="report_variable" %>
            <% end # end of component_widget.report_variables.each loop
            end %> <%# end of if component_widget.widget.name == "text" %>
          </div><%# end of div id=component_widget.widget.div_name %><br/>
          <% end %> <%# end of report_component.component_widgets.each loop %>
          <% end %> <%# end of @report.report_template.report_components.each loop %>
          <% end %>
          <% if @learner.type_of_test_taker != "admin" %><a href="/mycourses" class="done_button">
          Next</a><% end %><br/><br/>
    </div><%# end of div report %>  
</div> <%# end of div_container %>