<%= render :partial => "/layouts/courses_header" %>
<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'packages' %>
<div id="div_container">
  <div id="div_mainpanel">
    <%= image_tag "Add_courses:tests_Package_bar.png", :class => "image_strip", :alt => "missing" %>
      <div style="margin-left:14px;">
        <%= render :partial => "/assessment_courses/packaged_assessment_courses" %>
      </div>
    <h3>Add a Course/Test<i style="font-size: 10px;"> &nbsp; Add in an order you want the learner to take</i></h3>
    <form action="/assessment_courses" method="post">
      <input type="hidden" name="assessment_course[tenant_id]" value="<%=h current_user.tenant_id %>"/>
      <input type="hidden" name="assessment_course[user_id]" value="<%=h current_user.id %>"/>
      <input type="hidden" name="assessment_course[package_id]" value="<%=h params[:id] %>"/>

      <%= render :partial => "/assessment_courses/courses_tests_list" %>

      <div id="dotted_line"></div>
      <input class="add_another_course_assessment_button"  type="submit" name="submit_value" value="Add Course/Test" />
      &nbsp; or<a href="/packages/preview_package/<%=h @current_package.id %>" style="color:blue;margin-left:12px;">Done adding courses/assessments</a>

      <a href="courses" style="color:blue;margin-left:620px;margin-top:-10px;">cancel</a>
    </form>
  </div>
  <div id="sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>