<%= form_for(@assessment_component) do |f| %>
  <% if @assessment_component.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment_component.errors.count, "error") %> prohibited this assessment_component from being saved:</h2>

      <ul>
      <% @assessment_component.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
