<p>
  <b>Pattern Id:</b>
  <%=h @test_pattern.id %>
</p>

<p>
  <b>Pattern name:</b>
  <%=h @test_pattern.pattern_name %>
</p>

<p>
  <b>No of sections:</b>
  <%=h @test_pattern.no_of_sections %>
</p>

<p>
  <b>Section names:</b>
  <%=h @test_pattern.section_names %>
</p>

<p>
  <b>Instructions:</b>
  <%=h @test_pattern.instructions %>
</p>

<p>
  <b>Feedback:</b>
  <%=h @test_pattern.feedback %>
</p>

<p>
  <b>Total duration:</b>
  <%=h @test_pattern.total_duration %> <%= "in mins" %>
</p>

<p>
  <b>Topic wise timer:</b>
  <%=h @test_pattern.topic_wise_timer %>
</p>

<p>
  <b>Duration per section:</b>
  <%=h @test_pattern.duration_per_section %> <%= "in mins" %>
</p>

<p>
  <b>Questions per section:</b>
  <%=h @test_pattern.questions_per_section %>
</p>

<p>
  <b>Correct answer points:</b>
  <%=h @test_pattern.correct_mark %>
</p>

<p>
  <b>Wrong answer points:</b>
  <%=h @test_pattern.wrong_mark %>
</p>

<p>
  <b>Random order questions:</b>
  <%=h @test_pattern.random_order_questions %>
</p>

<p>
  <b>Question wise scoring:</b>
  <%=h @test_pattern.question_wise_scoring %>
</p>

<p>
  <b>Skip question:</b>
  <%=h @test_pattern.skip_question %>
</p>

<p>
  <b>View attempted:</b>
  <%=h @test_pattern.view_attempted %>
</p>

<p>
  <b>View unattempted:</b>
  <%=h @test_pattern.view_unattempted %>
</p>

<p>
  <b>View marked:</b>
  <%=h @test_pattern.view_marked %>
</p>

<p>
  <b>View results:</b>
  <%=h @test_pattern.view_results %>
</p>


<%= link_to 'Edit', edit_test_pattern_path(@test_pattern) %> |
<%= link_to 'Back', test_patterns_path %>
