<h1>Listing question_tags</h1>

<table>
  <tr>
    <th>Question</th>
    <th>Tagvalue</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @question_tags.each do |question_tag| %>
  <tr>
    <td><%= question_tag.question_id %></td>
    <td><%= question_tag.tagvalue_id %></td>
    <td><%= link_to 'Show', question_tag %></td>
    <td><%= link_to 'Edit', edit_question_tag_path(question_tag) %></td>
    <td><%= link_to 'Destroy', question_tag, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Question tag', new_question_tag_path %>
