<%= render :partial => "/layouts/courses_header" %>
<%= javascript_include_tag 'ui/jquery-1.4.4' %>
<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'admin_my_account' %>
<%= javascript_include_tag 'ebs_form' %>
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>
<div id="div_container">
  <div id="div_mainpanel">
    <form  method="post" action="https://secure.ebs.in/pg/ma/sale/pay/" name="frmTransaction" id="frmTransaction" onSubmit="return validate()">
     
        <h1>My Account</h1>
        <div class="change_plan"><strong>Confirm Plan: <%=h @pricing_plan.plan_name %> </strong></div>
        <div class="plans_list">
          <ul class="plan_list_ul">
            <li class="li_plan_amount1"><span><span class="WebRupee">Rs.</span><%=h @pricing_plan.amount %></span><br/> per year </li>
            <li class="li_plan_users2"><span><%=h @pricing_plan.no_of_users %></span><br/> Learners </li>
            <li class="li_plan_space3"><span><%=h @pricing_plan.space_in_gb %></span><br/> Course Uploads </li>
            <input type="hidden" name="plan_selected" value="<%= @pricing_plan.id %>"/>
          </ul>
        </div>
        <%= render :partial => "/transactions/ebs_form_for_pricing_plan" %>
       
      <br/>
      <span class="li_plan_select1"><input  class="plan_select_submit" type="submit" value="Pay Now"/></span>
        
    </form>

    


    <p class="confirm_manual">
      <%= image_tag "secure_server.png", :size => "40x40", :style => "float: left;margin-right: 5px;" %>      
      <strong>Secured online payment using</strong><br/>Credit Cards, Debit Cards, Net Banking and Cash Cards</p>
  </div>

  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>

<%= render :partial => "/layouts/courses_footer" %>
