<h1>Editing transaction</h1>

<% form_for(@transaction) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :response_code %><br />
    <%= f.text_field :response_code %>
  </p>
  <p>
    <%= f.label :response_message %><br />
    <%= f.text_field :response_message %>
  </p>
  <p>
    <%= f.label :date_created %><br />
    <%= f.text_field :date_created %>
  </p>
  <p>
    <%= f.label :payment_id %><br />
    <%= f.text_field :payment_id %>
  </p>
  <p>
    <%= f.label :merchant_refno %><br />
    <%= f.text_field :merchant_refno %>
  </p>
  <p>
    <%= f.label :amount %><br />
    <%= f.text_field :amount %>
  </p>
  <p>
    <%= f.label :mode %><br />
    <%= f.text_field :mode %>
  </p>
  <p>
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :is_flagged %><br />
    <%= f.text_field :is_flagged %>
  </p>
  <p>
    <%= f.label :transaction_id %><br />
    <%= f.text_field :transaction_id %>
  </p>
  <p>
    <%= f.label :tenant_id %><br />
    <%= f.text_field :tenant_id %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @transaction %> |
<%= link_to 'Back', transactions_path %>
