<h1>Listing calculated_data_assessments</h1>

<table>
  <tr>
    <th>Assessment</th>
    <th>Tenant</th>
    <th>Started</th>
    <th>In-process</th>
    <th>Completed</th>
    <th>Timed out</th>
    <th>Incomplete</th>
    <th>Lowest score</th>
    <th>Highest score</th>
    <th>Average score</th>
    <th>Sd score</th>
    <th>Lowest time</th>
    <th>Highest time</th>
    <th>Average time</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @calculated_data_assessments.each do |calculated_data_assessment| %>
  <tr>
    <td><%= calculated_data_assessment.assessment_id %></td>
    <td><%= calculated_data_assessment.tenant_id %></td>
    <td><%= calculated_data_assessment.started %></td>
    <td><%= calculated_data_assessment.in_process %></td>
    <td><%= calculated_data_assessment.completed %></td>
    <td><%= calculated_data_assessment.timed_out %></td>
    <td><%= calculated_data_assessment.incomplete %></td>
    <td><%= calculated_data_assessment.lowest_score %></td>
    <td><%= calculated_data_assessment.highest_score %></td>
    <td><%= calculated_data_assessment.average_score %></td>
    <td><%= calculated_data_assessment.sd_score %></td>
    <td><%= calculated_data_assessment.lowest_time %></td>
    <td><%= calculated_data_assessment.highest_time %></td>
    <td><%= calculated_data_assessment.average_time %></td>
    <td><%= link_to 'Show', calculated_data_assessment %></td>
    <td><%= link_to 'Edit', edit_calculated_data_assessment_path(calculated_data_assessment) %></td>
    <td><%= link_to 'Destroy', calculated_data_assessment, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Calculated data assessment', new_calculated_data_assessment_path %>
