<p id="notice"><%= notice %></p>

<p>
  <b>Profile:</b>
  <%= @profile_dropdown_value.profile_id %>
</p>

<p>
  <b>Value:</b>
  <%= @profile_dropdown_value.value %>
</p>


<%= link_to 'Edit', edit_profile_dropdown_value_path(@profile_dropdown_value) %> |
<%= link_to 'Back', profile_dropdown_values_path %>
