<%= stylesheet_link_tag 'courses_content'  %>
<%#= javascript_include_tag "prototype2" %>
<%= javascript_include_tag "calendar_js" %>
<%= stylesheet_link_tag "calendar_css" %>
<%#= stylesheet_link_tag "basic.css" %>
<%#= calendar_date_select_includes params[:style]%>

<script>
  function stud_details(student_working,student_details)
  {
    var ddl = document.getElementById(student_working);
    var student_details_div = document.getElementById(student_details);
    if (ddl.options[ddl.selectedIndex].value == "Student")
    {
      student_details_div.setAttribute('style', 'display:block;')
    }
    else
      {
        student_details_div.setAttribute('style', 'display:none;')
      }
  }
</script>

<div id="div_container">
  <div id="div_mainpanel">
    <h1>Enter personal details</h1>
    <div class="flash_confirmation"><%=h flash[:enter_details] %></div>

    <form name="myForm" action="/users/save_personal_details_in_session/<%=h params[:id]%>" enctype="multipart/form-data" method="post" style="margin-left: 20px;">

      <label>Name</label><br/>
      <input type="text" name="user[login]" size="40"/><br/><br/>

      <label> Postal Address</label><br/>
      <textarea id="address" name="user[address]" cols="30"></textarea><br/><br/>

      <label> Date of Birth</label><br/>
      <input type="text" name="user[date_of_birth]" id="date" size="8" /><br/><br/>
      <script type="text/javascript">
        calendar.set("date");
      </script>
      
      <label> Mobile Number</label><br/>
      <input id="mobile_number" name="user[mob_number]" type="text" maxlength="20" value=""/><br/><br/>

      <label>Occupation</label><br/>
      <select name="user[designation]" id="student_working" onchange="stud_details('student_working','student_details');" >
        <option value="Student">Student</option>
        <option value="Working">Working</option>
      </select><br/><br/>

      <div id="student_details">
        <label>Course</label><br/>
        <input type="text" name="user[student_course]"/><br/><br/>
        <label>Year</label><br/>
        <input type="text" name="user[student_course_year]"/><br/><br/>
        <label>College</label><br/>
        <input type="text" name="user[student_college]"/><br/><br/>
        <label>City</label><br/>
        <input type="text" name="user[student_college_city]"/><br/><br/>
      </div>

      <input type="submit" value="submit"/>

    </form>
  </div>
  <div id="div_sidepanel">
    <div id="logo"><%= image_tag "lionsher_logo.png" , :size => '130x50' %></div>
  </div>

</div>