<head>
  <link href="/assets/lion.png" rel="icon" />
  <title>LionSher : About Us</title>
</head>
<%= stylesheet_link_tag "website/about_us" %>
<div class="container-body">
  <div id="main_panel">
    <div id="about_us_div"><label id="about_us">About Us</label>
    </div>
    <div id="philosophy_div"><label id="our_philosophy">Our Philosophy</label>
    </div>
    <p id="about-us-content">
      Lionsher is a "learning activism" that will change the future of the training and learning industry by delivering online tests for all your examination needs.
    </p>
    <p id="about-us-content">
      Lionsher is the flagship technology product of Kern Learning Solutions Pvt. Ltd.
    </p>
    <p id="about-us-content">
      We take pride in our products - its neither about technology nor about building a system - it is about creating an environment that supports, promotes, and nurtures cost-effective and easy learning.
    </p>
    <p id="about-us-content">
      With LionSher tests can be conducted online and test takers can attempt them from where ever they wish. Results are provided back to the examiner in easy to comprehend visual and tabular formats with some of the primary analysis already completed.
    </p>
    <a name="geetha"></a>
    <div id="person">
      <%= image_tag "website/lionsher_images/Geeta_Bose.jpg", :id =>"person-image" %>
      <div class="person-position">
        <p style="font-size:16px;color:#404040;">Geeta Bose</p>
        <p style="font-size:13px;color:#404040;"><i>Chief Executive Officer</i></p>
      </div>
      <div class="person-links">
        <p><a href="http://twitter.com/#!/geetabose"><%= image_tag "website/lionsher_images/Twitter_logo_colour.png", :class =>"valign" %></a><s>@geetabose</s></p>
        <p> <a href="http://in.linkedin.com/in/geetabose"><%= image_tag "website/lionsher_images/linkedin_logo_colour.png", :class =>"valign" %></a><s>Geeta Bose</s></p>
      </div>
      <p id="horizontal-line"></p>

      <p id="about-us-content">Geeta has over 14 years of diverse experience in the training, assessment, and content development business having co-founded Kern successfully in 2004.</p>
      <p id="about-us-content">She began her career as an enthusiastic journalist with the Asian Age, Business Today and Hindustan Times; then stumbled into the world of CBTs and WBTs at
        language editor and instructional designer she was fascinated with learning theories and methodologies. She has authored books on business writing, project management, and "Composition" published by ATI Technical University, USA.
      </p>
      <p id="about-us-content">
        Geeta spearheads product development, marketing, and operations at Lionsher. She plans to ensure that Lionsher is recognized as the most reputed player to deliver cutting-edge, high quality assessments and the world knows about this!
      </p>
    </div>
    <a name="rashmi"></a>
    <div id="person">
      <%= image_tag "website/lionsher_images/Rashmi.jpg", :id =>"person-image1"%>
      <div class="person-position">
        <p style="font-size:16px;color:#404040;">Rashmi Varma</p>
        <p style="font-size:13px;color:#404040;"><i>Chief Operations Officer</i></p>
      </div>
      <div class="person-links">
        <p><a href="http://twitter.com/#!/varmarashmi"><%= image_tag "website/lionsher_images/Twitter_logo_colour.png", :class =>"valign" %></a><s>@varmarashmi</s></p>
        <p> <a href="http://in.linkedin.com/pub/rashmi-varma/1/140/234?trk=pub-pbmap"><%= image_tag "website/lionsher_images/linkedin_logo_colour.png", :class =>"valign" %></a><s>Rashmi Verma</s></p>
      </div>
      <p id="horizontal-line1"></p>
      <p id="about-us-content">Rashmi has over 11 years of experience across verticals and geographies in the education and assessment domain as a co-founder and director of Kern Learning Solutions. </p>
      <p id="about-us-content">She began her career working closely with the top management at NIIT to
        the curriculum. This stint helped her realize that learning and development was her passion and she decided to pursue it as a career.
      </p>
      <p id="about-us-content">
        Rashmi heads sales in certain key verticals, manages large key accounts and takes care of finance at Lionsher. She ensures that other teams provide complete support & direction to the sales and marketing team to achieve the goals we set out with
      </p>
    </div>
    <a name="rahul"></a>
    <div id="person">
      <%= image_tag "website/lionsher_images/Rahul.jpg", :id =>"person-image" %>
      <div class="person-position">
        <p style="font-size:16px;color:#404040;">Rahul Kulkarni</p>
        <p style="font-size:13px;color:#404040;"><i>Chief Marketing Officer </i></p>
      </div>
      <div class="person-links">
        <p><a href="http://twitter.com/#!/rahul_kulkarni"><%= image_tag "website/lionsher_images/Twitter_logo_colour.png", :class =>"valign" %></a><s>@rahul_kulkarni</s></p>
        <p> <a href="http://in.linkedin.com/pub/rahul-kulkarni/b/31/530"><%= image_tag "website/lionsher_images/linkedin_logo_colour.png", :class =>"valign" %></a><s>Rahul Kulkarni</s></p>
      </div>
      <p id="horizontal-line"></p>
      <p id="about-us-content">Rahul has extensive sales and marketing experience of over 13 years having managed large sales teams and channels at HP, Asian Paints, and now at Kern Learning Solutions.</p>
      <p id="about-us-content">During his tenure with Asian Paints & HP, he was instrumental in developing and institutionalizing various training programs for direct sales force as well as for channels.
      </p>
      <p id="about-us-content">
        Rahul has spearheaded some sales and marketing initiatives such as development centers for sales executives, business strategy for channel partners, and channel academy for indirect sales force. He is a business consultant to many corporate such as Asian Paints, Schott Glass India, and Geetel India.
      </p>
      <p id="about-us-content">
        Rahul heads sales, alliances & partnerships for Lionsher and has aggressive plans to make Lionsher a leading online exam company by 2017!
      </p>
    </div>
    <a name="ripul"></a>
    <div id="person">
      <%= image_tag "website/lionsher_images/Ripul_Kumar.jpg", :id =>"person-image1"%>
      <div class="person-position">
        <p style="font-size:16px;color:#404040;">Ripul Kumar</p>
        <p style="font-size:13px;color:#404040;"><i>Chief Technology Officer</i></p>
      </div>
      <div class="person-links">
        <p><a href="http://twitter.com/#!/ripul"><%= image_tag "website/lionsher_images/Twitter_logo_colour.png", :class =>"valign" %></a><s>@ripul</s></p>
        <p> <a href="http://in.linkedin.com/in/ripul"><%= image_tag "website/lionsher_images/linkedin_logo_colour.png", :class =>"valign" %></a><s>Ripul Kumar</s></p>
      </div>
      <p id="horizontal-line1"></p>
      <p id="about-us-content">Ripul has over 16 years of total experience managing cross-cultural usability, visual design, and software development teams; of which, 8 years has been with startups.</p>
      <p id="about-us-content">Ripul spearheaded visual design and usability engineering for the development of acclaimed software products at Pramati, maker's of world's first J2EE server and
        development studio. Ripul has completed many full lifecycle usability projects for complex financial, ERP, insurance, call center, banking, supply chain, compliance, and point-of-purchase software applications. Ripul has consulted with American Express, SAP, ICICI Bank, Verizon Wireless, MetricSream, among others.
      </p>
      <p id="about-us-content">
        Ripul regularly conducts usability workshops for software professionals. He co-founded Kern in 2004 and manages Kern's Usability Consulting practice. He works with software product companies to help make their software useful, usable, and pleasurable.
      </p>
      <p id="about-us-content">
        Ripul spearheads the Lionsher technology team and is the driving force behind Lionsher being recognized as a user-friendly, scalable, and robust platform.
      </p>
    </div>
    <a name="lionsherteam"></a>
    <div id="person">
      <%= image_tag "website/lionsher_images/team.png", :id =>"person-image" %>
      <div class="person-position">
        <p style="font-size:16px;color:#404040;">Lionsher Team</p>
        <p style="font-size:13px;color:#404040;"><i>Hyderabad </i></p>
      </div><br/><br/>
      <p id="horizontal-line" style="margin-top:5px;"></p>
      <p id="about-us-content">The LionSher team is mix of developers, designers who
        are passionate about learning systems, new technologies, open source software and
        usability.</p>
      <p id="about-us-content">Its good mix of experienced programmers who have developed and implemented
        multiple web applications. </p>
      <p id="about-us-content">The team includes usability experts who help design Lionsher
        and make it easy to use. Check out what the team software architect
        talks about the <a href="http://www.lionsher.com/learningden/karthik_krishnamurthi">technology used</a> for LionSher.
      </p>
    </div>

  </div>
  <div id="side_panel">
    <p id="sidepanel-heading"><i>founders</i></p>
    <div class="founders">
      <a href="#geetha"> Geeta Bose <br />Chief Executive Officer</a>
    </div>
    <div class="founders">
      <a href="#rashmi">Rashmi Verma <br />Chief Operations Officer</a>
    </div>
    <div class="founders">
      <a href="#rahul"> Rahul Kulkarni <br />Chief Marketing Officer</a>
    </div>
    <div class="founders">
      <a href="#ripul"> Ripul Kumar<br />Chief Technology Officer</a>
    </div>
    <p id="sidepanel-heading"><i>team</i></p>
    <div class="founders">
      <a href="#lionsherteam"> LionSher Team<br />Hyderabad</a>
    </div>

  </div>

</div>