<head>
  <link href="/assets/lion.png" rel="icon" />
  <script type="text/javascript" charset="utf-8">
    function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
  </script>
</head>


<title>LionSher : Features - Cost Effective</title>
<%= stylesheet_link_tag "website/feature_highlight" %>
<%= stylesheet_link_tag "website/cost_effective" %>
<div class="container-body">

  <div class="LMS-header">
    <label class="label1">
      A cloud-based online examination platform - usable, scalable, and affordable
    </label>
    <a href="/pricing"><%= image_tag "website/lionsher_images/Create_test_button.png", :class =>"free-trial valign" %></a>
    <label class="button_tag">in less than 2 minutes</label>
  </div>

  <div class="LMS-body">
    <div class="navbar">
      <a href="/features"><div id="take-tour">Take a Tour</div></a>
      <a href="/tests"><div id="tests">Lionsher Tests</div></a>
      <a href="/cost_effective"><div id="cost-effective">Cost Effective</div></a>
      <a href="/easy_to_use"><div id="easy-to-use">Easy to Use</div></a>
      <a href="/highly_secure"><div id="highly-secure">Highly Secure</div></a>
      <a href="/customizable"><div id="customizable"> Customizable</div></a>
      <a href="/scalable"><div id="scalable"> Scalable</div></a>
      <a href="/anywhere_access"><div id="anywhere-access">Anywhere Access</div></a>

    </div>
    <div class="navbar-content">
      <div class="lms-headings">
        <%= image_tag "website/lionsher_images/Cost Effective.jpg" %>
      </div>
      <div class="lms-headings-content">
        <label class="lms-heading-size">Cost Effective</label><br /><br />
        <p class="lms-content-size">
          Lionsher is a SaaS-based product.
          ZERO capital expenditure for you. </p>

        <p class="lms-content-size">Pay only as much as you use</p>
        <p class="lms-content-size">No local server installation</p>
        <p class="lms-content-size">No server downloads</p>
        <p class="lms-content-size">Zero maintenance cost (We take care of backups, updates and security)</p>

      </div>

    </div>
  </div>
  <div id="features-arrow">
    <a href="/easy_to_use"><%= image_tag "website/lionsher_images/right_arrow.png" %></a>
  </div>
  <div class="features-footer">
    <div class="feature-footer1">
      <label class="feature-footer-heading">Do I pay for set up and maintenance of Lionsher?
      </label>
      <p class="feature-footer-content">
        We maintain and run
        Lionsher for all our users
        worldwide.
      </p>
      <p class="feature-footer-content">
        Lionsher runs on powerful servers in the cloud. Zero maintenance, support or troubleshooting is required. We do that for you!
      </p>

    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">How much do I invest for adding more users?
      </label>
      <p class="feature-footer-content">
        Lionsher scales up seamlessly to cater to your need for more tests and tests takers. Choose a <a href="/pricing" style="color:#558ED5;text-decoration:none;">plan </a>as per your needs and continue to use the platform seamlessly

      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">
        What is the actual cost of using Lionsher?
      </label>
      <p class="feature-footer-content">
        Lionsher is a ready-to-use product. No investments in servers to set up Lionsher or download of software to run Lionsher. You can register online and start using it instantly.
      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">
        Pay Only for What you Use
      </label>
      <p class="feature-footer-content">
        Does not matter whether you have 50 test takers or 5000, choose a <a href="/pricing" style="color:#558ED5;text-decoration:none;">plan </a>to suit your need. Only pay for what you use!
      </p>
    </div>
  </div>

  <%= render :partial =>"features_testimonial" %>
</div>