<head>
  <link href="/assets/lion.png" rel="icon" />
  <script type="text/javascript" charset="utf-8">
    function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
  </script>
</head>


<title>LionSher : Features - Take a Tour</title>
<%= stylesheet_link_tag "website/feature_highlight" %>
<%= stylesheet_link_tag "website/take_a_tour" %>
<%= javascript_include_tag "website/lightbox/jquery.js" %>
<%= javascript_include_tag "website/lightbox/jquery.lightbox-0.5.js" %>
<%= stylesheet_link_tag "website/lightbox/jquery.lightbox-0.5.css" %>

<script type="text/javascript">
  $(function() {
    $('#gallery a').lightBox();
  });
</script>
<style type="text/css">
  /* jQuery lightBox plugin - Gallery style */
  #gallery {

    /* padding: 10px;
     width: 520px;*/
  }
  #gallery ul { list-style: none; }
  #gallery ul li { display: inline; }
  #gallery ul img {
    /*border: 5px solid #3e3e3e;
    border-width: 5px 5px 20px;*/
  }
  #gallery ul a:hover img {
    /* border: 5px solid #fff;
     border-width: 5px 5px 20px;
     color: #fff;*/
  }
  #gallery ul a:hover { /*color: #fff;*/}
</style>
<div class="container-body">

  <div class="LMS-header">
    <label class="label1">
      A cloud-based online examination platform - usable, scalable, and affordable
    </label>
    <a href="/pricing">
      <%= image_tag "website/lionsher_images/Create_test_button.png", :class =>"valign" %></a>
    <label class="button_tag">in less than 2 minutes</label>
  </div>

  <div class="LMS-body">
    <div class="navbar">
      <a href="/features"><div id="take-tour">Take a Tour</div></a>
      <a href="/tests"><div id="tests"> Lionsher Tests</div></a>
      <a href="/cost_effective"><div id="cost-effective">Cost Effective</div></a>
      <a href="/easy_to_use"><div id="easy-to-use">Easy to Use</div></a>
      <a href="/highly_secure"><div id="highly-secure">Highly Secure</div></a>
      <a href="/customizable"><div id="customizable"> Customizable</div></a>
      <a href="/scalable"><div id="scalable"> Scalable</div></a>
      <a href="/anywhere_access"><div id="anywhere-access">Anywhere Access</div></a>

    </div>
    <div class="navbar-content">

      <%= image_tag "website/lionsher_images/Take_a_tour.jpg", :class =>"under" %>
      <div id="gallery">
        <ul>
          <li>
            <a href="/assets/website/lightbox_images/Image 1.png" title="">
              <%= image_tag "website/lionsher_images/Play.png", :class =>"over"  %>
            </a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 2.png" title="CREATE ACCOUNT"></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 3.png" title="CREATE ACCOUNT" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 4.png" title="CREATE ACCOUNT" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 5.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 6.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 7.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 8.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 9.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 10.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 11.png" title="CREATE TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 12.png" title="ASSIGN TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 13.png" title="ASSIGN TEST" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 14.png" title="TEST TAKER'S VIEW" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 15.png" title="TEST TAKER'S VIEW" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 16.png" title="TEST TAKER'S VIEW" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 17.png" title="TEST TAKER'S VIEW" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 18.png" title="TEST TAKER'S VIEW" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 19.png" title="TEST TAKER'S VIEW" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 20.png" title="ADMIN REPORT" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 21.png" title="ADMIN REPORT" ></a>
          </li>
          <li>
            <a href="/assets/website/lightbox_images/Image 22.png" ></a>
          </li>
        </ul>
      </div>
      <label class="over2">Take a Tour</label>


    </div>

  </div>
  <div id="features-arrow">
    <a href="/tests"><%= image_tag "/assets/website/lionsher_images/right_arrow.png"%></a>
  </div>

  <div class="features-footer">
    <div class="feature-footer1">
      <label class="feature-footer-heading">
      </label>
      <p class="feature-footer-content">
      </p>

    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">Quickly create tests and conduct them.
      </label>
      <p class="feature-footer-content">
        Upload the questions for tests manually or use excel sheets.
      </p><p class="feature-footer-content">
        LionSher provides various options to control the test attributes as per your need.
      </p>
      <p class="feature-footer-content">
        Conduct the tests as per your schedule.
      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">
        Conduct variety of tests on LionSher
      </label>
      <p class="feature-footer-content">
        Tests to assess training effectiveness
      </p>
      <p class="feature-footer-content">
        Tests for promotions of employees
      </p>
      <p class="feature-footer-content">
        Tests for college students recruitment
      </p>
      <p class="feature-footer-content">
        Tests for entrance mock exams for students
      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">
        Supports multiple question types

      </label>
      <p class="feature-footer-content">
        MCQ: Multi choice<br />
        MAQ: Multi answer<br />
        PTQ: Passage type <br />
        FIB: Fill in the blanks<br />
        MTF: Match the following<br />
        SA: Short Answers<br />
        Add images to these questions.
      </p>
    </div>
  </div>

  <%= render :partial =>"features_testimonial" %>
</div>