<div class="vendor_header"><%= @vendor %></div>
<% for coursestore in @courses %>
  <% unless coursestore.description.nil? or coursestore.description.blank? then %>
    <div class="ul_div">
      <div class="div_course_store_list">
        <div class="div_content_pics">
          <% if coursestore.typeofcourse == "e-learning" then %>
            <% if coursestore.image_file_name.nil? %>
              <div class="div_content_pic"><%= image_tag "Elearning.png", :size => "90x60" %></div>
            <% else %>
              <div class="div_content_pic"><%= image_tag coursestore.image.url(:thumb) %></div>
            <% end %>
          <% elsif coursestore.typeofcourse == "audio" then %>
            <%  if coursestore.image_file_name.nil? %>
              <div class="div_content_pic"><%= image_tag "Audio.png", :size => "90x60" %></div>
            <% else %>
              <div class="div_content_pic"><%= image_tag coursestore.image.url(:thumb), :size => "90x60" %></div>
            <% end %>
          <% elsif coursestore.typeofcourse == "video" then %>
            <% if coursestore.image_file_size.nil? %>
              <div class="div_content_pic"><%= image_tag coursestore.image_file_name, :size => "90x60" %></div>
            <% else %>
              <div class="div_content_pic"><%= image_tag coursestore.image.url(:thumb), :size => "90x60" %></div>
            <% end %>
          <% elsif coursestore.typeofcourse == "document" then %>
            <% if coursestore.image_file_size.nil? %>
              <div class="div_content_pic"><%= image_tag coursestore.image_file_name, :size => "90x60" %></div>
            <% else %>
              <div class="div_content_pic"><%= image_tag coursestore.image.url(:thumb), :size => "90x60" %></div>
            <% end %>
          <% else %>
            <%= image_tag "Elearning.png", :size => "90x60" %>
          <% end %>
        </div>
        <label class="course_name">
          <strong>
            <a class="course_name_link" <% if coursestore.course_price.nil? %>href=""<% else %>href="/course_store/get_buyers_info/<%=h coursestore.id %>"<% end %>>
              <% if coursestore.course_name.length > 40 then %>
                <%=h coursestore.course_name[0..40] %>&hellip;
              <% else %>
                <%=h coursestore.course_name %>
              <% end %>
            </a>
          </strong> by <%=h coursestore.vendor %>,
          <% if !coursestore.duration_hour.nil? and !coursestore.duration_min.nil? then %>
            <% if coursestore.duration_hour > 0 %><%= coursestore.duration_hour %> Hr<% end %>
            <% if coursestore.duration_min > 0 %><%= coursestore.duration_min %> Min
            <% end
          end %>
        </label><br/>
        <label class="course_details">
          <% unless coursestore.description.nil? or coursestore.description.blank? then %>
            <% if coursestore.description.length > 150 %>
              <%=h coursestore.description[0..150] %>&hellip;
            <% else %>
              <%=h coursestore.description %>
            <% end %>
          <% end %>
        </label>
        <br/>
        <label class="course_learners_type"> <%=h coursestore.learners_type%></label>
        <div class="course_store_right_content">

          <div class="course_store_price">
            <% unless coursestore.course_price.nil? or coursestore.course_price.blank? then %>
              <em><span class="WebRupee">Rs.</span><%= (coursestore.course_price).round %></em>
            <% else %>
              <em style="font-size: 9px;color: gray;">Coming Soon</em>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <hr/>
  <% end %>
<% end %>