
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
 </script>
<div id="div_mainpanel">
  <%= render :partial => "list_of_courses" %>
  <%= will_paginate @coursestore %>
</div>
<div id="div_sidepanel">
  <div id="total_courses">
     <p style="display:none;">$(this).corner("round 5px");</p>
    <div class="total_number"><%= @total_courses.length %><br/> <em>Courses</em></div>
  </div>
  <div class="clearfix"></div><br/>
  <a class="add_new_course course_store_buy" href="/course_store/get_sellers_info"> Sell Your Courses</a>

  <div class="side_content">
    <h3><%= raw @rules['Business']['course_store']['sell_courses']['heading'] %></h3>
    <div id="points">
      <ul type="disc">
        <li class="top_list"><%= raw @rules['Business']['course_store']['sell_courses']['point1'] %></li>
        <li><%= raw @rules['Business']['course_store']['sell_courses']['point2'] %></li>
        <li><%= raw @rules['Business']['course_store']['sell_courses']['point3'] %></li>
        <li><%= raw @rules['Business']['course_store']['sell_courses']['point4'] %></li>
        <li><%= raw @rules['Business']['course_store']['sell_courses']['point5'] %></li>
      </ul>
    </div>
  </div>
  <div class="side_content">
    <h3><%= raw @rules['Business']['course_store']['buy_courses']['heading'] %></h3>
    <div id="points">
      <ul type="disc">
        <li class="top_list"><%= raw @rules['Business']['course_store']['buy_courses']['point1'] %></li>
        <li><%= raw @rules['Business']['course_store']['buy_courses']['point2'] %></li>
        <li><%= raw @rules['Business']['course_store']['buy_courses']['point3'] %></li>
        <li><%= raw @rules['Business']['course_store']['buy_courses']['point4'] %></li>
      </ul>
    </div>
  </div>

</div>