<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'course_store' %>
<%= stylesheet_link_tag 'store_course_styles' %>
<%= render :partial => "/layouts/home_header" %>
    <div id="container" >
      <div id="div_mainpanel">
        <div id="success_sign_up">You have successfully signed up on LionSher LMS.<br/>
          <p>To activate your account check your email  and click on the Activation link in it.</p>
        </div>

        <p>&nbsp;Not received a verification email from LionSher Team<br/>
          <span>&nbsp;- check your spam or junk folder<br/>
            <a href="/send_mail_again">- Request email again</a></span></p>
        <br/>
        <div id="flash">
          <%=h flash[:email_notice] %>
        </div>
      </div>

      <div id="div_sidepanel">
      </div>
    </div>