<%= stylesheet_link_tag "website/index" %>

<head>
  <link href="/assets/lion.png" rel="icon" />
  <script type="text/javascript" charset="utf-8">
    function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
  </script>
</head>


<title>Lionsher Tests - Create Tests</title>
<%= stylesheet_link_tag "website/home_highlight" %>
<div class="container-body">

  <div class="left-arrow1">
    <a href="/">
      <%= image_tag "website/lionsher_images/left_arrow.png" %></a>
  </div>

  <div class="lionsher-management">
    <div class="lionsher-content">
      <label class="label1">
        Lionsher Tests - Create Tests
      </label>
    </div>
    <div class="lionsher-options">
      <p class="label2">Easy to create tests for different needs</p>
      <p class="label2">Conduct tests across geographical locations</p>
      <p class="label2">Conduct 1000s of tests simultaneously </p>
      <p class="label2">Schedule tests as required </p>

      <a href="/pricing"><%= image_tag "website/lionsher_images/Create_Test_Home_1.png", :id =>"create-test" %></a>

      <a href="/features" class="take-tour"> Take a tour</a><br/>
      <label class="free_trial_30">14 day free trial</label>
    </div>
    <div class="lionsher-demo">
      <%= image_tag "website/lionsher_images/scree2_illustration.jpg", :style=> "padding-left:35px;"%>
    </div>
  </div>

  <div class="right-arrow1">
    <a href="/lionsher_homepage3"><%= image_tag "website/lionsher_images/right_arrow.png" %></a>
  </div>

  <div class="tabs-selection">
    <a href="/"><%= image_tag "website/lionsher_images/Tab_unselected.jpg" %></a>
    <a href="/lionsher_homepage2"><%= image_tag "website/lionsher_images/Tab_selected.jpg" %></a>
    <a href="/lionsher_homepage3"><%= image_tag "website/lionsher_images/Tab_unselected.jpg" %></a>
    <a href="/lionsher_homepage4"><%= image_tag "website/lionsher_images/Tab_unselected.jpg" %></a>
  </div>

  <%= render :partial =>"home_testimonial" %>

</div>