<head>
  <link href="/assets/lion.png" rel="icon" />
  <title>LionSher : Pricing in US $</title>
</head>
<%= stylesheet_link_tag "website/pricing_highlight" %>
<%= stylesheet_link_tag "website/pricing" %>
<div class="container-body">
  <a href="/pricing" style="margin-left:690px;color:#558ED5;text-decoration:none;">Show pricing in Indian Rs</a>
  <div id="upper_pannel">
    <div id="prices">
      <div id="price"><p id="price_p">Price</p></div>
      <p id="price_per_test">Price per Test </p>
      <p id="validity">Validity</p>
      <p id="unique_web_address"> Unique Web Address</p>
      <p id="custom_branding">Custom Branding </p>
      <p id="support">Support</p>
      <p id="add_on_pack">Add-on Pack <br /><s>valid for 3 months</s></p>
      <p id="free_tests">30 free tests <br /><s>No Credit Card required</s></p>
    </div>
    <div class="test_pricing_plans">
      <div class="price_info">
        <p id="tests_one" class="font">1000 Tests</p>
        <p class="font">$ 350</p>
        <p>$ 0.35</p>
        <p>1 year</p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p>Email</p>
        <p>$ 35<br /><s>for 100 tests </s></p>
        <p id="free_tests"><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <div id="signup"><a href="/users/signup_for_tests/13?type_of_business=small business&assessment_only_plan="><%= image_tag "/assets/website/lionsher_images/sign_up.png" %></a></div>
      </div>

    </div>
    <div class="test_pricing_plans">
      <div class="price_info">
        <p id="tests_two" class="font">5000 Tests</p>
        <p class="font">$ 1,250</p>
        <p>$ 0.25</p>
        <p>1 year</p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p>Email</p>
        <p>$ 125 <br /><s>for 500 tests </s></p>
        <p id="free_tests"><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <div id="signup"><a href="/users/signup_for_tests/14?type_of_business=medium business&assessment_only_plan="><%= image_tag "/assets/website/lionsher_images/sign_up.png" %></a></div>
      </div>

    </div>
    <div class="test_pricing_plans">
      <div class="price_info">
        <p id="tests_three" class="font">40,000 Tests</p>
        <p class="font">$ 7,250</p>
        <p>$ 0.18</p>
        <p>1 year</p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p>Email & Phone</p>
        <p>$ 900 <br /><s>for 5000 tests </s></p>
        <p id="free_tests"><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <div id="signup"><a href="/users/signup_for_tests/15?type_of_business=medium business&assessment_only_plan="><%= image_tag "/assets/website/lionsher_images/sign_up.png" %></a></div>
      </div>

    </div>
    <div class="test_pricing_plans">
      <div class="price_info">
        <p id="tests_four" class="font">1,00,000 Tests</p>
        <p class="font">$ 9,250</p>
        <p>$ 0.09</p>
        <p>1 year</p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <p>Email& Phone</p>
        <p>$ 900  <br /><s>for 5000 tests </s></p>
        <p id="free_tests"><%= image_tag "website/lionsher_images/tick_mark.png" %></p>
        <div id="signup"><a href="/users/signup_for_tests/16?type_of_business=large business&assessment_only_plan="><%= image_tag "/assets/website/lionsher_images/sign_up.png" %></a></div>
      </div>
    </div>
  </div><br />

  <div id="contact">
    <p>Have a different testing need, <a id="contact_us" href="/contact_us"> Contact Us</a> to design a Lionsher Tests pack specifically for you</p>
  </div>

  <div class="features-footer">
    <div class="feature-footer1">
      <label class="feature-footer-heading">How do you calculate the number of tests?
      </label>
      <p class="feature-footer-content">
        The number of tests you assign to test takers will be counted towards the tests in your plan.
      </p>
      <label class="feature-footer-heading">Do you do white labeling on Lionsher?
      </label>
      <p class="feature-footer-content">
        Yes, you can <a href="/contact_us" style="color:#558ED5;text-decoration:none;">contact us</a> with your requirements and we can help you conduct the tests on your website.
      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">How do I add more tests than what my plan offers?
      </label>
      <p class="feature-footer-content">
        You can use the add-on packs of tests as shown in the plans. You can buy multiple add-on packs as per your need.
      </p>
      <label class="feature-footer-heading">How does the 30 free tests work?
      </label>
      <p class="feature-footer-content">
        You can sign up now on LionSher in 2 minutes for free and conduct 30 tests. Once you have tried the 30 tests you can select one of plans.
      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">
        Can I change my plan at anytime?
      </label>
      <p class="feature-footer-content">
        Yes, you can upgrade or downgrade your plan anytime depending on the number of tests required.
      </p>
    </div>
    <div class="feature-footer1">
      <label class="feature-footer-heading">
        In what forms can I make payments?
      </label>
      <p class="feature-footer-content">
        Use our secure online payment gateway to make payments online. We also accept bank checks and drafts from domestic users. We do not accept cash payments.
      </p>
      <label class="feature-footer-heading">
        Can I get a refund for unused tests?
      </label>
      <p class="feature-footer-content">
        No, payment once made will not be refund.
      </p>
    </div>
  </div>
  <%= image_tag "website/lionsher_images/inv_comm_blue_1.png", :id =>"open_quotation" , :style =>"margin-top:15px;"%>
  <div class="lionsher-info" id="lionsher-info1">
    <div class="about-lionsher">

      <p class="p1"><i>I have been using LionSher for the past few weeks & I am really impressed by it.
          I have seen the functionality of this and I find it extremely easy to use, flexible & fast</i></p><br />

      <label class="label-font" id="label-font1" >Nikhil Junnarkar</label><br />
      <p class="p1">Chief Manager-Knowledge Resourcing<br />
        Maadhyam</p>

    </div>
    <div class="about-lionsher">

      <p class="p1"><i>With LionSher, we were able to break the cost
          and simplicity
          paradigms when the
          process was structured in a
          way that bandwidth that could be used to access mail was all
          that was required to conduct the tests.</i></p><br />

      <label class="label-font" id="label-font1" >Amit Saboo</label><br />
      <p class="p1">Chief Experience Officer<br />
        ProAvenues</p>

    </div>
    <div class="about-lionsher">

      <p class="p1"><i>I like the LionSher platform a lot. It's simple, clean and reasonably priced for
          a small business that doesn't need all the "bells and whistles" that a large enterprise needs.</i></p><br />

      <label class="label-font" id="label-font1" >Jonathan E. 'Jeb' Bates</label><br />
      <p class="p1">Chief Experience Officer<br />
        The PaperRoom Institute LLC</p>
      <%= image_tag "website/lionsher_images/inv_comm_blue_2.png", :id =>"close_quotation",:style =>"margin-top:23px;margin-left:268px;"%>
    </div>
  </div>

</div>