<% unless @current_package.assessment_courses.nil?
  i = 1
  @current_package.assessment_courses.each { |ass_course|
    if ass_course.assessment_id.nil? %>
        <%=h i %>. <img src="/assets/elearning_small.png" style="vertical-align:middle;"/>
        <%=h ass_course.course.course_name %> <a href="/assessment_courses/destroy/<%=h ass_course.id %>" style="color:blue;">remove</a>
    <% else %>
        <%=h i %>. <img src="/assets/assessment_smaller.png" style="vertical-align:middle;"/>
        <%=h ass_course.assessment.name %> <a href="/assessment_courses/destroy/<%=h ass_course.id %>" style="color:blue;">remove</a>
    <% end %><br/>
  <% i = i + 1
    }
end%>