<p id="notice"><%= notice %></p>

<p>
  <b>Assessment:</b>
  <%= @assessment_course.assessment_id %>
</p>

<p>
  <b>Course:</b>
  <%= @assessment_course.course_id %>
</p>

<p>
  <b>Package:</b>
  <%= @assessment_course.package_id %>
</p>

<p>
  <b>Assessment package:</b>
  <%= @assessment_course.assessment_package_id %>
</p>


<%= link_to 'Edit', edit_assessment_course_path(@assessment_course) %> |
<%= link_to 'Back', assessment_courses_path %>
