<h1>Listing assessment_packages</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Name</th>
    <th>Tenant</th>
    <th>User</th>
  </tr>

<% for assessment_package in @assessment_packages %>
  <tr>
    <td><%=h assessment_package.id %></td>
    <td><%=h assessment_package.name %></td>
    <td><%=h assessment_package.tenant_id %></td>
    <td><%=h assessment_package.user_id %></td>
    <td><%= link_to 'Show', assessment_package %></td>
    <td><%= link_to 'Edit', edit_assessment_package_path(assessment_package) %></td>
    <td><%= link_to 'Destroy', assessment_package, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New assessment_package', new_assessment_package_path %>
