<%= form_for(@test_detail) do |f| %>
  <% if @test_detail.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@test_detail.errors.count, "error") %> prohibited this test_detail from being saved:</h2>

      <ul>
      <% @test_detail.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :learner_id %><br />
    <%= f.number_field :learner_id %>
  </div>
  <div class="field">
    <%= f.label :attempted_status %><br />
    <%= f.text_field :attempted_status %>
  </div>
  <div class="field">
    <%= f.label :question_id %><br />
    <%= f.number_field :question_id %>
  </div>
  <div class="field">
    <%= f.label :answer_id %><br />
    <%= f.number_field :answer_id %>
  </div>
  <div class="field">
    <%= f.label :question_type %><br />
    <%= f.text_field :question_type %>
  </div>
  <div class="field">
    <%= f.label :learner_answer_text %><br />
    <%= f.text_field :learner_answer_text %>
  </div>
  <div class="field">
    <%= f.label :answer_status %><br />
    <%= f.text_field :answer_status %>
  </div>
  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :tenant_id %><br />
    <%= f.number_field :tenant_id %>
  </div>
  <div class="field">
    <%= f.label :duration_spent %><br />
    <%= f.text_field :duration_spent %>
  </div>
  <div class="field">
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
