<%= stylesheet_link_tag 'themes/base/jquery.ui.all.css'  %>
<%= stylesheet_link_tag 'themes/demos.css'  %>
<%= javascript_include_tag 'ui/jquery-1.4.4.js' %>
<%= javascript_include_tag 'ui/jquery.ui.core.js' %>
<%= javascript_include_tag 'ui/jquery.ui.widget.js' %>
<%= javascript_include_tag 'ui/jquery.ui.tabs.js' %>

<script type="text/javascript">

  $(function() {
    var $tabs = $('#tabs').tabs();
    $(".ui-tabs-panel").each(function(i){
      var totalSize = $(".ui-tabs-panel").size() - 1;
      if (i != totalSize) {
        next = i + 2;
        $(this).append("<a id='continue-tab' href='#' class='next-tab mover' rel='" + next + "'>Continue</a>");
      }
    });
    $('.next-tab, .prev-tab').click(function() {
      $tabs.tabs('select', $(this).attr("rel"));
      return false;
    });
  });

</script>