<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'course_store' %>
<%= stylesheet_link_tag 'store_course_styles' %>
<%= javascript_include_tag 'course_store' %>

<style>
  .span_price input {
    border: none;
    width: 65px;
    margin-bottom: 16px;
  }
  .span_price .label_total {
    margin-left: -30px;
  }
  .agree_terms {
    margin-top: 10px;
  }
</style>


<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>
<div id="container">
  <div id="div_mainpanel">
    <div class="div_preview_content">
      <form method="post" onsubmit="javascript:return field_validation();" action="/course_store/save_buyers_course_details/<%=h @course.id %>">
        <span class="heading_content">1. Confirm your Courses</span>
        <p>
          <b><%=h @course.course_name %> </b>
          <% if @course.typeofcourse == "e-learning" then %>
            <% if @course.image_file_name.nil? %>
              <%= image_tag "Elearning.png", :size => "90x60" %>
            <% else %>
              <%= image_tag @course.image.url(:thumb) %>
            <% end %>
          <% elsif @course.typeofcourse == "audio" then %>
            <%  if @course.image_file_name.nil? %>
              <%= image_tag "Audio.png", :size => "90x60" %>
            <% else %>
              <%= image_tag @course.image.url(:thumb), :size => "90x60" %>
            <% end %>
          <% elsif @course.typeofcourse == "video" then %>
            <% if @course.image_file_size.nil? %>
              <%= image_tag @course.image_file_name, :size => "90x60" %>
            <% else %>
              <%= image_tag @course.image.url(:thumb), :size => "90x60" %>
            <% end %>
          <% elsif @course.typeofcourse == "document" then %>
            <% if @course.image_file_size.nil? %>
              <%= image_tag @course.image_file_name, :size => "90x60" %>
            <% else %>
              <%= image_tag @course.image.url(:thumb), :size => "90x60" %>
            <% end %>
          <% else %>
            <%= image_tag "Elearning.png", :size => "90x60" %>
          <% end %>
          <span class="span_price" style="float: right; padding-left: 20px;">
            <label>Price</label><br/><br/>
            <input id="course_price" type="text" name="" value="<%=h (@course.course_price*46).round %>" disabled/><br/>

            <input id="total_price" type="text" name="buyer_seller[price]" value="<%=h (@course.course_price*46).round %>" disabled/>
          </span>
          <span style="float:right;">
            <label>Licenses</label><br/><br/>
            <input id="no_of_license" type="text" name="buyer_seller[no_of_license]" size="3" onblur="calculate_price();"/>   <br/>  <br/>
            <label class="label_total">Total</label>
          </span>
        </p>
        <span class="agree_terms">
          <input id="check_terms" type="checkbox" name="" value=""/> &nbsp;I agree to the <a href="">terms and conditions</a> of LionSher
        </span>
        <span><br/>
          <input style="margin-top:20px;" type="submit" name="" value="Confirm"/>
          <label class="number_error" style="display:none;">Please enter only numbers for number of licenses</label>
          <label class="blank_error" style="display:none;">Please enter at least 1 license</label>
          <label class="check_error" style="display:none;">Please enter only numbers for number of licenses</label>
          <a style="float:right; margin-top:20px;text-decoration: none;" href="" >Cancel</a>
        </span>
      </form>
    </div>
  </div>
  <div id="div_sidepanel">
  </div>
</div>