<%#*Control comes here from users/manage_learners.html%>
<%#*Author : Aarthi %>

<%= stylesheet_link_tag 'upload_course'  %>
<%= stylesheet_link_tag 'courses_content'  %>

<div id="div_container">
  <div id="div_mainpanel">

    <% if !flash[:number_of_mails].nil? or !flash[:number_of_mails].blank? or !flash[:number_of_mails] == 0 then %>
      <div class="flash_confirmation"><%= image_tag "checked_icon_small.png" %> <%= flash[:number_of_mails] %></div>
    <% end %>

    <% if !@assessment.nil? then %>
      <%= image_tag "assessment_preview.png", :class => "image_strip", :alt => "missing" %>
      <div class="div_mainpanel_content" style="margin-left: 16px; margin-bottom: 50px; margin-top: 10px;">
        <div class="div_content_type">Assessment &nbsp;
          <% if !@assessment.duration_hour.nil? and !@assessment.duration_min.nil? then %>
            |&nbsp;&nbsp;<% if @assessment.duration_hour > 0 %><%= @assessment.duration_hour %> Hr <% end %>
            <% if @assessment.duration_min > 0 %><%= @assessment.duration_min %> Mins
            <% end
          end %>
        </div>
        <div class="div_course_title"><%=h @assessment.name %></div>
        <div class="div_description"><%=h @assessment.description %></div>
        <% if @assessment.assessment_image_file_name.nil? %>
              <div class="div_content_pic"><%= image_tag "assessment.png" %></div>
          <% else %>
              <div class="div_content_pic"><%= image_tag @assessment.assessment_image.url(:small) %></div>
          <% end %>
        <div id="first_preview">
          <a href="/assessments/start_test/<%=h @assessment.id %>">Preview</a>
        </div>
        <div id="first_preview_done"><a href="/courses">Done</a></div>
      </div>

    <% elsif !@course.nil? then %>
      <%= image_tag "progress/Preview.png", :class => "image_strip", :alt => "missing" %>
      <div class="div_mainpanel_content" style="margin-left: 16px; margin-bottom: 50px; margin-top: 10px;">
        <div class="div_content_type"><%=h @course.typeofcourse %> &nbsp; &nbsp;
        <%if !@course.duration_hour.nil? and !@course.duration_min.nil?  then%> | &nbsp; <%= @course.duration_hour %> hr <%= @course.duration_min %> min
        <%elsif @course.duration_hour.nil? and !@course.duration_min.nil?  then%> | &nbsp; <%= @course.duration_min %> min
        <%elsif !@course.duration_hour.nil? and @course.duration_min.nil?  then%> | &nbsp; <%= @course.duration_hour %> hr<%end%></div>
        <div class="div_course_title"><%=h @course.course_name %> </div>
        <div class="div_description"><% if !(@course.description.nil?) or !(@course.description.blank?) %><%=h @course.description %><% end %><br/></div>

        <% if @course.typeofcourse == "e-learning"
          if @course.image_file_name.nil? %>
            <div class="div_content_pic"><%= image_tag "Elearning.png" %></div>
          <% else %>
            <div class="div_content_pic"><%= image_tag @course.image.url(:small) %></div>
          <% end %>
          <div id="first_preview">
            <a href="" onclick="javascript:window.open('/scorm/admin_scorm_preview/<%=h @course.id %>', 'e-learning', 'location=no,status=0,scrollbars=no,menubar=no,toolbar=no');">Preview Course</a>
          </div>

        <% elsif @course.typeofcourse == "flash" %>
          <div class="div_content_pic"><%= image_tag "Elearning.png" %></div>
          <div id="first_preview">
            <a href="" onclick="javascript:window.open('/scorm/admin_audvid_preview/<%=h @course.id %>', 'flash','scrollbars=0,height=500,width=615,status=no,location=no,menubar=no,toolbar=no');">Preview Course</a>
          </div>

        <% elsif @course.typeofcourse == "audio" then
          if @course.image_file_name.nil? %>
            <div class="div_content_pic"><%= image_tag "Audio.png" %></div>
          <% else %>
            <div class="div_content_pic"><%= image_tag @course.image.url(:small) %></div>
          <% end %>
          <div id="first_preview">
            <a href="" onclick="javascript:window.open('/scorm/admin_audvid_preview/<%=h @course.id %>', 'audio', 'scrollbars=0,height=5,width=565,status=no,location=no,menubar=no,toolbar=no');">Preview Course</a>
          </div>
        <% elsif @course.typeofcourse == "video" %>
          <div class="div_content_pic"><%= image_tag @course.image_file_name %></div>
          <div id="first_preview">
            <a href="" onclick="javascript:window.open('/scorm/admin_audvid_preview/<%=h @course.id %>', 'video', 'scrollbars=0,height=425,width=565,status=no,location=no,menubar=no,toolbar=no');">Preview Course</a>
          </div>
        <% elsif @course.typeofcourse == "presentation" %>
          <div class="div_content_pic"><%= image_tag @course.image_file_name %></div>
          <div id="first_preview">
            <a href="" onclick="javascript:window.open('/scorm/admin_audvid_preview/<%=h @course.id %>', 'presentation', 'scrollbars=0,height=500,width=615,status=no,location=no,menubar=no,toolbar=no');">Preview Course</a>
          </div>
        <% elsif @course.typeofcourse == "document" %>
          <div class="div_content_pic"><%= image_tag @course.image_file_name %></div>
          <div id="first_preview">
            <a href="/document_viewer/<%= @course.id %>" target="_blank">Preview</a>
          </div>
        <% end %>
        <div id="first_preview_done"><a href="/course_store/sellers_courses">Done</a></div>
      </div>
    <% end %>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>
