<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'assessment_manual' %>
<%= stylesheet_link_tag 'structure_components'%>
<%= javascript_include_tag 'create_assessment' %>
<%= render :partial => '/layouts/courses_header' %>
<div id="div_container">
  <div id="div_mainpanel">
    <h3><b><%= @assessment.name %></b></h3>
    <form name="myform" method="post" action="/structure_components/save_assessment/<%= @assessment.id %>" enctype="multipart/form-data" class="form_style">
      <label for="assessment_description">What is the assessment about?</label><span id="assessment_info_description_label"> A brief description </span><br/>
      <textarea style="overflow: auto; " cols="" id="assessment_description" name="assessment_description" value="" onkeyup="textCounter(this,document.myform.remLen,150)"  onclick="textCounter(this,document.myform.remLen,150)"></textarea>
      <span id="assessment_info_char_left_label"><input disabled type="text" name="remLen"  maxlength="5" value="150"/>&nbsp;characters left</span>
      <hr/>
      <input id="question_bank_submit" type="submit" value="Done" />
    </form>
    <span class="add_more_cancel"><a class="link_cancel" href="/courses">Cancel</a></span>
  </div> <%# end of div_mainpanel %>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div> <%# end of div_sidepanel %>
</div> <%# end of div_container %>
<%= render :partial => '/layouts/courses_footer' %>