<%= stylesheet_link_tag 'courses_content'  %>
<%= stylesheet_link_tag 'upload_course'  %>
<%= javascript_include_tag 'themes' %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<%= javascript_include_tag 'assessment' %>

<div id="div_container">
  <div id="div_mainpanel">

    <h1>Coupon Codes : <%=h @assessment_course.name %></h1>
    <label style="margin-left:14px;"><%=h @coupons_generated.length %> coupons are successfully generated</label>
    <a href="/coupons/download_coupons_csv_file/<%=h @code_for_download%>" style="color:blue;">Download Coupon File</a>
    <a id="anchor_style" href="/">Go to Home</a><br/>
    <% @coupons_generated.each do | coupon_obj | %>
      <%= coupon_obj %>,<br />
    <% end %>

    <br/>

    <a href="/assessment_packages/assessments_with_package_id/1" style="color: blue;text-decoration: underline;">Map the assessments with the package</a>
  </div>

  <div id="div_sidepanel">
  </div>

</div>
