<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title><%=h @tenant.organization %> Learning Center - Sign in </title>
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
    <%= stylesheet_link_tag 'login_style'%>
       <script>
    function validate(coupon_code)
      {
        var coupon = document.getElementById(coupon_code);
        if (coupon.value != "" )
        {
          if (coupon.value.trim()!="" )
          {
            return true;
          }
          else
          {
            return false;
          }
        }
        else
        {
          return false;
        }
      }
    </script>
    </head>
  <body>
    <div id="login_outer_div">
      <div id="login_container">
        <div id="top_login_header" style="background-color: <%= @tenant.theme %>; color:<%=h @tenant.text_color %>;">
          <%= label(:post, :organization_name, @tenant.organization+' Learning Center',  :class => 'organization_name') %>
        </div>
        <div class="clearfix"></div>
        <div id="login_left">
          <div class="clearfix"></div>
          <form action="/coupons/validate/1" onsubmit="javascript:return validate('coupon_code')">
            <p><label class="lgn_email">Coupon Number</label><br/>
              <input type="text" name="username" id="coupon_code"/>

            </p>
            <input type="submit" class="login" value="submit"/>
          </form>
        </div>
        <div id="login_right">
          <div id="lgn_logo"><%= render :partial => "/courses/logo" %></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <%= label(:post, :Powered_by_Lionsher, "Powered by Lionsher" , :class => 'pwd_by_lionsher' ) %>
    </div>
    </body>
</html>