<%= stylesheet_link_tag 'courses_content'  %>
<%= stylesheet_link_tag 'upload_course'  %>
<%= javascript_include_tag 'themes' %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<%= javascript_include_tag 'assessment' %>

<div id="div_container">
  <div id="div_mainpanel">
    <h1>Coupon Codes : <%=h @assessment_course %></h1>
    <label>Generate Coupon Codes</label><br/><br/>
    <%#*depending on params[:for_course_assessment_package] , the form action differs%>
    <% if params[:for_course_assessment_package] == "course"%>
      <form id="search_course" action="/coupons/course_calculate_coupon_codes/<%=h params[:id] %>" method="post">
      <% elsif params[:for_course_assessment_package] == "assessment" %>
        <form id="search_course" action="/coupons/assessment_calculate_coupon_codes/<%=h params[:id] %>" method="post">
        <% elsif params[:for_course_assessment_package] == "assessment_package" %>
          <form id="search_course" action="/coupons/calculate_coupon_codes/<%=h params[:id] %>" method="post">
          <% elsif params[:for_course_assessment_package] == "package" %>
          <form id="search_course" action="/coupons/package_calculate_coupon_codes/<%=h params[:id] %>" method="post">
          <% end %>
          <input type="radio" name="email_authentication_required" value="1"/> With email authentication &nbsp;&nbsp;<i style="font-size:11px;">suitable if you want to assign multiple tests</i><br/><br/>
          <input type="radio" name="email_authentication_required" value="0" checked/> Without email authentication &nbsp;&nbsp; <i style="font-size:11px;">suitable for 1 time learner</i><br/><br/>
          <div style="float:left;width:200px;padding-left:12px;">Enter number of codes to generate &nbsp;</div>
          <div style="position:absolute;margin-left:200px;"><input id="search" name="coupon_code_count" type="text" size="4"/>
            &nbsp;<i>coupons generated for this test, cannot be used for other tests.</i></div>
          <br/>
          <hr/>
          <input id="done_button" type="submit" value="Done" /><br/>&nbsp; or
          <a id="anchor_style" href="/courses">cancel</a>
        </form>

        </div>

        <div id="div_sidepanel">
        </div>

        </div>