<%= render :partial => "/layouts/courses_header" %>
<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'upload_course' %>
<%= stylesheet_link_tag 'tablestyle' %>
<%= stylesheet_link_tag 'listing_all_learners' %>
<%= javascript_include_tag 'listing_all_learners' %>

<div id="div_container">
  <div id="div_mainpanel">
    <h1>Change group of set of learners</h1>
    <% i=1 %>
    <form name="change_group_form" action="/users/save_change_group_of_learner/<%=h current_user.id %>" onSubmit="return validate('hidden_length','group_name');">
      <label>Enter the group you want to move the learners to</label>
      <input style="float: none;" type="text" name="group[group_name]" id="group_name" />
      <div class= "div_table" id="display">        
        <table width="97%" cellspacing="0px" style="margin-top:10px;margin-left: 18px;">
          <% current_user.user.find(:all,:conditions => "deactivated_at IS NULL").each { |user|%>
            <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
              <td class="name" style="width:2px;"><%= i%></td>
              <td><input type="checkbox" name="user_id[<%=h user.id %>]"/> </td>
              <td class="td_name"><%=h user.login %></td>
              <td class="td_name"><%=h user.email %></td>
              <td class="td_name"><%=h user.group.group_name %></td>
            </tr>
            <%i=i+1%>
          <%} %>
        </table>
        <input type="hidden" value="<%=h i-1 %>" id="hidden_length"/>
      </div>
      <input type="submit" value="Done"/>
    </form>
  </div>

  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>
<%= render :partial => "/layouts/courses_footer" %>