<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @tenant.organization %> Learning Center - Forgot Password?</title>
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
    <%= stylesheet_link_tag 'login_style'%>
  </head>
  <body>
    <div id="login_outer_div">
      <div id="login_container">
        <div id="top_login_header" style="background-color: <%= @tenant.theme %>; color:<%=h @tenant.text_color %>;"><%= label(:post, :organization_name, @tenant.organization+' Learning Center',  :class => 'organization_name') %></div>
        <div class="clearfix"></div>
        <div id="login_left">
          <div class="lgn_flash_notice"><%=h flash[:login_notice] %></div>
          <div class="lgn_reset_pwd"><%=h flash[:mail_sent_to_reset_password] %></div>
          <div class="lgn_reset_pwd"><%=h flash[:wrong_email_for_tenant] %></div>
          <div class="lgn_flash_notice"><%=h flash[:pwd_blank_msg] %></div>
          <%= label(:post, :forgot_password, "Forgot Password",  :class => 'lbl_forgot_pwd') %>
          <p class="fgt_pwd_instrn">Provide your email address to receive instructions to reset your password</p>
          <div class="clearfix"></div>
          <%= form_tag '/users/forgot' do %>
            <p>
              <%= label_tag :login, " Email ", :class => 'lgn_email'  %><br />
              <%= text_field_tag :email, params[:email], :size => 25, :maxlength => 50 %>
            </p>
            <p>
              <%= submit_tag "Send Instructions" , :class => 'snd_instrns' %>
              <%= link_to 'Cancel', '/' , :class => 'lnk_fgt_pwd'%>
            </p>
          <% end %>
        </div>
        <div id="login_right">
          <div id="lgn_logo"><%= render :partial => "/courses/logo" %></div>
        </div>
        <div class="clearfix"></div>
      </div>
      <%= label(:post, :Powered_by_Lionsher, "Powered by Lionsher" , :class => 'pwd_by_lionsher' ) %>
    </div>
  </body>
</html>