<%= render :partial => "/layouts/courses_header" %>
<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'tablestyle' %>
<%= stylesheet_link_tag 'admin_my_account' %>
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>

<div id="div_container">
  <div id="div_mainpanel">
    <h1>My Account</h1>

    <% if current_user.typeofuser == "admin"  then %>
      <div class="my_transactions_span" ><strong> My Plan: <%=h @current_plan.plan_name%></strong> <a href="/pricing_plans/all_plans/1">Show all Plans</a></div>
      <ul class="my_plan_details ">
        <li>
          <% if @current_plan.id == 4 then%>
          <label><%=h @current_plan.plan_name[0..10] %></label><br/>
            free trial
          <% else %>
           <label><span class="WebRupee">Rs.</span><%=h @current_plan.amount %></label><br/>
            per year
          <% end %>
        </li>
        <li><label><%=h @current_plan.no_of_users %></label> <br/> learners <br/> <a  style="display: none;" href=""> + Learners</a></li>
        <li><label><%=h @current_plan.space_in_gb %>GB</label> <br/> Course Uploads <br/> <a  style="display: none;" href=""> + Space</a></li>
        <li>Valid upto <br/><%=h @tenant.expiry_date.strftime('%d %b %Y') %></li>
        <li class="my_plan_details_l_li"></li>
      </ul>
    <% end %>

    <% unless @recent_transactions.nil? or @recent_transactions.blank? then %>
      <div class="clearfix"></div><br/><br/><br/>
      <div class="my_transactions_span" > <strong>My Transactions </strong></div>
      <div class= "div_table transaction_table" id="display">
        <table  border="0" cellpadding="2px" cellspacing="0">
          <th style="width:15px;">Sl.no</th>
          <th>Transaction ID</th>
          <th>Date</th>
          <th>Description</th>
          <th>Amount</th>
          
          <% i=1 %>
          <% @recent_transactions.each { |transaction|   %>
            <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
              <td><%=h i%></td>
              <td class="trans_id"><%=h transaction.id %></td>
              <td class="trans_date"><%=h transaction.created_at.strftime('%d %b %Y') %></td>
              <td class="trans_desc">Lionsher Annual Subscription</td>
              <td class="trans_amount"><%=h transaction.amount %></td>
              <td class="trans_download"><a href="/transactions/export_pdf/<%= transaction.id %>">Download</a></td>
            </tr>
            <% i = i + 1 } %>
        </table>
    </div>
  <% end %>
      
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>

<%= render :partial => "/layouts/courses_footer" %>
