<%#*Control comes here after user clicks on activation link in activation mail%>
<%#*Author : Aarthi%>
<%#*Javascripts and validation : Surupa%>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
    <title>Set Password</title>
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
    <%= stylesheet_link_tag 'signup' %>
    <%= javascript_include_tag 'set_password' %>
    <%= stylesheet_link_tag 'for_ie_7'%>
    <script type="text/javascript" charset="utf-8">
      function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
    </script>
  </head>
  <body onload="default_uncheck()"  style="background-color: #e5e5e5;">
    <div id="head">
      <div id="div_head" style="background: gray; color: orange;">
        <div id="org" style="color: orange;">LionSher</div>
      </div>
    </div>
    <div id="div_container">
      <div id="div_mainpanel" style="border-right: 1px dotted #cccccc;">
        <div id="set_password">
          <h5>Three simple steps and your LionSher account will be activated</h5>
          <form action="/users/set_password" method="post" onsubmit="javascript:return validation();" enctype="multipart/form-data">

            <label for="password"><s>1</s>Create your Password</label>
            <span>minimum 6 characters for a secured password</span>
            <input id="password" name="password" type="password" onblur="validate('password','passwd_div');" onkeyup="validate('password','passwd_div');"/>
            <div id="passwd_div" style="display: none; clear: left; clear:both;">Enter your password</div>

            <label for="logo"><s>2</s>Upload your Company's Logo</label>
            <span id="image_type_ie">.jpg, .png, .gif</span>
            <input id="logo" size="45" name="tenant[logo]" type="file"/>
            <div id="logo_div" style="display: none;">Upload your logo</div>
            <div id="logo_type" style="display: block;color: red; float:left; margin:10px 0px 0px 250px;  font-size: 12px;">
              <% if !flash[:wrong_image_type].nil? or !flash[:wrong_image_type].blank? then %>
                <%=h flash[:wrong_image_type] %>
              <% end %>
            </div>
            <hr/>
            <input  id="sign_up" name="commit" type="submit" value="Activate Account" />
          </form>
        </div>
      </div>
      <div id="div_sidepanel" style="border: none;">
        <div id="logo"><%= image_tag "lionsher_logo_final.png", :alt => "missing" %></div>
        <div id="sidebar_text">
        </div>
      </div>
    </div>
  </body>
</html>