<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= @tenant.organization %> Learning Center - Activate Account</title>
    <%= favicon_link_tag "lion.png", :rel => "icon" %>
    <%= stylesheet_link_tag 'login_style'%>
  </head>
  <body>
    <div id="login_outer_div">
      <div id="login_container">
        <div id="top_login_header" style="background-color: #000; color:#FFF;"><%= label(:post, :organization_name, 'Activate Your Lionsher Account',  :class => 'organization_name') %></div>
        <div class="clearfix"></div>
        <div id="login_left">
          <div class="lgn_flash_notice"><%=h flash[:login_notice] %></div>
          <div class="lgn_flash_notice"><%=h flash[:mail_sent_to_reset_password] %></div>
          <div class="lgn_flash_notice"><%=h flash[:wrong_image_type] %></div>
          <div class="lgn_flash_notice"><%=h flash[:pwd_blank_msg] %></div>
          <%= form_tag '/users/set_password', :multipart => true do %>
            <p>
              <%= label_tag :password,"Password", :class => 'lgn_password' %><br />
              <%= password_field_tag :password, params[:password], :class => 'fld_password', :maxlength => 50 %><br/>
              <%= label(:post, :pwd_instructions, "Minimum 6 Characters", :class => 'pwd_instructions') %>
            </p>
            <p>
              <%= label_tag :logo,"Upload your company's logo", :class => 'lgn_password' %> <%= label_tag :optional,"optional", :class => 'optional' %><br />
              <%= file_field_tag "file", :size => 19 , :name => "tenant[logo]" %><br/>
              <%= label(:post, :pwd_instructions, ".jpg, .png, .gif, .svg files", :class => 'logo_instructions') %>
              <% if !flash[:wrong_image_type].nil? or !flash[:wrong_image_type].blank? then %>
                <%=h flash[:wrong_image_type] %>
              <% end %>
            </p>
              <%= hidden_field(:activation_code, current_user.activation_code) %>
            <p>
              <%= render :partial => 'select_list' %>
            </p>
            <div class="clearfix"></div>
            <p>
              <%= submit_tag "Activate Account" , :class => 'snd_instrns' %>
            </p>
          <% end %>

        </div>
        <div id="login_right">
          <div id="lgn_logo">
            <div id="logo"><%= image_tag "lionsher_logo.png" , :size => '130x50' %></div>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <%= label(:post, :Powered_by_Lionsher, "Powered by Lionsher" , :class => 'pwd_by_lionsher' ) %>
    </div>
  </body>
</html>