<%= render :partial => "/layouts/home_header" %>
 <%#=  render :partial =>"/home/header_home_new" %>
<%#= stylesheet_link_tag 'website/index' %>
<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'signup' %>
<%= javascript_include_tag 'signup' %>
<!-- all css ends here -->
<%= favicon_link_tag "lion.png", :rel => "icon" %>


<div id="container">

  <h1><b>FREE 14-day trial on all accounts.</b> No credit card required. Sign up in less than 2 minutes!</h1>
  <div id="mid_panel">
    <form action="/users/signup" method="post" onsubmit="javascript:return validation();">
      <div id="sign_up_content">
        <div id="flash_signup">
          <% if !(flash[:signup_notice].nil? or flash[:signup_notice].blank?) then %>
            <%=h flash[:signup_notice] %>
          <% end %>
        </div>
        <label id="number_text"><s>1. &nbsp;</s>Create your LionSher LMS account</label>
        <label for="login">Your Name</label>
        <input id="user_login" name="user[login]" type="text" onblur="validate('user_login','login_div');" style="width:250px;" maxlength="40" <% if !flash[:login_name].nil? %>value="<%=h flash[:login_name] %>"<% end %>/>
        <div id="login_div" style="display: none;">Enter your name</div>

        <label for="email">Email Address</label>
        <input id="user_email" name="user[email]"  type="text" onblur="validate_email();" style="width:250px;" maxlength="40" <% if !flash[:email].nil? %>value="<%=h flash[:email] %>"<% end %>/>
        <div id="email_div" style="display: none;">Enter your email address</div>
        <div id="email_validate" style="display: none;">Enter valid email address</div>

        <label for="organization">Company Name</label>
        <input id="organization" name="tenant[organization]" type="text" onblur="validate('organization','org_div');" style="width:250px;" <% if !flash[:organization].nil? %>value="<%=h flash[:organization] %>"<% end %>/>
        <div id="org_div" style="display: none;">Enter your organization's name</div>

        <%= image_tag "lionsherhome_images/icon_just2steps.png", :id => "just_2easy_steps_pic" %>
        <label id="number_text"><s>2. &nbsp;</s>Create your LMS custom link</label><br/>
        <label id="custom_label_link" for="url">https://</label>
        <input id="custom_link" name="tenant[custom_link]" style="width:250px;clear: right;" type="text" onfocus="add_value();" onblur="validate('custom_link','custom_message');" maxlength="40" <% if !flash[:custom_url].nil? %>value="<%=h flash[:custom_url] %>"<% end %>/>
        <label id="custom_label_link_1">.lionsher.com</label>
        <div id="custom_message" style="display: none;">Custom link connot be left blank</div>
        <input type="text" value="admin"  name="user[typeofuser]" style="display: none" />
        <input type="text" value="<%=h params[:type_of_business] %>"  name="type_of_business" style="display: none" />
        <input type="hidden" value="<%=h params[:id] %>" name="selected_plan_id" />
        <input id="sign_up" name="commit" type="submit" value=""/>
        <label class="" style="margin: -35px 0px 0px 185px; font-size: 10px;">I have read and agree to the LionSher <a href="/terms" target="_blank">Terms and Conditions</a> and <a href="/privacy_policy" target="_blank">Privacy Policy</a>.</label>
      </div>
    </form>

    <div id="mid_side_panel">

      <% plan =  PricingPlan.find(params[:id]) %>

      <h5 style="text-transform: capitalize;"><%=h plan.plan_group %></h5>
      <div class="blue_underline"></div>
      <div class="plan_details"><b><s><span class="WebRupee">Rs.</span><%=h plan.amount %></s> per year</b></div>
      <div class="plan_details"><b><s><%=h plan.no_of_users %></s></b> Learners</div>
      <div class="plan_details"><b><s><%=h plan.space_in_gb %> GB</s></b> Course Uploads</div>

      <div id="mid_side_panel_text">
        <%= image_tag "lionsherhome_images/green_tick.png" %><p>Pay only as much as you use</p>
        <%= image_tag "lionsherhome_images/green_tick.png" %><p>Custom LMS Link & branding</p>
        <%= image_tag "lionsherhome_images/green_tick.png" %><p>Complete data security</p>
        <%= image_tag "lionsherhome_images/green_tick.png" %><p>No software download</p>
        <%= image_tag "lionsherhome_images/green_tick.png" %><p>No hardware set up</p>
        <%= image_tag "lionsherhome_images/green_tick.png" %><p>Supports SCORM, PPT, video</p>
      </div>
    </div>

  </div>


  <div id="lower_panel">
  </div>
  <%#=  render :partial =>"/home/footer_home_new" %>
<%= render :partial => "/layouts/home_footer" %>
</div>

