<h1>Listing component_widgets</h1>

<table>
  <tr>
    <th>Report component</th>
    <th>Widget</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @component_widgets.each do |component_widget| %>
  <tr>
    <td><%= component_widget.report_component_id %></td>
    <td><%= component_widget.widget_id %></td>
    <td><%= link_to 'Show', component_widget %></td>
    <td><%= link_to 'Edit', edit_component_widget_path(component_widget) %></td>
    <td><%= link_to 'Destroy', component_widget, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component widget', new_component_widget_path %>
