<h1>Listing profiles</h1>

<table>
  <tr>
    <th>Field name</th>
    <th>Field type</th>
    <th>Structure component</th>
    <th>Tenant</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @profiles.each do |profile| %>
  <tr>
    <td><%= profile.field_name %></td>
    <td><%= profile.field_type %></td>
    <td><%= profile.structure_component_id %></td>
    <td><%= profile.tenant_id %></td>
    <td><%= link_to 'Show', profile %></td>
    <td><%= link_to 'Edit', edit_profile_path(profile) %></td>
    <td><%= link_to 'Destroy', profile, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Profile', new_profile_path %>
