<table border="0" cellspacing="2" class="width3" style="float:left;">
  <tr>
    <td class="smaller_column">Difficulty level </td>
    <td class="smaller_column"><select name="difficulty">
        <% @difficulties.each do |difficulty|
        logger.info"difficulty #{difficulty.inspect}" %>
          <option value="<%= difficulty.id %>"<% if @question.question_attributes[0].difficulty_id == difficulty.id %>selected<% end %>><%=raw difficulty.difficulty_value %></option>
        <% end %>
      </select></td>
  </tr>
    <% unless @tagvalues.nil? or @tagvalues.blank?
     @tagvalues.each do |tagvalue| %>
      <tr><td class="smaller_column"><%=raw tagvalue.tag.name %>:</td>
      <td class="smaller_column"><input type="text" name="tags" value="<%=raw tagvalue.value %>" /></td><tr/>
    <% end # end of @tagvalues.each loop
    else %>
    <% @tags.each do |tag| %>
      <tr><td class="smaller_column"><%=raw tag.name %>:</td>
      <td class="smaller_column"><select name="tagvalue[<%= tag.id %>]">
            <% tag.tagvalues.each do |tagvalue| %>
              <option value="<%= tagvalue.id %>"><%=h tagvalue.value %></option>  
            <% end %>
          </select></td><tr/>
    <% end # end of @tags.each loop  
   end # end of @tagvalues.nil check %>
</table>
<table border="0" cellspacing="2" class="width4">
  <tr>
    <td class="smaller_column">Positive marks</td>
    <td class="smaller_column"><input type="text" size="3" maxlength="4" style="height:22px; text-align:left;" /></td>
  </tr>
  <tr>
    <td class="smaller_column">Negative marks</td>
    <td class="smaller_column"><input type="text" size="3" maxlength="4" style="height:22px; text-align:left;" /></td>
  </tr>
  <tr>
    <td class="smaller_column">Time</td>
    <td class="smaller_column"><input type="text" size="3" maxlength="2" style="height:22px; text-align:left;" /></td>
    <td class="smaller_column">Seconds</td>
  </tr>
  <tr>
    <td class="smaller_column">Expiry Date</td>
    <td class="smaller_column">
      <select name="date"><%= render :partial => "/questions/calendar_date" %></select>
    </td>
    <td class="smaller_column">
      <select name="month"><%= render :partial => "/questions/calendar_month" %></select>
    </td>
    <td class="smaller_column">
      <select name="year"><%= render :partial => "/questions/calendar_year" %></select>
    </td>
  </tr>
</table>