<h1>Listing component_widget_variables</h1>

<table>
  <tr>
    <th>Component widget</th>
    <th>Report variable</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @component_widget_variables.each do |component_widget_variable| %>
  <tr>
    <td><%= component_widget_variable.component_widget_id %></td>
    <td><%= component_widget_variable.report_variable_id %></td>
    <td><%= link_to 'Show', component_widget_variable %></td>
    <td><%= link_to 'Edit', edit_component_widget_variable_path(component_widget_variable) %></td>
    <td><%= link_to 'Destroy', component_widget_variable, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Component widget variable', new_component_widget_variable_path %>
