<html>
<head></head>
<body>
Hello <%=h @user.login%>,<br/><br/>

We noticed that the assessment <%=h @assessment.name%> assigned to you is still <%=h @learner_lesson_status%>. Here is the link to
<%if @learner_lesson_status == "incomplete" then%>
complete
<%elsif @learner_lesson_status == "not attempted" then%>
attempt
<%end%>
the assessment.<br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/><br/>

Regards,<br/>
LionSher Team<br/>
</body>
</html>