<html>
  <head></head>
  <body>
Hi <%=h @user.login %>,<br/><br/>

You have not completed <%=h @course.course_name  %> on <%=h @tenant.organization %> Learning Center. We suggest that you complete this course soon.<br/><br/>

You can begin or resume the course by clicking this link:<br/><br/>

<a href="<%=h @url %>"><%=h @url %></a><br/><br/>

Regards,<br/>
LionSher Team<br/>
  </body>
</html>

