<html>
<head>
</head>
<body> Hello <%=h @user.login%>,<br/><br/>

Thank you for creating an account for <%=h @tenant.organization%> on LionSher. To set up a password and activate your account on LionSher, click the link:<br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/><br/>

Your Email: <%=h @user.email%><br/><br/>

Regards,<br/>
LionSher Team<br/><br/>
Supports IE 7, Mozilla Firefox 2.0, Safari 5, Google Chrome 11.0 and above versions only.
</body>
</html>