<html>
<head>
</head>
<body>
Hello <%=h @user.login%>,<br/><br/>

You have been assigned a test named <%=h @assessment.name%>. To set a password and attempt the test, click:<br/><br/>

<a href="<%=h @url %>"><%=h @url %></a><br/>
If you cannot click the above link, copy and paste the above link in the browser.<br/><br/>

Your Email: <%=h @user.email %><br/><br/>

Regards,<br/>
LionSher Team<br/><br/>
Supports IE 7, Mozilla Firefox 2.0, Safari 5, Google Chrome 11.0 and above versions only.
</body>
</html>