<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head></head>
<body>
Hello <%=h @user.login%>,<br/><br/>

You have been assigned <%=h @assessment.name%> test. To take this test, click <br/><br/>

<a href="<%=h @url%>"><%=h @url%></a><br/>
If you cannot click the above link, copy and paste the above link in the browser.<br/><br/>

Your Email: <%=h @user.email %><br/><br/>

Regards,<br/>
LionSher Team
</body>
</html>
