<h1>Listing learner_questions</h1>

<table>
  <tr>
    <th>Learner</th>
    <th>User</th>
    <th>Assessment</th>
    <th>Question bank</th>
    <th>Question</th>
    <th>Answer</th>
    <th>Score</th>
    <th>Answer status</th>
    <th>Attempted status</th>
    <th>Duration</th>
    <th>Tenant</th>
    <th>Assessment rule</th>
  </tr>

<% for learner_question in @learner_questions %>
  <tr>
    <td><%=h learner_question.learner_id %></td>
    <td><%=h learner_question.user_id %></td>
    <td><%=h learner_question.assessment_id %></td>
    <td><%=h learner_question.question_bank_id %></td>
    <td><%=h learner_question.question_id %></td>
    <td><%=h learner_question.answer_text %></td>
    <td><%=h learner_question.score %></td>
    <td><%=h learner_question.answer_status %></td>
    <td><%=h learner_question.attempted_status %></td>
    <td><%=h learner_question.duration %></td>
    <td><%=h learner_question.tenant_id %></td>
    <td><%=h learner_question.assessment_rule_id %></td>
    <td><%= link_to 'Show', learner_question %></td>
    <td><%= link_to 'Edit', edit_learner_question_path(learner_question) %></td>
    <td><%= link_to 'Destroy', learner_question, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New learner_question', new_learner_question_path %>
