<h1>New learner_question</h1>

<% form_for(@learner_question) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :learner_id %><br />
    <%= f.text_field :learner_id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.text_field :user_id %>
  </p>
  <p>
    <%= f.label :assessment_id %><br />
    <%= f.text_field :assessment_id %>
  </p>
  <p>
    <%= f.label :question_bank_id %><br />
    <%= f.text_field :question_bank_id %>
  </p>
  <p>
    <%= f.label :question_id %><br />
    <%= f.text_field :question_id %>
  </p>
  <p>
    <%= f.label :answer %><br />
    <%= f.text_field :answer %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.label :answer_status %><br />
    <%= f.text_field :answer_status %>
  </p>
  <p>
    <%= f.label :attempted_status %><br />
    <%= f.text_field :attempted_status %>
  </p>
  <p>
    <%= f.label :duration %><br />
    <%= f.text_field :duration %>
  </p>
  <p>
    <%= f.label :tenant_id %><br />
    <%= f.text_field :tenant_id %>
  </p>
  <p>
    <%= f.label :assessment_rule_id %><br />
    <%= f.text_field :assessment_rule_id %>
  </p>
  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', learner_questions_path %>
