<p>
  <b>Learner:</b>
  <%=h @learner_question.learner_id %>
</p>

<p>
  <b>User:</b>
  <%=h @learner_question.user_id %>
</p>

<p>
  <b>Assessment:</b>
  <%=h @learner_question.assessment_id %>
</p>

<p>
  <b>Question bank:</b>
  <%=h @learner_question.question_bank_id %>
</p>

<p>
  <b>Question:</b>
  <%=h @learner_question.question_id %>
</p>

<p>
  <b>Answer:</b>
  <%=h @learner_question.answer_text %>
</p>

<p>
  <b>Score:</b>
  <%=h @learner_question.score %>
</p>

<p>
  <b>Answer status:</b>
  <%=h @learner_question.answer_status %>
</p>

<p>
  <b>Attempted status:</b>
  <%=h @learner_question.attempted_status %>
</p>

<p>
  <b>Duration:</b>
  <%=h @learner_question.duration %>
</p>

<p>
  <b>Tenant:</b>
  <%=h @learner_question.tenant_id %>
</p>

<p>
  <b>Assessment rule:</b>
  <%=h @learner_question.assessment_rule_id %>
</p>


<%= link_to 'Edit', edit_learner_question_path(@learner_question) %> |
<%= link_to 'Back', learner_questions_path %>
