<% i = 1
@question_attributes.each do |qa| %>
  <div class="mainpanel">
    <div class="question">
      <b><%= i %>.</b>&nbsp;<% unless qa.question.nil? %>
      <% unless qa.question.directions.nil? or qa.question.directions.blank? %>
        <% if qa.question.directions[0].direction_text.strip != "" %>Directions: <%=raw qa.question.directions[0].direction_text %><% end %>
      <% end
      unless qa.question.passages.nil? or qa.question.passages.blank? %>
        <%=raw qa.question.passages[0].passage_text %>
      <% end %>
      <%=raw qa.question.question_text %>
    </div>
    <% unless qa.question.image.nil? %><%= image_tag qa.question.image.image_path %><% end %>
    <div class="answer_status">
      <% unless qa.error.nil? or qa.error.blank? %>
        <%=raw qa.error.error_text %>
      <% end %>
    </div>
    <div class="choices">
      <ol type="a">
        <% qa.question.answers.each do |answer| %>
          <li>
            <% if answer.answer_status == "correct" %><font color="green"><%=raw answer.answer_text %></font>
            <% else %><%=raw answer.answer_text %><% end %>
          </li>
        <% end %>
      </ol>
    </div>
    <div class="explanation">
      <% unless qa.question.explanation.nil? or qa.question.explanation.blank? %><b>Answer explanation:</b><br/> <%=raw qa.question.explanation %><% end %>
    </div>
    <div class="tags">Tags: <% unless qa.difficulty.nil? %><%=raw qa.difficulty.difficulty_value %><% if qa.question.tagvalues.length > 0 %>,<% end %><% end %>
      <% unless qa.question.tagvalues.nil? or qa.question.tagvalues.blank?
           tag_count = 1
           qa.question.tagvalues.each do |tagvalue| %>
             <%=raw tagvalue.value %><% unless tag_count == qa.question.tagvalues.length %>,<% end %>
      <% tag_count = tag_count + 1
        end # end of qa.question.tagvalues.each loop
      end %> <%#= end of qa.question.tagvalues nil check %>
    </div>
    <div class="edit_delete"><a href="/questions/edit_question/<%= qa.question.id %>?qb=<%=h @question_bank.id %>&number=<%= i %>&from=<%= params[:from] %>&page=<%= params[:action] %>">Edit</a>&nbsp;|&nbsp;<a>Delete</a></div>
    <% end # end of qa.question nil check %>
  </div>
  <% i = i + 1
end %>