<%= stylesheet_link_tag 'question_bank' %>

<form action="/question_banks/question_bank_list/<%= @question_bank.id %>">
  <div class="div_container">
    <div class="questionbank_title"><%= @question_bank.name %></div>
    <div class="no_of_questions_errors_topics">
      <label class="larger_font"><%= @question_bank.questions.length %> / <%= @question_bank.questions.length %></label> Questions Uploaded	&nbsp;  &nbsp;
      <label class="larger_font"><%= @question_bank.errors.length %> / <%= @question_bank.questions.length %></label>  Errors   &nbsp;  &nbsp;
      <label class="larger_font"><%= @topics.length %></label>Topics & <label class="larger_font"><%= @question_bank.subtopics.uniq.length %></label> Sub-Topics
    </div>
    <table border="0"  cellspacing="0" class="width2">
      <tr>
        <th class="wider_column"></th>
        <th class="normal_column" align="right">Questions</th>
        <th class="normal_column" align="right">Errors</th>
      </tr>
      <% @topics.each do |topic| %>
        <tr>
          <td class="border_none topics"><%= topic.name %></td>
          <td class="topics_data"><%=h topic.questions.length %></td>
          <td class="border_none topics_data"><a><%=h topic.errors.length %></a></td>
        </tr>
        <% i = 1
        topic.subtopics.uniq.each do |subtopic| %>
          <tr <% if i % 2 != 0 %>class="even"<% end %>>
            <td class="border_none subtopics"><%= subtopic.name %></td>
            <td class="subtopics_data"><%= subtopic.questions.length %></td>
            <td class="border_none subtopics_data"><%=h subtopic.errors.length %></td>
          </tr>
          <% i = i + 1
        end
      end %>
    </table>
    <div class="horizontal_dotted_line"></div>
    <div class="done_button"><input type="submit" value="Done"/></div>
  </div>
</form>