<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'imports_convert'  %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>
<div id="div_container">
  <div id="div_mainpanel">
    <% if params.include? 'wrong_entries' then %>
      <h3><%= image_tag "checked_icon_small.png" %> <%=h @question_bank.no_of_questions %> questions are successfully imported from the excel file.</h3>
      <% if @wrong_entries > 0 then  %>
        <h3><%= image_tag "wrong.png" %><%= @wrong_entries %> questions failed to import from the excel file.</h3>
      <% end
    end%>
    <div id="imported_questions">
      <p>
        <b>Name:</b>
        <%=h @question_bank.name %>
      </p>
      <% j = 1
      prev_mtf_id = 0
      for question in @questions
        if question.question_type != "MTF" and !(question.mtf_id.nil? or question.mtf_id.blank?)
          current_mtf_id = question.mtf_id
          direction = Question.find_by_id(question.mtf_id)
          if current_mtf_id != prev_mtf_id %>
            <label>PTQ</label>
            <label style="font-weight: normal; font-size: 13px;"><%=raw direction.question_text %></label>&nbsp;&nbsp;
            <% unless direction.question_image_file_size.nil? %>
              <%= image_tag direction.question_image.url(:original), :alt => "Image" %><br/>
            <% end
            if params.include? 'control_from_edit_questions_page' then %>
              <a style="color: blue;" href="/questions/edit/<%=h direction.id %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%= @question_bank.id %>&control_from_edit_questions_page=">Edit</a>
            <% else %>
              <a style="color: blue;" href="/questions/edit/<%=h direction.id %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%= @question_bank.id %>">Edit</a>&nbsp;
            <% end
            if params.include? 'assessment_id' then
              if (!(@obj_assessment.test_pattern.nil? or @obj_assessment.test_pattern.blank?)) and @obj_assessment.test_pattern.question_wise_scoring
                obj_assessment_question = AssessmentQuestion.find_by_assessment_id_and_question_id(@obj_assessment.id,question.id)
              %>
                <% unless obj_assessment_question.nil? or obj_assessment_question.blank? %>
                  <br/>
                  <div style="margin-top:3px;font-size:12px;">
                    <label>Marks - Positive Mark:</label>&nbsp;<label><%= @obj_assessment.check_if_integer_or_float(obj_assessment_question.mark) %></label>
                    <label>Negative Mark:</label>&nbsp;<label><%= @obj_assessment.check_if_integer_or_float(obj_assessment_question.negative_mark) %></label>
                  </div>
                <% end
                end
            end %>
            <br/><br/><br/>
            <% prev_mtf_id = current_mtf_id
          end
        end %>
        <% i = 1 %>
        <div class="questions">
          <div class="question_red_cloth"><%= j %>.
            <% unless question.directions.nil? or question.directions.blank? %>
              <% if question.directions[0].direction_text.strip != "" %>Directions: <%=raw question.directions[0].direction_text %><% end %>
            <% end
            unless question.passages.nil? or question.passages.blank? %>
              <%=raw question.passages[0].passage_text %><br/>
            <% end
            if !question.error_in_question.nil? %>
              <font color="red"><%= question.error_in_question %></font>
            <% end
            if !question.question_text.nil? %>
              <%=raw question.question_text %>
            <% end
            if params.include? 'assessment_id' then
              if (!(@obj_assessment.test_pattern.nil? or @obj_assessment.test_pattern.blank?)) and @obj_assessment.test_pattern.question_wise_scoring
                obj_assessment_question = AssessmentQuestion.find_by_assessment_id_and_question_id(@obj_assessment.id,question.id)
              %>
                <% unless obj_assessment_question.nil? or obj_assessment_question.blank? %>
                  <br/>
                  <div style="font-size:12px;margin-top:3px;">
                    <label>Marks - Positive Mark:</label>&nbsp;<label><%= @obj_assessment.check_if_integer_or_float(obj_assessment_question.mark) %></label>
                    <label>Negative Mark:</label>&nbsp;<label><%= @obj_assessment.check_if_integer_or_float(obj_assessment_question.negative_mark) %></label>
                  </div>
                <% end %>
              <% end
            end%>
          </div>
          <% unless question.question_image_file_size.nil? %>
            <%= image_tag question.question_image.url(:small), :alt => "Image" %>
          <% end
          if question.question_type == "MTF" then
            sub_questions = Question.find_all_by_mtf_id(question.id, :order => "id")
            sub_questions.each do | sub_q |
              sub_q.answers.find(:all, :order => 'id').each do | ans | %>
                <div class="answers"><%= (i+96).chr %>.&nbsp; <%=raw sub_q.question_text %>&nbsp; - &nbsp;<b><%=raw ans.answer_text %></b></div>
              <% end
              i = i + 1
            end
            j = j + 1
          else
            question.answers.find(:all, :order => 'id').each do | ans | %>
              <% if ans.answer_image_file_name.nil? then  %>
                <% if ans.answer_status == 'correct' %>
                  <div class="answers"><font color="green"><b><%= (i+96).chr %>.&nbsp; <%=raw ans.answer_text %></b></font></div>
                  <% if question.question_type == "FIB"
                        break
                     end %>
                <% else %>
                  <div class="answers"><%= (i+96).chr %>.&nbsp; <%=raw ans.answer_text %></div>
                  <%  
                   end
                else
                  if ans.answer_status == 'correct' %>
                  <div class="answers"><font color="green"><b><%= (i+96).chr %>.&nbsp; <%=raw ans.answer_text %><%= image_tag ans.answer_image.url(:small), :style => "border :5px solid green;" %></b></font></div>
                <% else %>
                  <div class="answers"><%= (i+96).chr %>.&nbsp; <%=raw ans.answer_text %><%= image_tag ans.answer_image.url(:small) %></div>
                <% end
              end
              i = i + 1
            end
            j = j + 1
          end %>
          &nbsp;&nbsp;
          <% unless question.explanation.nil? or question.explanation.blank? %><div class="explanation" style="margin:0px 0px 0px 15px;"><b>Answer explanation:</b><br/> <%=raw question.explanation %></div><% end %>
          <% if params.include? 'assessment_id' then
            if params.include? 'control_from_edit_questions_page' then %>
              <a class="edit_question_lnk" href="/questions/edit/<%=h question.id %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%= @question_bank.id %>&control_from_edit_questions_page=">Edit</a>
              <% if @obj_assessment.total_learners == 0 then %>
                &nbsp;|&nbsp;<a href="/questions/destroy/<%=h question.id %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%= @question_bank.id %>" onclick="if (confirm('Are you sure?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">Delete</a><br/>
              <% end
            else %>
              <span class="span_edit_delete" style="margin:0px 0px 0px 15px;">
                <a href="/questions/edit/<%=h question.id %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%= @question_bank.id %>">Edit</a>&nbsp;|
                <a href="/questions/destroy/<%=h question.id %>?assessment_id=<%=h params[:assessment_id] %>&question_bank_id=<%= @question_bank.id %>" onclick="if (confirm('Are you sure?')) { var f = document.createElement('form'); f.style.display = 'none'; this.parentNode.appendChild(f); f.method = 'POST'; f.action = this.href;var m = document.createElement('input'); m.setAttribute('type', 'hidden'); m.setAttribute('name', '_method'); m.setAttribute('value', 'delete'); f.appendChild(m);f.submit(); };return false;">Delete</a><br/>
              </span>
            <% end
          end %>
        </div>
      <% end %>
    </div>
    <hr/>
    <% if params.include? 'assessment_id' then
      if params.include? 'control_from_edit_questions_page' then %>
        <div id="import_done"><a href="/assessments/edit_questions/<%=h params[:assessment_id] %>">Done</a></div>
      <% else
        if @obj_assessment.assessment_type == "single" %>
          <div id="import_done"><a href="/assessments/assessment_details/<%=h params[:assessment_id] %>">Done</a></div>
        <% elsif @obj_assessment.assessment_type == "multiple" %>
          <div id="import_done"><a href="/assessments/add_more_topics_to_assessment/<%=h params[:assessment_id] %>">Done</a></div>
        <% end
      end
    else %>
      <div id="import_next">
        <% if params.include? 'control_from_edit_questions_page' then %>
          <a href="/assessments/edit_questions/<%=h params[:assessment_id] %>">Back</a>
        <% elsif params.include? 'add_more_topics_to_assessment' %>
          <a href="/assessments/edit_questions/<%=h params[:assessment_id] %>">Back</a>
        <% else %>
          <a href="/assessments/create_assessment/<%=h current_user.id %>">Back</a>
        <% end %>
      </div>
    <% end %>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>