<%= stylesheet_link_tag 'question_bank' %>

<div class="div_container">
  <form action="">
    <div class="back_to_qb"> <a href="/question_banks/question_bank_list/<%= current_user.tenant_id %>">Back to question banks</a></div>
    <div class="questionbank_title"><%= @question_bank.name %><i><%= @question_bank.type_of_question_bank %></i></div>
    <div class="add_questions_button"><input type="submit" value="Add Questions"/></div>
    <div class="new_topic_button"><a href="/question_banks/create_new_topic/<%= params[:id] %>"><input type="button" value="New Topic"/></a></div>
        <%= render :partial => "topic_table_data" %>
        <%= render :partial => "question_bank_list_footer" %>
  </form>
</div>