<% unless @packages.nil? or @packages.blank? then
  @packages.each do |package|
      if @i == 0 then %>
        <div class="div_mainpanel_content">
          <% @i = 1
        else%>
          <div class = "div_mainpanel_content_alt">
            <% @i = 0
          end %>
          <div class="div_content_type">Package &nbsp;
          </div>
          <div class="div_course_title"><%=h package.name %></div>
          <div class="div_description">
            <% if !(package.description.nil?) or !(package.description.blank?) then %>
              <%=h package.description %>
            <% end %>
          </div>
          <div style="height: 90px; border-right: #cccccc 1px dotted; position: absolute; top: 5px; right: 200px;"></div>
          <% if package.package_image_file_name.nil? %>
              <div class="div_content_pic"><%= image_tag "Package-120x90.png" %></div>
          <% else %>
              <div class="div_content_pic"><%= image_tag package.package_image.url(:small) %></div>
          <% end %>
          <div class="preview">
            <a href="/packages/edit_package/<%=h package.id %>">Edit package Details</a> &nbsp; | &nbsp;
            <a href="">Preview Package</a>
          </div>
          <div class="assign_manage_learners">
            <% if package.learners.count > 0 then %>
                <%#*<a href="/reports/learners_for_assessment/<%=h package.id %">Report</a> &nbsp; | &nbsp;%>
              <a href="/packages/manage_learners/<%=h package.id %>">Manage Learners</a>
            <% else %>
              <a class="assign_learners_button" style="text-decoration: none;color:#ffffff;" href="/packages/manage_learners/<%=h package.id %>">Assign Learners</a>
            <% end %>
          </div>
          <% if package.learners.count > 0 then %>
            <div class="status_text"><%= package.learners.where(:lesson_status => "not attempted").count %><em>/<%= package.learners.count %> Attempted</em></div>
          <% end %>
        </div>
      <% end
  end %>
