<% no_of_active_days = (@course.end_time - @course.start_time) / (24 * 3600)
@course_type = @course.typeofcourse
start_time = @course.start_time
case(@learner.lesson_status)
when "not attempted" then end_time = @course.start_time + (no_of_active_days * 24 * 3600)
else end_time = @learner.test_start_time + (no_of_active_days * 24 * 3600)
end
if @zone.include? "+"
  case(@course.schedule_type)
  when "open" then show_end_time = end_time + @total_offset
  when "fixed" then show_end_time = @course.end_time + @total_offset
  end
  show_time = @course.start_time + @total_offset
else
  case(@course.schedule_type)
  when "open" then show_end_time = end_time - @total_offset
  when "fixed" then show_end_time = @course.end_time - @total_offset
  end
  show_time = @course.start_time - @total_offset
end
if @i== 0 then %>
  <div class="div_mainpanel_content">
    <% @i = 1
  else %>
    <div class = "div_mainpanel_content_alt">
      <% @i = 0
    end %>
    <div class="div_content_type"><%=h @course.typeofcourse %> &nbsp;
      <%if !@course.duration_hour.nil? and !@course.duration_min.nil?  then%> | &nbsp; <%= @course.duration_hour %> hr <%= @course.duration_min %> min
      <%elsif @course.duration_hour.nil? and !@course.duration_min.nil?  then%> | &nbsp; <%= @course.duration_min %> min
      <%elsif !@course.duration_hour.nil? and @course.duration_min.nil?  then%> | &nbsp; <%= @course.duration_hour %> hr<%end%>
    </div>

    <div class="div_course_title"><%=h @course.course_name %></div>

    <div class="div_description"><% if !(@course.description.nil?) or !(@course.description.blank?) %><%=h @course.description %><% end %></div>
    <% if @course.image_file_size.nil? or @course.image_file_size.blank?
      case(@course_type)
      when "audio" then %>
        <div class="div_content_pic"><%= image_tag "Audio.png" %></div>
      <% when "video","presentation","document" then %>
        <div class="div_content_pic"><img src="/<%= @course.image_file_name %>" /></div>
      <% when "e-learning","flash" then %>
        <div class="div_content_pic"><%= image_tag "Elearning.png" %></div>
      <% end
    else %>
      <div class="div_content_pic"><%= image_tag @course.image.url(:small) %></div>
    <% end %>

    <% if @tenant.is_expired == "false" then %>
      <div style="height: 90px; border-right: #cccccc 1px dotted; position: absolute; top: 5px; right: 210px;"></div>

      <div class="div_course_status">
        <% if @course.typeofcourse == "e-learning"
          if @learner.score_raw.blank? or @learner.score_raw.nil? %>
            <em><%=h @learner.lesson_status %></em>
          <% else %>
            <em>Score: <%=h @learner.score_raw %><% if !@learner.score_max.nil? and @learner.score_max != "" %> of <%=h @learner.score_max %><% end %></em>
          <% end
        else %>
          <em><%=h @learner.lesson_status %></em>
        <% end %>
      </div>

      <div class="div_takecourse">
        <% if @course_type == "document" %>
          <a href="/document_viewer/<%= @learner.id %>" >View</a>
        <% else %>
          <% if @course.schedule_type == "open" and @learner.lesson_status == "not attempted"
            if @time >= start_time and @time <= end_time %>
              <a href="/courses/launch_course/<%=h @learner.id %>?type=<%= @course_type %>">Take Course</a>
            <% end
          elsif @course.schedule_type == "fixed" and @learner.lesson_status == "not attempted"
            if @time >= start_time and @time <= @course.end_time %>
              <a href="/courses/launch_course/<%=h @learner.id %>?type=<%= @course_type %>">Take Course</a>
            <% end
          elsif (@learner.lesson_status == "incomplete" or @learner.lesson_status == "Incomplete") and @course.schedule_type == "open"
            if @time >= start_time and @time <= end_time %>
              <a href="/courses/launch_course/<%=h @learner.id %>?type=<%= @course_type %>">Continue</a>
            <% end
          elsif @learner.lesson_status == "incomplete" or @learner.lesson_status == "Incomplete" and @time <= @course.end_time %>
            <a href="/courses/launch_course/<%=h @learner.id %>?type=<%= @course_type %>">Continue</a>
          <% elsif @course.reattempt == "on" and @learner.no_of_times_attempted <= @course.no_of_reattempts then
            if @learner.lesson_status == "Completed" or @learner.lesson_status ==  "completed" then
              if @course.schedule_type == "fixed" and @time < @course.end_time then %>
                <a href="/courses/launch_course/<%=h @learner.id %>?type=<%= @course_type %>">Reattempt</a>
              <% elsif @course.schedule_type == "open" and @time >= start_time and @time <= end_time then %>
                <a href="/courses/launch_course/<%=h @learner.id %>?type=<%= @course_type %>">Reattempt</a>
              <% end
            end
          end
        end %>
        <div id="learners_star_display_div">
          <% if @learner.rating>0 then
            j=0
            while j<=4
              if j < @learner.rating then%>
                <div class="star"><%= image_tag "star_fill_small.png"%></div>
              <%else%>
                <div class="star"><%= image_tag "star_unfill_small.png"%></div>
              <%end
              j=j+1
            end
          end
        %>
        </div>
      </div>

      <% if @time < start_time %>
        <div class="div_takecourse"><p>You can take course at <%=h show_time.strftime('%d %b %Y %I:%M%p') %></p></div>
      <% elsif @learner.lesson_status == "not attempted" and @time >= end_time %>
        <div class="div_takecourse"><p>Course expired on <%=h show_end_time.strftime('%d %b %Y %I:%M%p') %></p></div>
      <% else %>
        <div class="div_takecourse"><p><%=h show_time.strftime('%d %b %Y') %></p></div>
      <% end
    end%>
  </div>