<%= javascript_include_tag 'upload_course' %>
<!--if IE 7 >
<%= stylesheet_link_tag 'for_ie_7' %>
< end if -->
<%= stylesheet_link_tag 'store_course_styles' %>
<%= render :partial => 'shared/jquery_scripts' %>

<% @tenant = Tenant.find_by_user_id(current_user.id) %>

<div id="div_container">

  <div id="div_mainpanel">
    <%= render :partial => 'shared/course_store_upload_form' %>
  </div><!--End main_pannel -->

  <div id="div_sidepanel">
    
  </div>

</div><!--End container-->