<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'about_us' %>

<div id="container">
  <div id="upper_panel">
    <h1><%= raw @rules['Business']['about_us']['heading']%></h1>
  </div>

  <div id="mid_panel">
    <div class="mid_content">
      <h2 style="color: #CC3333;" ><%= raw @rules['Business']['about_us']['left_head1']%></h2>
      <p><%= raw @rules['Business']['about_us']['right_para1']%></p>
    </div>

    <div class="mid_content">
      <h2 style="color:#1A6666;" ><%= raw @rules['Business']['about_us']['left_head2']%></h2>
      <p><%= raw @rules['Business']['about_us']['right_para2']%></p>
      <p style=" margin-top: 20px; " ><%= raw @rules['Business']['about_us']['right_para3']%></p>
      <p id ="para"><%= raw @rules['Business']['about_us']['right_para4']%></p>
    </div>

    <div class="mid_content">
      <h2 style="color: #99991B;"><%= raw @rules['Business']['about_us']['left_head3']%></h2>
      <p><%= raw @rules['Business']['about_us']['right_para5']%></p>
    </div>

    <div class="mid_content">
      <h2 style="color: #CC3333;"><%= raw @rules['Business']['about_us']['left_head4']%></h2>
      <p><%= raw @rules['Business']['about_us']['right_para6']%></p>
    </div>

    <p id ="para"><%= raw @rules['Business']['about_us']['management_team']['heading']%></p>

    <div class="mid_content">
      <h2 style="color: #1A6666;"><%= image_tag "lionsherhome_images/geeta_bose.gif" %></h2>
      <p> <%= raw @rules['Business']['about_us']['management_team']['geeta']['name_desig'] %> </p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['geeta']['para1'] %></p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['geeta']['para2'] %></p>
    </div>

    <div class="mid_content">
      <h2 style="color: #1A6666;"><%= image_tag "lionsherhome_images/rashmi_varma.gif" %></h2>
      <p>  <%= raw @rules['Business']['about_us']['management_team']['rashmi']['name_desig'] %> </p>
      <p id="mangnt_para"> <%= raw @rules['Business']['about_us']['management_team']['rashmi']['para1'] %></p>
      <p id="mangnt_para"> <%= raw @rules['Business']['about_us']['management_team']['rashmi']['para2'] %></p>
    </div>

    <div class="mid_content">
      <h2 style="color: #1A6666;"><%= image_tag "lionsherhome_images/ripul_kumar.gif" %></h2>
      <p>  <%= raw @rules['Business']['about_us']['management_team']['ripul']['name_desig'] %> </p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['ripul']['para1'] %></p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['ripul']['para2'] %></p>
    </div>

    <div class="mid_content">
      <h2 style="color: #1A6666;"><%= image_tag "lionsherhome_images/rahul.jpg" %></h2>
      <p> <%= raw @rules['Business']['about_us']['management_team']['rahul']['name_desig'] %> </p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['rahul']['para1'] %></p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['rahul']['para2'] %></p>
      <p id="mangnt_para"><%= raw @rules['Business']['about_us']['management_team']['rahul']['para3'] %></p>
    </div>
  </div>
  <div id="lower_panel"></div>
</div>
