<%= stylesheet_link_tag 'benefits_mid_sized_businesses' %>
<%= render :partial => "benefits" %>
<div id="mid_panel">
  <div class="next_button">  <a href="/benefits_educational_institution"><%= image_tag "lionsherhome_images/next_hover.png" %></a>  </div>
  <div class="prev_button">  <a href="/benefits_small_business"><%= image_tag "lionsherhome_images/prev_hover.png" %></a>  </div>
  <div id="mid_panel_content">
    <h3><%= raw @rules['Business']['mid-sized_corporate']['topleft_heading'] %></h3>
    <div id="buzz_image"><%= image_tag "lionsherhome_images/img_midbiz_big.jpg" %></div>
    <h2><%= raw @rules['Business']['mid-sized_corporate']['topright_heading'] %></h2>
    <p><%= raw @rules['Business']['mid-sized_corporate']['description'] %></p>
    <div id="piggie_points">
      <ul type="square">
        <li><p> <%= raw @rules['Business']['mid-sized_corporate']['point1'] %></p></li>
        <li><p> <%= raw @rules['Business']['mid-sized_corporate']['point2'] %></p></li>
        <li><p> <%= raw @rules['Business']['mid-sized_corporate']['point3'] %></p></li>
      </ul>
      <%= image_tag "lionsherhome_images/piggie.jpg" %>
    </div>
  </div>
  <div id="bullet_points">
    <h5>What can you do?</h5>
    <%= image_tag "lionsherhome_images/green_tick.png" %> <%= raw @rules['Business']['mid-sized_corporate']['botm_point1'] %>
    <%= image_tag "lionsherhome_images/green_tick.png" %> <%= raw @rules['Business']['mid-sized_corporate']['botm_point2'] %>
    <%= image_tag "lionsherhome_images/green_tick.png" %> <%= raw @rules['Business']['mid-sized_corporate']['botm_point3'] %>
    <%= image_tag "lionsherhome_images/green_tick.png" %> <%= raw @rules['Business']['mid-sized_corporate']['botm_point4'] %>
  </div>
</div>
</div>