<%= stylesheet_link_tag 'pricing_dollar' %>
<%= render :partial => "pricing" %>

<div id="pricing_mid_panel">

  <a href="" id="in_us">In US</a><%= image_tag "lionsherhome_images/dollar.png", :id => "dollar" %>
  <a href="/pricing_rupees" id="in_rupees">In</a><%= image_tag "lionsherhome_images/rupee.png", :id => "rupee" %>
  <div class="type_of_business">
    <h5> <%= raw @rules['Business']['small']['type'] %></h5>
    <h6><%= raw @rules['Business']['small']['intro'] %></h6>
    <div class="blue_underline"></div>
    <div class="plan_details"><b><s><%= raw @rules['Business']['small']['price']['dollars'] %></s> per month</b></div>
    <span><%= raw @rules['Business']['small']['addonprice']['trial'] %></span>
    <div class="plan_details"><s><%= raw @rules['Business']['small']['learners'] %></s> Learners</div>
    <div class="plan_details"><s> <%= raw @rules['Business']['small']['space_in_GB']%></s> Space</div>
    <div class="plan_details"><span>Add-on cost</span><br/> <%= raw @rules['Business']['small']['addonprice']['dollars'] %></div>
    <a href="/signup?type_of_business=small"><div class="signup_div"></div></a>

  </div>

  <div class="type_of_business">
    <h5><%= raw @rules['Business']['medium']['type'] %></h5>
    <h6><%= raw @rules['Business']['medium']['intro'] %></h6>
    <div class="blue_underline"></div>
    <div class="plan_details"  style="margin-top: 39px;"><b><s><%= raw @rules['Business']['medium']['price']['dollars'] %></s> per month</b></div>
    <span><%= raw @rules['Business']['small']['addonprice']['trial'] %></span>
    <div class="plan_details"><s><%= raw @rules['Business']['medium']['learners'] %></s> Learners</div>
    <div class="plan_details"><s><%= raw @rules['Business']['medium']['space_in_GB']%></s> Space</div>
    <div class="plan_details"><span>Add-on cost</span><br/> <%= raw @rules['Business']['small']['addonprice']['dollars'] %></div>
    <a href="/signup?type_of_business=medium"><div class="signup_div"></div></a>
  </div>

  <div class="type_of_business">
    <h5><%= raw @rules['Business']['large']['type'] %></h5>
    <h6><%= raw @rules['Business']['large']['intro'] %></h6>
    <div class="blue_underline"></div>
    <div class="plan_details" style="margin-top: 39px;"><b><s><%= raw @rules['Business']['large']['price']['dollars'] %></s> per month</b></div>
    <span><%= raw @rules['Business']['small']['addonprice']['trial'] %></span>
    <div class="plan_details"><s><%= raw @rules['Business']['large']['learners'] %></s> Learners</div>
    <div class="plan_details"><s><%= raw @rules['Business']['large']['space_in_GB']%></s> Space</div>
    <div class="plan_details"><span>Add-on cost</span><br/> <%= raw @rules['Business']['small']['addonprice']['dollars'] %></div>
    <a href="/signup?type_of_business=large"><div class="signup_div"></div></a>

  </div>
</div>
<div class="shadow_line"> &nbsp;</div>

<div id="lower_panel">
  <%= image_tag "lionsherhome_images/icon_email.png" %>
  <p><%= raw @rules['Business']['moreinfo']['contactsales'] %><s><%= raw @rules['Business']['moreinfo']['salesemail'] %></s></p>
  <p><%= raw @rules['Business']['moreinfo']['emailsupport'] %></p>
</div>
