<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'about_us' %>
<div id="container">
  <div class="middle" style="margin: 20px;">
    <h1><%= raw @rules['Business']['privacy_policy']['header']%></h1>
    <%= raw @rules['Business']['privacy_policy']['para1']%>
    <ul>
      <li><%= raw @rules['Business']['privacy_policy']['list_1']%></li><br/>
      <li><%= raw @rules['Business']['privacy_policy']['list_2']%></li>
    </ul>
    <h2><%= raw @rules['Business']['privacy_policy']['info_usage']%></h2>
    <%= raw @rules['Business']['privacy_policy']['para2']%>
    <h2><%= raw @rules['Business']['privacy_policy']['cookies']%></h2>
    <%= raw @rules['Business']['privacy_policy']['para3']%>
    <h2><%= raw @rules['Business']['privacy_policy']['data_storage']%></h2>
    <%= raw @rules['Business']['privacy_policy']['para4']%>
    <h2><%= raw @rules['Business']['privacy_policy']['disclosure']%></h2>
    <%= raw @rules['Business']['privacy_policy']['para5']%>
    <h2><%= raw @rules['Business']['privacy_policy']['changes']%></h2>
    <%= raw @rules['Business']['privacy_policy']['para6']%>
  </div>
</div>