<h1>Editing pulse_survey</h1>

<% form_for(@pulse_survey) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </p>
  <p>
    <%= f.label :email %><br />
    <%= f.text_area :email %>
  </p>
  <p>
    <%= f.label :coupon_code %><br />
    <%= f.text_area :coupon_code %>
  </p>
  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @pulse_survey %> |
<%= link_to 'Back', pulse_surveys_path %>
