<p id="notice"><%= notice %></p>

<p>
  <b>Learner:</b>
  <%= @test_detail.learner_id %>
</p>

<p>
  <b>Attempted status:</b>
  <%= @test_detail.attempted_status %>
</p>

<p>
  <b>Question:</b>
  <%= @test_detail.question_id %>
</p>

<p>
  <b>Answer:</b>
  <%= @test_detail.answer_id %>
</p>

<p>
  <b>Question type:</b>
  <%= @test_detail.question_type %>
</p>

<p>
  <b>Learner answer text:</b>
  <%= @test_detail.learner_answer_text %>
</p>

<p>
  <b>Answer status:</b>
  <%= @test_detail.answer_status %>
</p>

<p>
  <b>User:</b>
  <%= @test_detail.user_id %>
</p>

<p>
  <b>Tenant:</b>
  <%= @test_detail.tenant_id %>
</p>

<p>
  <b>Duration spent:</b>
  <%= @test_detail.duration_spent %>
</p>

<p>
  <b>Score:</b>
  <%= @test_detail.score %>
</p>


<%= link_to 'Edit', edit_test_detail_path(@test_detail) %> |
<%= link_to 'Back', test_details_path %>
