<h1>Listing report_components</h1>

<table>
  <tr>
    <th>Component name</th>
    <th>Report template</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @report_components.each do |report_component| %>
  <tr>
    <td><%= report_component.component_name %></td>
    <td><%= report_component.report_template_id %></td>
    <td><%= link_to 'Show', report_component %></td>
    <td><%= link_to 'Edit', edit_report_component_path(report_component) %></td>
    <td><%= link_to 'Destroy', report_component, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Report component', new_report_component_path %>
