<%= stylesheet_link_tag 'features_cost_effective' %>
<%= render :partial => "features" %>
<div id="mid_panel">
  <div class="next_button">  <a href="/features_easy_to_use"><%= image_tag "lionsherhome_images/next_hover.png" %></a>  </div>
  <div class="prev_button">  <a><%= image_tag "lionsherhome_images/prev.png" %></a>  </div>
  <%= image_tag "lionsherhome_images/features_cost_effective.jpg", :alt => "Cost-effective $0 upfront investment $0 installation cost $0 customization cost $0 maintanance $0 troubleshooting" %>
</div>
<div class="shadow_line"> &nbsp;</div>
<div id="lower_panel">
  <div id="lower_content">
    <div class="static_content">
      <div class="static_content">
        <h1><%= raw @rules['Business']['costeffective']['h1'] %></h1>
        <p><%= raw @rules['Business']['costeffective']['para1'] %></p>
      </div>
      <div class="static_content">
        <h3><%= raw @rules['Business']['costeffective']['h2'] %></h3>
        <p><%= raw @rules['Business']['costeffective']['para2'] %></p>
      </div>
    </div>
    <div class="static_content" id="no_hardware_costs">
      <h4><%= raw @rules['Business']['costeffective']['h3'] %></h4>
      <p><%= raw @rules['Business']['costeffective']['para3'] %></p>
    </div>
    <div class="static_content">
      <h2><%= raw @rules['Business']['costeffective']['h4'] %></h2>
      <p><%= raw @rules['Business']['costeffective']['para4'] %></p>
    </div>
    <div class="static_content" id="no_hardware_costs">
      <h1><%= raw @rules['Business']['costeffective']['h5'] %></h1>
      <p><%= raw @rules['Business']['costeffective']['para5'] %></p>
    </div>
  </div>
</div>
