<%= stylesheet_link_tag 'features_scalable' %>
<%= render :partial => "features" %>
<div id="mid_panel">
  <div class="next_button">  <a href="/features_any_where_access"><%= image_tag "lionsherhome_images/next_hover.png" %></a>  </div>
  <div class="prev_button">  <a href="/features_customizable"><%= image_tag "lionsherhome_images/prev_hover.png" %></a>  </div>
  <%= image_tag "lionsherhome_images/features_scalable.jpg", :alt => "Scalable Lionsher is highly stable and flexible. It is built on a framework that is highly scalable. Built on Ruby. Hosted off the cloud  that gaurantees Zero downtime. 10 or 100,000 learners, scale up in a jiffy without breaking a sweat." %>
</div>
<div class="shadow_line"> &nbsp;</div>
<div id="lower_panel">
  <div id="lower_content">
    <div class="static_content">
      <h1><%= raw @rules['Business']['scalable']['h1'] %></h1>
      <p><%= raw @rules['Business']['scalable']['para1'] %></p>
    </div>
    <div class="static_content">
      <h2><%= raw @rules['Business']['scalable']['h2'] %></h2>
      <p><%= raw @rules['Business']['scalable']['para2'] %></p>
    </div>
  </div>
</div>
</div>