<%= stylesheet_link_tag 'features_highly_secure' %>
<%= render :partial => "features" %>
<div id="mid_panel">
  <div class="next_button"> <a href="/features_customizable"><%= image_tag "lionsherhome_images/next_hover.png" %></a>  </div>
  <div class="prev_button">  <a href="/features_easy_to_use"><%= image_tag "lionsherhome_images/prev_hover.png" %></a>  </div>
  <%= image_tag "lionsherhome_images/features_highly_secure.jpg", :alt => "Highly Secure Lionsher protects you data using highly secure servers and information encryption level similar to your bank. This is as secure as you online banking." %>
</div>
<div class="shadow_line"> &nbsp;</div>
<div id="lower_panel">
  <div id="lower_content">
    <div class="static_content">
      <h1><%= raw @rules['Business']['highly_secure']['h1'] %></h1>
      <p> <%= raw @rules['Business']['highly_secure']['para1'] %></p>
    </div>
    <div class="static_content">
      <h2><%= raw @rules['Business']['highly_secure']['h2'] %></h2>
      <p><%= raw @rules['Business']['highly_secure']['para2'] %> </p>
    </div>
  </div>
</div>
</div>