<%= stylesheet_link_tag 'home' %>
<%= stylesheet_link_tag 'lionsherhome' %>
<div id="container">
  <div id="upper_panel">
    <div id="banner_image">
      <%= image_tag "lionsherhome_images/lionsher_home_banner.jpg", :alt => "Lionsher is an easy to use, cost effective, web based learning management system" %>
    </div>
  </div>
  <div id="flash">
    <% if !flash[:signup_notice].nil? or !flash[:signup_notice].blank? %>
      <%=h flash[:signup_notice] %>
    <% end %>
  </div>
  <div id="mid_panel">
    <div id="mid_text_panel">
      <%= raw @rules['Business']['index']['top_text'] %>
      <div id="images">
        <div class="image_details" ><%= image_tag "lionsherhome_images/img_trainers_small.jpg", :alt => "", :style => "float: none;" %><a href="/benefits_individual_trainer"><p>Individual Trainer <%= image_tag "lionsherhome_images/arraow.png", :id => "arw_one" %></p></a></div>
        <div class="image_details"><%= image_tag "lionsherhome_images/img_smallbiz_small.jpg", :alt => "" %><a href="/benefits_small_business"><p>Small Business <%= image_tag "lionsherhome_images/arraow.png", :id => "arw_two" %></p></a></div>
        <div class="image_details"><%= image_tag "lionsherhome_images/img_midbiz_small.jpg", :alt => "" %><a href="/benefits_mid_sized_corporate"><p>Mid-sized Corporate <%= image_tag "lionsherhome_images/arraow.png", :id => "arw_three" %></p></a></div>
        <div class="image_details" ><%= image_tag "lionsherhome_images/img_institutes_small.jpg", :alt => "" %><a href="/benefits_educational_institution"><p>Educational Institution <%= image_tag "lionsherhome_images/arraow.png", :id => "arw_four" %></p></a></div>
      </div>
<%#*<div id="link_button"><a href="/pricing_dollar"><div id="view_pricing_and_signup"></div></a></div>%>
      <div id="free_trial_link_button">
        <a href="/pricing_rupees"><div id="free_trial"></div></a>
        <span>Try it to believe it.</span>
      </div>
    </div>
  </div>
<%#*<div id="divider">&nbsp;</div>%>
  <div id="lower_panel">
    <%= raw @rules['Business']['index']['heading'] %>
    <div class="lower_bottom_text">
      <%= raw @rules['Business']['index']['col_1_para_1'] %>
      <%= raw @rules['Business']['index']['col_1_para_2'] %>
      <div class="vert_divider">&nbsp;</div>
      <div id="image_one"><%= image_tag "lionsherhome_images/saving.jpg", :alt => "" %></div>
    </div>
    <div class="lower_bottom_text">
      <%= raw @rules['Business']['index']['col_2_para_1'] %>
      <%= raw @rules['Business']['index']['col_2_para_2'] %>
      <div class="vert_divider">&nbsp;</div>
    </div>
    <div class="lower_bottom_text">
      <%= raw @rules['Business']['index']['col_3_para_1'] %>
      <%= raw @rules['Business']['index']['col_3_para_2'] %>
      <%= raw @rules['Business']['index']['col_3_para_3'] %>
      <div class="vert_divider">&nbsp;</div>
      <%= image_tag "lionsherhome_images/zero_dollar.jpg", :id => "image_two", :alt => "" %>
    </div>
    <div class="lower_bottom_text">
      <%= raw @rules['Business']['index']['col_4_para_1'] %>
      <%= raw @rules['Business']['index']['col_4_para_2'] %>
    </div>
  </div>
</div>
