
<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'about_us' %>
<div id="container">
  <div class="middle" style="margin: 20px;">

    <h1><%= raw @rules['Business']['terms_and_condtn']['header']%></h1>
    <%= raw @rules['Business']['terms_and_condtn']['definitions']%>
    <h2>  <%= raw @rules['Business']['terms_and_condtn']['side1']%></h2>


    <h2>"<%= raw @rules['Business']['terms_and_condtn']['lionsher']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para7']%>

    <h2>"<%= raw @rules['Business']['terms_and_condtn']['license_to_use_lionsher']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para8']%>

    <h2>"<%= raw @rules['Business']['terms_and_condtn']['your_resposibilities']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para9']%>

    <h2>"<%= raw @rules['Business']['terms_and_condtn']['property_data']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para10']%>
    <%= raw @rules['Business']['terms_and_condtn']['para11']%>
    <%= raw @rules['Business']['terms_and_condtn']['para12']%>

    <h2>"<%= raw @rules['Business']['terms_and_condtn']['billing_payment']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para13']%>

    <h2> "<%= raw @rules['Business']['terms_and_condtn']['serv_supp']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para14']%>
    <h2>"<%= raw @rules['Business']['terms_and_condtn']['lionsher']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para15']%>
    <%= raw @rules['Business']['terms_and_condtn']['para16']%>

    <h2>"<%= raw @rules['Business']['terms_and_condtn']['termination_cause']%>"</h2>
    <%= raw @rules['Business']['terms_and_condtn']['para17']%>

    <h2><%= raw @rules['Business']['terms_and_condtn']['representations_warranties']%></h2>
    <%= raw @rules['Business']['terms_and_condtn']['para18']%>
     <%= raw @rules['Business']['terms_and_condtn']['para19']%>

    <h2><%= raw @rules['Business']['terms_and_condtn']['disclaimer']%></h2>
    <%= raw @rules['Business']['terms_and_condtn']['para20']%>

    <h2><%= raw @rules['Business']['terms_and_condtn']['Limit_liabty']%></h2>
    <%= raw @rules['Business']['terms_and_condtn']['para21']%>
    <%= raw @rules['Business']['terms_and_condtn']['para22']%>
    <%= raw @rules['Business']['terms_and_condtn']['para23']%>



    <h2><%= raw @rules['Business']['terms_and_condtn']['bill_paymnt']%></h2>
    <%= raw @rules['Business']['terms_and_condtn']['para24']%>

    <%= raw @rules['Business']['terms_and_condtn']['service_support']%>
    <%= raw @rules['Business']['terms_and_condtn']['para25']%>
    <%= raw @rules['Business']['terms_and_condtn']['para26']%>
    <%= raw @rules['Business']['terms_and_condtn']['para27']%>
    <%= raw @rules['Business']['terms_and_condtn']['para28']%>

     <%= raw @rules['Business']['terms_and_condtn']['termntn_cause']%>
    <%= raw @rules['Business']['terms_and_condtn']['para29']%>

     <%= raw @rules['Business']['terms_and_condtn']['reprtn_waranty']%>
    <%= raw @rules['Business']['terms_and_condtn']['para30']%>

     <%= raw @rules['Business']['terms_and_condtn']['indemnity']%>
    <%= raw @rules['Business']['terms_and_condtn']['para31']%>

     <%= raw @rules['Business']['terms_and_condtn']['disclmr_waranty']%>
    <%= raw @rules['Business']['terms_and_condtn']['para32']%>

     <%= raw @rules['Business']['terms_and_condtn']['limtn_of_liablty']%>
    <%= raw @rules['Business']['terms_and_condtn']['para33']%>

    <%= raw @rules['Business']['terms_and_condtn']['notices']%>
    <%= raw @rules['Business']['terms_and_condtn']['para34']%>

    <%= raw @rules['Business']['terms_and_condtn']['modftns&terms']%>
    <%= raw @rules['Business']['terms_and_condtn']['para35']%>

    <%= raw @rules['Business']['terms_and_condtn']['ind_judtn']%>
    <%= raw @rules['Business']['terms_and_condtn']['para36']%>

  </div>
</div>