<%= stylesheet_link_tag 'lionsherhome' %>
<%= stylesheet_link_tag 'tests_pricing' %>

<div id="container">
  <h5>Begin with 30 free tests. Get detailed reports.<s>Sign up in less than 2 minutes!</s></h5>
  <div id="upper_panel">
    <div id="prices" ><div id="price"><p id="price_p">price</p></div><p id="price_test_p">Price per Test</p><p id="price_validity">Validity</p><div id="add_on_pack"><p>Add-on Pack<br/><s>valid for 3<br/>months</s></p></div></div>
    <div class="test_pricing_plans">
      <div id="tests_one" class="price_info">
        <p class="tests_info" id="tests_onee">1000 Tests</p>
        <p>Rs 15,000</p>
        <p>Rs 15</p>
        <p>1 Year</p>
        <div class="price_details">
        <p>Rs 1,500<br/><s>for 100 tests</s></p></div>
      </div>
      <a href="/users/signup_for_tests/13?type_of_business=small business&assessment_only_plan="><div class="signup_div"><%= image_tag "lionsherhome_images/signup.png" %></div></a>
    </div>
    <div class="test_pricing_plans">
      <div id="tests_two" class="price_info">
        <p class="tests_info" id="tests_twoo">5000 Tests</p>
        <p>Rs 50,000</p>
        <p>Rs 10</p>
        <p>1 Year</p>
        <div class="price_details">
          <p>Rs 5,000<br/><s>for 500 tests</s></p></div>
      </div>
      <a href="/users/signup_for_tests/14?type_of_business=medium business&assessment_only_plan="><div class="signup_div"><%= image_tag "lionsherhome_images/signup.png" %></div></a>
    </div>
    <div class="test_pricing_plans">
      <div id="tests_three" class="price_info">
        <p class="tests_info" id="tests_threee">40,000 Tests</p>
        <p>Rs 3,20,000</p>
        <p>Rs 8</p><p>1 Year</p>
        <div class="price_details">
        <p>Rs 40,000<br/><s>for 5000 tests</s></p></div>
      </div>
      <a href="/users/signup_for_tests/15?type_of_business=medium business&assessment_only_plan="><div class="signup_div"><%= image_tag "lionsherhome_images/signup.png" %></div></a>
    </div>
    <div class="test_pricing_plans">
      <div id="tests_four" class="price_info">
        <p class="tests_info" id="tests_fourr">1,00,000 Tests</p>
        <p>Rs 4,00,000</p>
        <p>Rs 4</p>
        <p>1 Year</p>
        <div class="price_details">
        <p>Rs 40,000<br/><s>for 5000 tests</s></p></div>
      </div>
      <a href="/users/signup_for_tests/16?type_of_business=large business&assessment_only_plan="><div class="signup_div"><%= image_tag "lionsherhome_images/signup.png" %></div></a>
    </div>
  </div>
  <div id="contact">
    <h6>Have a different testing need, <a href="/tests_contact_us">Contact Us</a> to design a Lionsher Tests pack specifically for you</h6>
  </div>
</div>