<%= stylesheet_link_tag 'tests' %>
<%= stylesheet_link_tag 'lionsherhome' %>
<div id="container">
  <div id="upper_panel">
    <div id="tests_image">
      <%= image_tag "lionsherhome_images/banner_tests.jpg", :alt => "Lionsher is an easy to use, cost effective, web based learning management system" %>
    </div>
    <div id="upper_info">
      <div id="tests_info">
        <p>1000's of tests run on Lionsher every day!<br/><br/>Lionsher Tests makes it <b>absolutely easy</b> to conduct tests online.
          Bid goodbye to paper-based tests and stop losing sleep waiting for <b>error-free</b> reports, create tests online on Lionsher in minutes.</p>
      </div>
      <div id="tests_pack">
        <div id="contact_us"><a href="/tests_pricing"><%= image_tag "lionsherhome_images/Create_a_Test.png", :size => "200x50" %></a></div>
        <p>Begin with 30 free tests!</p>
      </div>
    </div>
  </div>

  <div id="features_info">
    <%#*<h3>Features</h3>%>
    <div class="test_features">
      <%= image_tag "assessment.png", :id => "all_type_test_image" %>
      <div class="test_features_info" id="all_type_test_info">
        <h3><b>Create All Types of Tests</b></h3>
        <h4><ul> <li>Multiple Choice Question, Single Answer</li>
            <li>Multiple Choice Question, Multiple Answers</li>
            <li>Match the Following</li>
            <li>Fill in the Blanks</li>
            <li>Short Answer</li>
            <li>You can add an image to a question.</li>
          </ul>
        </h4>
      </div>
    </div>
    <div class="test_features">
      <%= image_tag "assessment.png", :id => "test_admin_option_image" %>
      <div class="test_features_info" id="test_admin_option_info">
        <h3><b>Test Administering Options</b></h3>
        <h4><ul>  <li>Randomization of questions</li>
            <li>Each test taker gets a different order of questions and answers: Supports randomization of question order and answer order</li>
            <li>Each test taker gets a different test: Supports picking up specific number of questions from a large pool of questions in a random order</li>
            <li>Topic based marking: Questions can be categorized in up to 5 different topics. Each topic can have separate questions. Each topic is assessed separately.</li>
            <li>Time based tests: Set a start time and duration of test</li>
          </ul>
        </h4>
      </div>
    </div>
    <div class="test_features" id="exhaustive_test_reports">
      <%= image_tag "assessment.png", :id => "test_admin_option_image" %>
      <div class="test_features_info" id="test_admin_option_info">
        <h3><b>Exhaustive Test Reports</b></h3>
        <h4><ul>  <li>Learner-based reports across all tests</li>
            <li> Test-based report across all learners</li>
            <li>Question/Answer report for a learner for a test</li>
            <li>Real-time reports downloadable in MS Excel format</li>
            <li>Pass/Fail</li>
            <li>Reports according to ranking</li>
          </ul>
        </h4>
      </div>
    </div>
  </div>
   <div id="customers_info">
     <p><i><b>What are our customers saying?</b></i></p>
    <div id="customer_feedback">
    <div class="customer_info" id="sabir_info">
      <h3>“Lionsher LMS team is very professional. They are associated with us for last four months and the team has ensured a successful
        training site. We had a good customization work done and they fulfilled our needs. The team has tailored the assessment design to
        our requirements. Their attention to detail and timely delivery has been positive. I am thankful for their expertise and friendly customer service”
      </h3>
      <h4><b>Sabir Shah</b></h4>
      <h5>Manager – Training & Development, Cidade de Goa</h5>
    </div>
    <div  class="customer_info" id="nikhil_info">
      <h3>I have been using Lionsher for the past two months & I’m really impressed by this Learning Management System. I have seen the
        functionality of this & I find it extremely easy to use, flexible & fast. We have been using the Assessment part of the same for a project for
        Hindustan Unilever-Pure-It division & are very much satisfied with the LMS. The Assessment engine is extremely user friendly for administrators & learners both.”</h3>
      <h4><b>Nikhil Junnarkar</b></h4>
      <h5>Chief Manager-Knowledge Resourcing, Maadhyam</h5>
    </div>
    <div  class="customer_info" id="sunil_info">
      <h3>“I have had the chance to work with the first release of LionSher. From start - self registration to finish - a user taking a course,
        the entire process was less than an hour long. Kudos to Kern for identifying a need in the SME sector and coming up with a product that
        is extremely useful, easy to use and inexpensive to deploy. It fills a critical gap in the industry.”</h3>
      <h4><b>Sunil Kandlikar</b></h4>
      <h5>Ex CEO, LearningByte International</h5>
    </div>
      </div>
  </div>
</div>