<%= form_for(@passage) do |f| %>
  <% if @passage.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@passage.errors.count, "error") %> prohibited this passage from being saved:</h2>

      <ul>
      <% @passage.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :passage_text %><br />
    <%= f.text_area :passage_text %>
  </div>
  <div class="field">
    <%= f.label :question_bank_id %><br />
    <%= f.number_field :question_bank_id %>
  </div>
  <div class="field">
    <%= f.label :tenant_id %><br />
    <%= f.number_field :tenant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
