<%= form_for(@component_widget) do |f| %>
  <% if @component_widget.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@component_widget.errors.count, "error") %> prohibited this component_widget from being saved:</h2>

      <ul>
      <% @component_widget.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :report_component_id %><br />
    <%= f.number_field :report_component_id %>
  </div>
  <div class="field">
    <%= f.label :widget_id %><br />
    <%= f.number_field :widget_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
