<%= stylesheet_link_tag 'courses_content' %>
<%= render :partial => '/layouts/courses_header' %>
<div id="div_container">
	<div id="div_mainpanel">
		<h1>Existing Report Templates</h1>
		<form>
			<table>
				<% @templates.each do |template| %>
				<tr>
					<td><%=h template.name %></td>
					<td><a href="/report_components/create_report_components/<%=h template.id %>">View details</a></td>
    				<td><a href="/report_templates/edit/<%=h template.id %>">Edit</a></td>		
					<td><a href="/report_templates/delete_template/<%=h template.id %>"><img src="/assets/delete.png"/></a></td>					
				</tr>
				<% end %>
			</table>
		</form>
		<%= link_to 'New Report template', new_report_template_path %>
	</div> <%# end of div_mainpanel %>
	<div id="div_sidepanel">
		<%= render :partial => "/courses/logo" %>
	</div> <%# end of div_sidepanel %>
</div> <%# end of div_container %>
<%= render :partial => '/layouts/courses_footer' %>