<p id="notice"><%= notice %></p>

<p>
  <b>Question:</b>
  <%= @question_tag.question_id %>
</p>

<p>
  <b>Tagvalue:</b>
  <%= @question_tag.tagvalue_id %>
</p>


<%= link_to 'Edit', edit_question_tag_path(@question_tag) %> |
<%= link_to 'Back', question_tags_path %>
