<% unless @user_assessments.nil? or @user_assessments.blank? then
  @user_assessments.each do |assessment|
      if @i == 0 then %>
        <div class="div_mainpanel_content">
          <% @i = 1
        else%>
          <div class = "div_mainpanel_content_alt">
            <% @i = 0
          end %>
          <div class="div_content_type">Assessment &nbsp;
            <% if !assessment.duration_hour.nil? and !assessment.duration_min.nil? then %>
              |&nbsp;&nbsp;<% if assessment.duration_hour > 0 %><%= assessment.duration_hour %> Hr <% end %>
              <% if assessment.duration_min > 0 %><%= assessment.duration_min %> Mins
              <% end
            end %>
          </div>
          <div class="div_course_title"><%=h assessment.name %></div>
          <div class="div_description">
            <% if !(assessment.description.nil?) or !(assessment.description.blank?) then %>
              <%=h assessment.description %>
            <% end %></div>
          <div style="height: 90px; border-right: #cccccc 1px dotted; position: absolute; top: 5px; right: 200px;"></div>
          <% if assessment.assessment_image_file_name.nil? %>
              <div class="div_content_pic"><%= image_tag "assessment.png" %></div>
          <% else %>
              <div class="div_content_pic"><%= image_tag assessment.assessment_image.url(:small) %></div>
          <% end %>
          <div class="preview">
            <% if assessment.using_rules %>
            <a href="/structure_components/create_structure/<%=h assessment.id %>">Edit Assessment Details</a> &nbsp;
            <% else %> 
            <a href="/assessments/edit_questions/<%=h assessment.id %>">Edit Assessment Details</a> &nbsp; 
            <% end %>
        <% if !(assessment.no_of_questions.nil? or assessment.no_of_questions.blank?) and assessment.no_of_questions > 0 %>
            | &nbsp; <a href="/assessments/start_test/<%=h assessment.current_learner_id %>">Preview Assessment</a>
        <% end %>
          </div>
          <div class="assign_manage_learners">
            <% if assessment.total_learners > 0 then %>
                <a <% if assessment.reports.where(:for_whom => "admin").count > 0 %>href="/assessments/report/<%=h assessment.id %>"<% else %>href="/reports/learners_for_assessment/<%=h assessment.id %>"<% end %>>Report</a> &nbsp; | &nbsp;
              <a href="/assessments/manage_learners/<%=h assessment.id %>">Manage Learners</a>
            <% else %>
            <% if !(assessment.no_of_questions.nil? or assessment.no_of_questions.blank?) and assessment.no_of_questions > 0 %>
              <a class="assign_learners_button" style="text-decoration: none;color:#ffffff;" href="/assessments/manage_learners/<%=h assessment.id %>">Assign Learners</a>
            <% end %>
            <% end %>
          </div>
          <% if assessment.total_learners > 0 then %>
            <div class="status_text"><%= assessment.no_of_attempted_learners %><em>/<%= assessment.total_learners %> Attempted</em></div>
          <% end %>
        </div>
      <% end
  end %>
