<%#*Two-to-three-upgrade-error%>
<% if @course.image_file_name.nil? %>
  <div class="div_content_pic"><%= image_tag "Elearning.png" %></div>
<% else %>
  <div class="div_content_pic"><%= image_tag @course.image.url(:small) %></div>
<% end %>
<div class="preview">
  <% if current_user.typeofuser == "admin" then %>
    <a href="/courses/edit/<%=h @course.id %>">Edit Course Details</a> &nbsp; | &nbsp;
    <a href="/courses/launch_course/<%=h @course.current_learner_id %>?type=e-learning">Preview Course</a>
    <% elsif current_user.typeofuser == "individual buyer" or current_user.typeofuser == "corporate buyer" then %>
    Valid up to:<%= @buyer_seller.buyer_course_expiry.strftime('%b %d, %Y') %>
  <% end %>
</div>
