<% @assessment = Assessment.find_by_id(@learner.assessment_id)
start_time = @assessment.start_time
if @zone.include? "+"
  show_time = @assessment.start_time + @total_offset
else
  show_time = @assessment.start_time - @total_offset
end
end_time = @learner.test_start_time + (@assessment.duration_hour * 3600) + (@assessment.duration_min * 60)
assessment_end_time = @assessment.end_time
if @i == 0 then %>
  <div class="div_mainpanel_content">
    <% @i = 1
  else %>
    <div class = "div_mainpanel_content_alt">
      <% @i = 0
    end %>
    <div class="div_content_type">Assessment &nbsp;
      <% if !@assessment.duration_hour.nil? and !@assessment.duration_min.nil? then %>
        |&nbsp;&nbsp;<% if @assessment.duration_hour > 0 %><%= @assessment.duration_hour %> Hr <% end %>
        <% if @assessment.duration_min > 0 %><%= @assessment.duration_min %> Mins
        <% end
      end %>
    </div>
    <div class="div_course_title"><%=h @assessment.name %></div>
    <% if @assessment.assessment_image_file_name.nil? %>
              <div class="div_content_pic"><%= image_tag "assessment.png" %></div>
          <% else %>
              <div class="div_content_pic"><%= image_tag @assessment.assessment_image.url(:small) %></div>
          <% end %>
    <div class="div_description"><% if !(@assessment.description.nil?) or !(@assessment.description.blank?) %><%=h @assessment.description %><% end %></div>
    <% if @tenant.is_expired == "false" then %>
      <div style="height: 90px; border-right: #cccccc 1px dotted; position: absolute; top: 5px; right: 210px;"></div>
      <div class="div_takecourse_anchor">
        <% case
        when (@assessment.schedule_type == "open" and @learner.lesson_status == "not attempted")
          if @time >= start_time %>
            <a class="take_test_button" href="/assessments/start_test/<%=h @learner.id %>">Take Test</a>
          <% end
        when (@assessment.schedule_type == "fixed" and @learner.lesson_status == "not attempted")
          if @time >= start_time and @time <= assessment_end_time %>
            <a class="take_test_button" href="/assessments/start_test/<%=h @learner.id %>">Take Test</a>
          <% end
        when (@learner.lesson_status == "incomplete" and @assessment.time_bound == "not_time_bound") %>
          <a class="take_test_button" href="/assessments/start_test/<%=h @learner.id %>">Continue</a>
        <% when (@learner.lesson_status == "incomplete" and @assessment.time_bound == "time_bound" and @time <= end_time) %>
          <a class="take_test_button" href="/assessments/start_test/<%=h @learner.id %>">Continue</a>
        <% when @assessment.reattempt == "on" then
          case
          when ((@learner.lesson_status == "completed" or @learner.lesson_status == "time up") and (@assessment.schedule_type == "fixed" and @time < assessment_end_time)) %>
            <a class="take_test_button" href="/assessments/start_test/<%=h @learner.id %>">Reattempt</a>
          <% when ((@learner.lesson_status == "completed" or @learner.lesson_status == "time up") and @assessment.schedule_type == "open") then %>
            <a class="take_test_button" href="/assessments/start_test/<%=h @learner.id %>">Reattempt</a>
          <% end
        end %>
      </div>

      <div class="div_course_status" style="width : 200px;">
        <% learner_column_values = Hash.new
        total_attempted = TestDetail.where(:learner_id => @learner.id,:attempted_status => "answered").length
        case
        when ((@learner.lesson_status == "completed" or @learner.lesson_status == "time up") and @assessment.show_status == "on" and (@assessment.pass_score.nil? or @assessment.pass_score.blank? or @assessment.pass_score.to_i == 0)) %>
          <em>Score: <%=h @learner.score_raw %>, <%= total_attempted %> of <%= @learner.test_details.length %> attempted</em>
        <% when ((@learner.lesson_status == "completed" or @learner.lesson_status == "time up") and @assessment.show_status == "on" and !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0) %>
          <em><%=h @learner.credit %>, Score: <%=h @learner.score_raw %>, <%= total_attempted %> of <%= @learner.test_details.length %> attempted</em>
        <% when (@learner.lesson_status == "incomplete" and @assessment.time_bound == "time_bound" and @time > end_time and @assessment.show_status == "on" and (@assessment.pass_score.nil? or @assessment.pass_score.blank? or @assessment.pass_score.to_i == 0)) %>
          <% @assessment.score_for_incomplete_learners(@learner, @assessment,learner_column_values) %>
          <em>Score: <%=h @learner.score_raw %>, <%= total_attempted %> of <%= @learner.test_details.length %> attempted</em>
        <% when (@learner.lesson_status == "incomplete" and @assessment.time_bound == "time_bound" and @time > end_time and @assessment.show_status == "on" and !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0) then %>
          <% @assessment.score_for_incomplete_learners(@learner, @assessment,learner_column_values) %>
          <em><%=h @learner.credit %>, Score: <%=h @learner.score_raw %>, <%= total_attempted %> of <%= @learner.test_details.length %> attempted</em>
        <% else %>
          <em><%=h @learner.lesson_status %></em>
        <% end %>
      </div><br/>

      <% if @time < start_time %>
        <div class="div_takecourse"><p>Test will start at <%=h show_time.strftime('%d %b %Y %I:%M%p') %></p></div>
      <% else %>
        <div class="div_takecourse"><p><%=h show_time.strftime('%d %b %Y') %></p></div>
      <% end
    end %>
    <% if ((@learner.lesson_status == "completed" or @learner.lesson_status == "time up") and @assessment.show_status == "on") 
     unless @learner.test_details.nil? or @learner.test_details.blank? %>
      <div class="div_takecourse_report"><p><a href="/reports/learner_test_status/<%=h @learner.id %>">Report</a></p></div>
    <% end 
    end %>
  </div>