<%#*Saves course details. Control comes from courses/upload_course.html%>
<%#*Authors : Surupa, Aarthi %>

<%= stylesheet_link_tag 'courses_content'  %>
<%= stylesheet_link_tag 'upload_course'  %>
<%= stylesheet_link_tag 'course_details'  %>
<%= javascript_include_tag 'player' %>
<%= javascript_include_tag 'course_details' %>
<%= stylesheet_link_tag 'for_ie_7'%>
<script type="text/javascript" charset="utf-8">
  function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
</script>

<div id="div_container">
  <div id="div_mainpanel">
    <%= image_tag "progress/Course_Details.png", :class => "image_strip", :alt => "" %>
    <h3>Let's get some information about the course</h3>

    <form name="myForm" onsubmit="javascript:return validation();" action="/courses/save_course_details/<%=h @course.id %>" class="new_course" enctype="multipart/form-data" id="new_course" method="post">

      <label for="course_course_name">What's the Course Name</label>
      <input id="course_course_name" onblur="validate('course_course_name','display_course_name');" name="course[course_name]" maxlength="40" size="52" type="text" value="<%= @course.course_name %>" />
      <span class="char_fourty"> 40 Characters</span>
      <div id="display_course_name" style="display: none;">Mention the course name</div>

      <label for="course_description">Description</label>
      <textarea cols="50" id="course_description" name="course[description]" onkeyup="textCounter(this,document.myForm.remLen,150)" onclick="textCounter(this,document.myForm.remLen,150)"></textarea>
      <span class="char_left_course_details"><input disabled type="text" name="remLen" size="3" maxlength="3" value="150"/> Characters left</span>

      <label for="course_duration">Duration</label>
      <div class="schedule_details">

        <select id="duration_hour" class="left_corner_select" name="course[duration_hour]">
          <% for i in 0..12 %>
            <option <% if i == 1 %>selected<% end %> value="<%=h i %>"><%=h i %> hr</option>
          <% end %>
        </select><span></span>

        <select id="duration_min" class="mid_select" name="course[duration_min]" >
          <% (0..55).step(5) { |j| %>
            <option <% if j == 0 %>selected<% end %> value="<%=h j %>"><%=h j %> min</option>
          <% } %>
        </select><span></span>
        
        <span id="duration_blank_div" style="display: none;">Duration can not be 0</span>
      </div>
      
      <% if current_user.typeofuser == "seller" %>
        <label>Course Price</label>
        <input type="text" name="course[course_price]" size="10"/><br/><br/><br/>

        <label>Course Validity</label><br/>
        <select name="course_expiry_year" style="margin-left: 17px;">
          <% for i in 0..12 %>
            <option value="<%=h i %>"><%=h i %> years</option>
          <% end %>
        </select>
        <select name="course_expiry_month">
          <% for i in 1..12 %>
            <option value="<%=h i %>"><%=h i %> months</option>
          <% end %>
        </select><br/><br/>
      <% end %>
      <input type="checkbox" class="checkbox_input" name="checkbox" checked/>
      <span class="feedback_course_details"><label class="checkbox_label">Allow course feedback from learners</label></span>
     <hr class="horizontal_line_course_details"/>
     <div id="course_details_submit">
     <label class="course_details_continue"><input id="course_submit" name="commit" type="submit" value="Continue" /></label>
      <% if current_user.typeofuser == "seller" %>
        <div id="cancel"><s>or</s><a id="cancel" href="/course_store/sellers_courses/<%=h current_user.id %>">Cancel</a></div>
      <% else %>
        <div id="cancel"><s>or</s><a id="cancel" href="/courses">Cancel</a></div>
      <% end %>
    </div>
    </form>
  </div>

  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>


