<%#*Author : aarthi%>
<%#*TODO : move javascripts to public folder%>
<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'upload_course'  %>
<%= stylesheet_link_tag 'learner_myaccount'  %>
<%= javascript_include_tag "learner_myaccount" %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<head>
  <script type="text/javascript" charset="utf-8">
      function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
    </script>
</head>

<div id="div_container">
  <div id="div_mainpanel">
    <form  id="learner_myaccount_form" action="/courses/update_learner_myaccount" enctype="multipart/form-data" method="post">
      <h1>My Account Details</h1>
      <h3>Personal Details</h3>
      <div id="personal_details">
        <label>Name</label>
        <input maxlength="40" type="text" name="user[login]" value="<%= current_user.login %>"/>
        <label>Email</label> <span class="my_account_email"><%=h current_user.email %></span>
        <label id="password_label_hide">Password </label><span class="my_account_astriks" id="astriks">********</span>
        <label id="password_label_display">Password</label>
        <input id="password_input"  name="password" type="password" />
        <input id="change_password_link" type="button" onclick="change_paswrd();" value="Change Password"/>
      </div>
      <h3>Official Details</h3>
      <div id="official_details">
        <label id="designation_label">Designation</label>
        <input maxlength="40" type="text" name="user[designation]" value="<%= current_user.designation %>"/>

        <label>Department</label>
        <input maxlength="40" type="text" name="user[department]" value="<%= current_user.department %>"/>
        <label>Phone Number</label>

        <div id="phone_details">
          <label>Office</label>
          <input id="off_num" maxlength="12" type="text" name="user[off_number]" value="<%= current_user.off_number %>"/>

          <label>Mobile </label>
          <input id="mobile_numbre" maxlength="12" type="text" name="user[mob_number]" value="<%= current_user.mob_number %>"/>
        </div>
      </div>
      <hr/>
      <label><input id="course_submit" name="commit" type="submit" value="Save Changes" /></label>
      <div id="cancel"><s>or</s><a id="cancel" href="/mycourses">Cancel</a></div>
    </form>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>