<%= stylesheet_link_tag 'courses_content'  %>
<%= stylesheet_link_tag 'upload_course'  %>
<%= javascript_include_tag 'upload_course' %>
<div id="div_container">
  <div id="div_mainpanel">
    <%= image_tag "progress/UploadCourse.png", :class => "image_strip", :alt => "" %>
    <form action="/courses/map_launch_file/<%=h @course.id %>" method="post">
      <label for="upload_coursefile" id="label_upload_coursefile">Choose file that launches course</label><br/><br/><br/>
      <table border="0">
      <% for file in @valid_files %>
      <tr>
        <td style="padding:0px;"><input type="radio" name="launchfile" value="<%=h file %>" checked><%=h file %></input></td>
      </tr>
      <% end %>
      </table>
        <br/><br/><input type="submit" value="Submit" /><br/><br/>
      </form>
  </div>
   <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>
