<p id="notice"><%= notice %></p>

<p>
  <b>Direction text:</b>
  <%= @direction.direction_text %>
</p>

<p>
  <b>Question bank:</b>
  <%= @direction.question_bank_id %>
</p>

<p>
  <b>Tenant:</b>
  <%= @direction.tenant_id %>
</p>


<%= link_to 'Edit', edit_direction_path(@direction) %> |
<%= link_to 'Back', directions_path %>
