<div class= "div_table" id="display">
  <table border="0" cellpadding="2px" cellspacing="0" >
    <tr>
      <th></th>
      <th></th>
      <th id="learners">Learners</th>
      <th>Completed</th>
      <th>Incomplete</th>
      <th>Unattempted</th>
      <th>Timeup</th>
    </tr>
    <% i = 1
    if !@records.nil? or !@records.blank? then
      @records.each do |course|
        @course = course
        if current_user.tenant.selected_quarter != 'Show All' then
          @learners = Learner.find_all_by_course_id_and_active(@course.id,'yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
          @unattempted = Learner.find_all_by_course_id_and_lesson_status_and_active(@course.id,'not attempted','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
          @completed = Learner.find_all_by_course_id_and_lesson_status_and_active(@course.id,'completed','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
          @incomplete = Learner.find_all_by_course_id_and_lesson_status_and_active(@course.id,'incomplete','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
          @timeup = Learner.find_all_by_course_id_and_lesson_status_and_active(@course.id,'time up','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
        else
          @learners = @course.total_learners
          @unattempted = @course.unattempted_learners
          @completed = @course.completed_learners
          @incomplete = @course.incomplete_learners
          @timeup = @course.timeup_learners
        end
      %>
        <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
          <td class="name" style="width:2px;"><%=h i %></td>
          <td class="td_name">
            <% if @learners > 0 then %>
              <a href="/reports/learners_for_course/<%= @course.id %>" title="click to know its learner details"><%=h @course.course_name %></a>
            <% else %>
              <a><%=h @course.course_name %></a>
            <% end %>
          </td>
          <%if @learners < 1 then%>
            <td align="center" valign="middle" id="learner_count"> - </td>
          <% else %>
            <td align="center" valign="middle"  id="learner_count"><%=h @learners %></td>
          <% end %>
          <%= render :partial => "/reports/status_for_course" %>
        </tr>
        <% i = i + 1
      end
    end %>

    <% j = i
    if !@assessments.nil? or !@assessments.blank? then
      @assessments.each do |assessment|
        @assessment = assessment
        if @assessment.learners.length > 0 then
          if current_user.tenant.selected_quarter != 'Show All' then
            @learners = Learner.find_all_by_assessment_id_and_active(@assessment.id,'yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
            @unattempted = Learner.find_all_by_assessment_id_and_lesson_status_and_active(@assessment.id,'not attempted','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
            @completed = Learner.find_all_by_assessment_id_and_lesson_status_and_active(@assessment.id,'completed','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
            @incomplete = Learner.find_all_by_assessment_id_and_lesson_status_and_active(@assessment.id,'incomplete','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
            @timeup = Learner.find_all_by_assessment_id_and_lesson_status_and_active(@assessment.id,'time up','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")]).length
          else
            @learners = @assessment.total_learners
            @unattempted = @assessment.unattempted_learners
            @completed = @assessment.completed_learners
            @incomplete = @assessment.incomplete_learners
            @timeup = @assessment.timeup_learners
          end
        %>
          <tr <% if j%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
            <td class="name" style="width:2px;"><%=h j %></td>
            <td class="td_name">
              <a href="/reports/learners_for_assessment/<%= @assessment.id %>" title="click to know its learner details"><%=h @assessment.name %></a>
            </td>
            <%if @learners < 1 then%>
              <td align="center" valign="middle" id="learner_count"> - </td>
            <% else %>
              <td align="center" valign="middle"  id="learner_count"><%=h @learners %></td>
            <% end %>
            <%= render :partial => "/reports/status_for_assessment" %>
          </tr>
          <% j = j + 1
        end
      end
    end %>
  </table>
</div>