<div id="chart_div">
    <% if @assessment_chart_data[0][:assessment_output] > 0 or @assessment_chart_data[1][:assessment_output] > 0 or @assessment_chart_data[2][:assessment_output] > 0 then

      data_table = GoogleVisualr::DataTable.new
      data_table.new_column('string', 'Assessment')
      data_table.new_column('number', 'Hours per Day')

      data_table.add_rows(@assessment_chart_data.length)
      index_val = 0
      @assessment_chart_data.each do | var |
        data_table.set_cell(index_val, 0, var[:assessment_name]     )
        data_table.set_cell(index_val, 1, var[:assessment_output] )
        index_val = index_val + 1
      end

      opts   = { :width => 200,
        :height => 200,
        legend:{position: 'none'},
        slices:{0 => {color: 'green'}, 1 => {color: 'orange'}, 2 => {color: 'yellow'}, 3 => {color: '#6698FF'} }
      }
      @chart = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

    %>
      <div id='pie_chart'></div>
      <%= render_chart @chart, 'pie_chart' %>

      <div id="graph_info">
        <div class="inner_graph_info"><%= image_tag "white_graph.jpg", :size => "15x10", :alt => "" %><%=h @total_assigned %> <span id="graph_assnd_leanr">Assigned Learners</span></div>
        <% if !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0 %>
          <div class="inner_graph_info"><%= image_tag "completed_graph.jpg", :size => "15x10", :alt => "" %><%=h @total_passed_or_completed %><span>Passed</span></div>
          <div class="inner_graph_info"><%= image_tag "unattempted_graph.jpg", :size => "15x10", :alt => "" %><%=h @total_failed_or_incomplete %><span>Failed</span></div>
        <% else %>
          <div class="inner_graph_info"><%= image_tag "completed_graph.jpg", :size => "15x10", :alt => "" %><%=h @total_passed_or_completed %><span>Completed</span></div>
          <div class="inner_graph_info"><%= image_tag "unattempted_graph.jpg", :size => "15x10", :alt => "" %><%=h @total_failed_or_incomplete %><span>Incomplete</span></div>
        <% end %>
        <div class="inner_graph_info"><%= image_tag "incomplete_graph.jpg", :size => "15x10", :alt => "" %><%=h @total_unattempted %><span>Unattempted
            <% if @total_unattempted > 0 then %><a href="/users/send_reminder_for_assessment/<%= @assessment.id %>?status=not attempted">Send Reminder</a><% end %></span></div>
        <div class="inner_graph_info"><%= image_tag "timeout.jpg", :size => "15x10", :alt => "" %><%=h @total_timeup %><span>Time up</span></div>
        <% if !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0 %>
          <div class="inner_graph_info">
            <p>
              Passing Marks <font color="#131313"><%=h @assessment.pass_score %></font> out of  <font color="#131313"><%=h @learner.score_max %></font>
            </p>
          </div>
        <% end %>
      </div>
    <% else %>
      <div id="graph_info"></div>
    <% end %>
  </div>