<% if params[:action] == "course_report" or params[:action] == "learner_report" %>
  <select id="quarter_ddl" name="quarter" onblur="test(<%=h current_user.id %>,this.value);">
  <% else %>
    <select id="time_type_ddl" name="quarter" onblur="test(<%=h current_user.id %>,this.value);">
    <% end %>
    <option value="Current Quarter(<%=h current_user.tenant.quarter %>)" <% if current_user.tenant.selected_quarter == 'Current Quarter('+current_user.tenant.quarter+')' then %>selected<% end %>>Current Quarter(<%=h current_user.tenant.quarter %>)</option>
    <% quarters = (current_user.tenant.dynamic_quarter_values).split(',')
    for q in quarters
      if ((current_user.tenant.quarter.to_s <=> q.to_s) < 0) then
      %>
        <option value="<%=h q %> <%=h current_user.tenant.previous_year %>" <% if current_user.tenant.selected_quarter == q+' '+current_user.tenant.previous_year.to_s then %>selected<% end %>><%=h q %> <%=h current_user.tenant.previous_year %></option>
      <% elsif q != current_user.tenant.quarter %>
        <option value="<%=h q %> <%=h current_user.tenant.current_year %>" <% if current_user.tenant.selected_quarter == q+' '+current_user.tenant.current_year.to_s then %>selected<% end %>><%=h q %> <%=h current_user.tenant.current_year %></option>
      <% end
    end %>
    <option value="Current Year - <%=h current_user.tenant.current_year %>" <% if current_user.tenant.selected_quarter == 'Current Year - '+current_user.tenant.current_year.to_s then %>selected<% end %>>Current Year - <%=h current_user.tenant.current_year %></option>
    <option value="Last Year - <%=h current_user.tenant.previous_year %>" <% if current_user.tenant.selected_quarter == 'Last Year - '+current_user.tenant.previous_year.to_s then %>selected<% end %>>Last Year - <%=h current_user.tenant.previous_year %></option>
    <option value="Show All" <% if current_user.tenant.selected_quarter == 'Show All' then %>selected<% end %>>Show All</option>
  </select>
  <input id="go_button" type="submit" value="Go"/>
  <% if !@show_start_time.nil? or !@show_start_time.blank? %>
    <label id="display_time"><%=h @show_start_time %> - <%=h @show_end_time %></label>
  <% end %>
