  <% if @assessment.reports.count > 0 %>
  <select id="question_analysis_select" name="select" onchange="page_redirect('assessment_learners_report_form');" size="1" style="float:right;">
    <% @reports.each do |report| %>
    <option value="/assessments/report/<%= @assessment.id %>?report=<%= report.id %>" <% if @report.id == report.id %>selected<% end %>><%=raw report.report_template.name %></option>      
    <% end # end of @reports.each loop %>      
  </select>        
  <% else %>
  <select id="question_analysis_select" name="select" onchange="page_redirect('question_analysis_form');" size="1">
    <option value="/reports/question_analysis_report/<%= @assessment.id %>" selected>Question Analysis Report</option>
    <option value="/reports/learners_for_assessment/<%= @assessment.id %>">Progress Report</option>
  </select>
  <% end %><br/>
  <input class="download_button" type="submit" name="submit" value="Detailed Report" style="background:url(/assets/icon-ms-excel.png) no-repeat 0px;background-color:white;padding-top:8px;margin-left:770px;margin-bottom:20px;"/>
<table id="all_questions_table" border="0" cellspacing="0">
  <tr>
    <th class="th1">Type</th>
    <th>Question</th>
    <th>A</th>
    <th>B</th>
    <th>C</th>
    <th>D</th>
    <th>E</th>
    <th>Attempted</th>
    <th>Not Attempted</th>
    <th>Difficulty</th>
    <th>Discrimination</th>
  </tr>
  <% k = 0
  @question_analysis_arr = Array.new
  @question_analysis_arr = ["Type","Question","A","B","C","D","E","Attempted","Not Attempted","Difficulty","Discrimination"]
  total_learners_attempted_test = @learners.count
  high_difficulty = Array.new
  high_difficulty_questions = Array.new
  incorrect_count = Array.new
  @csv_string = CSV.generate do |csv|
    csv << @question_analysis_arr
    @test_details.each do |test_detail|
      initial_csv = Array.new
      initial_csv << test_detail.question_type
      attempted_count = @test_details.where(:question_id => test_detail.question.id,:attempted_status => "answered").count
      attempted_question_correctly = @test_details.where(:question_id => test_detail.question.id,:answer_status => "correct").count
      attempted_incorrect_count = @test_details.where(:question_id => test_detail.question.id,:answer_status => "wrong").count
      not_attempted_count = @test_details.where(:question_id => test_detail.question.id,:attempted_status => "unanswered").count
      question_text = ""
      unless test_detail.question.direction_text.nil? or test_detail.question.direction_text.blank?
        question_text = question_text + "Direction: " + test_detail.question.direction_text
      end
      question_text = question_text + test_detail.question.question_text
        # As we are converting the data to csv file, while downloading and displaying in excel format, it shows values 
        # separated by ; And because of that it shows wrong data in excel file. So we are replacing ; with :
        if question_text.include? ";"
          question_text[question_text.index(";")] = ":"
        end
        difficulty_index = (attempted_question_correctly.to_f/attempted_count).round(2)
        if attempted_count == 0
          difficulty_index = ""
        end
        if difficulty_index != "" and difficulty_index >= 0 and difficulty_index <= 0.14
          high_difficulty << difficulty_index
          high_difficulty_questions << test_detail.question
        end
        unless difficulty_index == ""
          difficulty_level = (difficulty_index >= 0.85 and difficulty_index <= 1.00) ? "Very Easy" : ((difficulty_index >= 0.70 and difficulty_index <= 0.84) ? "Easy" : (difficulty_index >= 0.30 and difficulty_index <= 0.69) ? "Optimum" : (difficulty_index >= 0.15 and difficulty_index <= 0.29) ? "Hard" : "Very Hard")
        else
          difficulty_level = ""
        end
        @correct_upper_group_count = @upper_group_test_details.where(:question_id => test_detail.question.id,:answer_status => "correct").count
        @correct_lower_group_count = @lower_group_test_details.where(:question_id => test_detail.question.id,:answer_status => "correct").count 
        if @correct_upper_group_count > 0
          discrimination_index = ((@correct_upper_group_count - @correct_lower_group_count).to_f / @learner_limit).round(2)
          discrimination = (discrimination_index < 0.00) ? "Negative" : ((discrimination_index >= 0.00 and discrimination_index <= 0.19) ? "Poor" : ((discrimination_index >= 0.20 and discrimination_index <= 0.29) ? "Dubious" : "Okay" ))
        else
          discrimination = ""
        end
        initial_csv << question_text
        %>

        <tr <% if k % 2 != 0 then %> class="tr" <% else %> class="tr_alt"<% end %>>
          <td><%= k + 1 %>&nbsp;<%= test_detail.question_type %></td>
          <td class="td-align">
            <% if question_text.length >= 220 %>
            <div id="td_question">
              <%=raw question_text %>
            </div>
            <% else %>
            <div id="td_question_small">
              <%=raw question_text %>
            </div>
            <% end %>
          </td>
          <% 5.times do |i|
            answer = test_detail.question.answers[i]
            unless answer.nil? or answer.blank?
              answers_attempted_count = @test_details.where(:answer_id => answer.id).count
            else
              answers_attempted_count = "-"
            end
            initial_csv << answers_attempted_count            
            %>
            <td><%= answers_attempted_count %></td>      
          <% end # end of 5.times do loop
          initial_csv << attempted_count
          initial_csv << not_attempted_count
          initial_csv << difficulty_level
          initial_csv << discrimination
          csv << initial_csv  %>
          <td><%= attempted_count %></td>
          <td><%= not_attempted_count %></td>
          <td><%= difficulty_level %></td>
          <td><%= discrimination %></td>
        </tr>
        <%  k = k + 1
        end # csv loop ends here
        end # @test_details.each loop ends here %>
      </table>
      <input type="hidden" name="csv_string" value="<%= @csv_string %>" /> 