    <h3 class="top_left_obj_name"><% @learner.user.login %>&nbsp;
      <span class="score_top_right_content">
        Score: <strong><%= @learner.score_raw %>/<%= @assessment.check_if_integer_or_float(@learner.score_max.to_f) %></strong>,
        Time: <strong><%=h @learner.total_time %></strong>
      </span>
    </h3>
    <div id="div_report_question_paper">
      <ul id="list_report_question_paper">
        <% @i = 1
        @test_details.each do |test_detail|
          @test_detail = test_detail
          question = test_detail.question %>
          <li class="reports_question">Q<%= @i %>.&nbsp;
            <% unless question.directions.nil? or question.directions.blank? %>
              <% if question.directions[0].direction_text.strip != "" %>Directions: <%=raw question.directions[0].direction_text %><% end %>
            <% end
            unless question.passages.nil? or question.passages.blank? %>
              <%=raw question.passages[0].passage_text %>
            <% end %>
            <%=raw question.question_text %>
          </li><span class="question_points"><%= test_detail.score %><% unless test_detail.duration_spent.nil? or test_detail.duration_spent.blank? %>, Time: <%=h test_detail.duration_spent.ceil %> s<% end %></span>
          <% @j = 1
          question.answers.each do |answer|
            @answer = answer
            case(question.question_type)
            when "MCQ"
              @mcq_learner_answer = test_detail.answer # This is the answer selected by user %>
              <%= render :partial => "/reports/mcq_question_paper" %>
            <% when "MAQ"
              @answers = test_detail.learner_answer_text # These are the answers selected by user %>
              <%= render :partial => "/reports/maq_question_paper" %>
            <% when "FIB"
              if answer.answer_status == "correct"
                @learner_answer = test_detail.learner_answer_text # This is the answer entered by user %>
                <%= render :partial => "/reports/fib_sa_question_paper" %>
              <% end
            when "SA"
              if answer.answer_status == "correct"
                @learner_answer = test_detail.learner_answer_text # This is the answer entered by user %>
                <%= render :partial => "/reports/fib_sa_question_paper" %>
              <% end
            end %> <%#* end of question.question_type check %>
            <% @j = @j + 1
          end # end of question.answers loop %>
          <% if @assessment.show_question_explanation and !(question.explanation.nil? or question.explanation.blank?) %>
            <b>Answer</b><br/>
            <div id="question_explanation">
              <label style="padding:3px;"><%=raw question.explanation %></label>
            </div>
          <% end # end of if show question explanation check %>
          <% @i = @i + 1
        end %> <%#* end of @test_details.each loop %>
      </ul>
    </div> <%#* end of div_report_question_paper div %>