<% if @completed < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><a href="/reports/report_based_on_status?assessment_id=<%=h @assessment.id %>&status=completed" style="text-decoration: none;"><%=h @completed %></a></td>
<% end
if @incomplete < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><a href="/reports/report_based_on_status?assessment_id=<%=h @assessment.id %>&status=incomplete" style="text-decoration: none;"><%=h @incomplete %></a></td>
<% end
if @unattempted < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><a href="/reports/report_based_on_status?assessment_id=<%=h @assessment.id %>&status=not attempted" style="text-decoration: none;"><%=h @unattempted %></a></td>
<% end
if @timeup < 1 %>
  <td align="center" valign="middle"> - </td>
<% else %>
  <td align="center" valign="middle"><a href="/reports/report_based_on_status?assessment_id=<%=h @assessment.id %>&status=time up" style="text-decoration: none;"><%=h @timeup %></a></td>
<% end %>