<%#*Control comes from course_report method of courses controller.%>
<%#*It shows all the courses for the corresponding tenant.%>
<%#*Author : Surupa%>
<%= stylesheet_link_tag 'course_report' %>
<%= stylesheet_link_tag 'tablestyle'  %>
<%= javascript_include_tag "test" %>
<div id="div_container">
  <div id="div_mainpanel">
    <div class="inner_mainpanel">
      <div id="reports_heading">
        <h1>Reports<span>
            <a style="color: blue;" href=""></a></span></h1>
      </div>
      <form id="course_report_form" name="course_report_form">
        <select id="all_courses_learners_ddl" NAME="select" ONCHANGE="courses('course_report_form');" SIZE="1">
          <option VALUE="/reports/course_report/<%= current_user.id %>">All Courses/Assessments</option>
          <option VALUE="/reports/learner_report/<%= current_user.id %>">All Learners</option>
        </select>
        <%= render :partial => "/reports/quarter_select"  %>
        <% if (@records.length == 0 and @assessments.length == 0) then %>
          <div class="empty_reports">Currently there are no courses or assessments uploaded. Upload a course or assessment to see reports</div>
        <% elsif (@records.length > 0 or @assessments.length > 0) then %>
          <%= render :partial => "/reports/course_report_table"  %>
        <% end %>
      </form>
    </div>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>