<%#*Control comes from learners_for_course method of courses controller.
It shows all the learners for a course.
Author : Surupa %>
<%= stylesheet_link_tag 'learners_for_assessment' %>
<script src='http://www.google.com/jsapi'></script>
<%= javascript_include_tag 'pagination' %>
<%= javascript_include_tag "test" %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<head>
  <script type="text/javascript" charset="utf-8">
    function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
  </script>
</head>
<div id="div_container">
  <div id="div_mainpanel">
    <form id="assessment_learners_report_form" action="/reports/learners_for_assessment/<%= @assessment.id %>">

      <div class="inner_mainpanel">
        <div id="reports_heading">
          <h1><%= @assessment.name %></h1>
        </div>    
        <div id="div_table">
          <% if @assessment_learners.nil? or @assessment_learners.blank? then %>
            <div class="empty_reports">For this test no learners are available.</div>
          <% elsif @learners_for_pagination.nil? or @learners_for_pagination.blank? then %>
            <div class="empty_reports">For this page no learners are available.</div>
          <% else %>
  <%#*Two-to-three-upgrade-error%>
            <%= render :partial => "/reports/column_chart_for_assessment_learners" %>
            <div id="results">
              <%= render :partial => "results" %>
            </div>
          <% end %>
          <% if @assessment_deleted_learners.length > 0 then %>
            <span style="margin-left: 10px; font-size: 12px;"><a id="toggle" href="#"><span id="toggle_button">Show report for deleted learners</span><span id="toggle_button1" style="display: none;">Hide report for deleted learners</span></a></span>
            <%= render :partial => "/reports/assessment_report_for_deleted_learners" %>
          <% end %>
        </div>
        <script type="text/javascript" charset="utf-8">
          $("#toggle").click(function () {
            $("#show_table").toggle(100);
            $("#toggle_button1").toggle();
            $("#toggle_button").toggle();
          });
        </script>
      </div>
    </form>
  </div>
<%#*Two-to-three-upgrade-error%>
<%= render :partial => "/reports/learners_for_assessment_side_panel" %>
</div>