<%= stylesheet_link_tag 'assessment_style' %>
<%= stylesheet_link_tag 'tablestyle' %>
<%= stylesheet_link_tag 'assessment_show_status' %>
<%= stylesheet_link_tag 'for_ie_7' %>
<%#= javascript_include_tag "FusionCharts" %>
<script src='http://www.google.com/jsapi'></script>

<% if current_user.typeofuser == "learner" or @current_learner.type_of_test_taker == "learner" then %>
  <style>
    #div_upper_left
    {
      display: none;
    }
  </style>
<% end %>

<div id="div_container">
  <div id="div_mainpanel">
    <div class="flash_confirmation"><%=h flash[:test_submitted_successful] %></div>
    <div id="test_name"><b><%=h @assessment.name %></b></div><br/><br/>

    <div id="question_list">
      <form action="/mycourses" method="post">
        <%= render :partial => "/reports/test_summary" %>
          
        <%= render :partial => "/reports/score_topic_wise" %>
        <div class="next">
          <input id="next_next" type="submit" name="home" value="Home"/>
        </div>
      </form>
    </div>
  </div>

  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>
