<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'reports_style' %>
<div id="div_container">
  <div id="div_mainpanel">
  	<% if params[:from] == "admin" and current_user.typeofuser == "admin" %>
      <h2><%=h @assessment.name %> <a class="top_right_content" href="/reports/learners_for_assessment/<%=h @assessment.id %>">Back to Main Report</a></h2>
    <% else %>
      <h2><%=h @assessment.name %> <a class="top_right_content" href="/reports/learner_test_status/<%=h @learner.id %>">Back to Main Report</a></h2>
    <% end %>
    <%= render :partial => "/reports/question_wise_report" %>
  </div> <%#* end of div_mainpanel div %>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div> <%#* end of div_sidepanel div %>
</div> <%#* end of div_container div %>