<%= form_for(@assessment_rule) do |f| %>
  <% if @assessment_rule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@assessment_rule.errors.count, "error") %> prohibited this assessment_rule from being saved:</h2>

      <ul>
      <% @assessment_rule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assessment_id %><br />
    <%= f.number_field :assessment_id %>
  </div>
  <div class="field">
    <%= f.label :questions_required %><br />
    <%= f.number_field :questions_required %>
  </div>
  <div class="field">
    <%= f.label :questions_picked %><br />
    <%= f.number_field :questions_picked %>
  </div>
  <div class="field">
    <%= f.label :tenant_id %><br />
    <%= f.number_field :tenant_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
