<table id="show_table" border="0" cellpadding="2px" cellspacing="0" style="display:none;">
  <tr id="tr" style="height: 20px;" >
    <th id="col_1"></th>
    <th id="col_2">Name</th>
    <th id="col_6">Status</th>
    <th id="col_7">Score</th>
    <% if !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0 %>
      <th id="col_8">Result</th>
    <% end %>
  </tr>
  <%
  i = 1
  if !@assessment_deleted_learners.nil? or !@assessment_deleted_learners.blank? then
    #@learners_id = Hash.new
    #for learner in @assessment_deleted_learners
      ##user = User.find_by_id(learner.user_id)
      #@learners_id[learner.id] = learner.user.login
    #end
    #@learners_id = @learners_id.sort {|a,b| b[1].downcase<=>a[1].downcase}
    @assessment_deleted_learners.each { |learner|
      #learner = Learner.find_by_id_and_assessment_id_and_active(id[0],@assessment.id,"no")
      #user_obj = User.find_by_id(learner.user_id)
    %>
      <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <% end %>>
        <td class="name"><%= i %></td>
        <td class="td_name">
          <% if learner.lesson_status != "not attempted" %>
            <a href="/reports/learner_question_paper/<%=h learner.id %>?from=<%=h current_user.typeofuser %>&active=no" title="<%= learner.user.login %>, <%= learner.user.email.gsub("aEyGf7k0dM1x",'') %>"><% if learner.user.login.length >21 %><%= learner.user.login[0..20] %>&hellip;<% else %><%= learner.user.login %><% end %></a>
          <% else %>
            <a title="<%= learner.user.login %>, <%= learner.user.email %>"><% if learner.user.login.length >21 %><%= learner.user.login[0..20] %>&hellip;<% else %><%= learner.user.login %><% end %></a>
          <% end %>
        </td>
        <td class="td_6"><%=h learner.lesson_status %></td>
        <% if learner.lesson_status != "not attempted" %>
          <td class="td_7">
            <% if learner.credit == "fail"
              if (learner.score_raw.to_f % 1).zero? %>
                <font color="red"><%= learner.score_raw.to_i %></font>
              <% else %>
                <font color="red"><%= learner.score_raw %></font>
              <% end %>
            <% else
              if (learner.score_raw.to_f % 1).zero? %>
                <%= learner.score_raw.to_i %>
              <% else %>
                <%= learner.score_raw %>
              <% end %>
            <% end %>
          </td>
        <% elsif learner.lesson_status == "incomplete" and !learner.score_max.nil? %>
          <td class="td_7"><% if (learner.score_raw.to_f % 1).zero? %><%=h learner.score_raw.to_i %><% else %><%= learner.score_raw %><% end %>/<%=h learner.score_max %></td>
        <% else %>
          <td class="td_7">-</td>
        <% end
        if !(@assessment.pass_score.nil? or @assessment.pass_score.blank? or @assessment.pass_score.to_i == 0)
          if learner.lesson_status == "completed" or learner.lesson_status == "time up" %>
            <td class="td_8"><%= learner.credit %></td>
          <% else %>
            <td class="td_8">-</td>
          <% end
        end %>
      </tr>
      <% i = i + 1
    }
  end %>
</table>