<div id="div_table">
  <%  if @deleted_learners.length > 0 then %>
    <table id="show_table" border="0" cellpadding="2px" cellspacing="0" style="display:none;">
      <tr id="tr" style="height: 20px;">
        <th id="col_1"></th>
        <th id="col_2">Learners</th>
        <th id="col_6">Assigned</th>
        <th id="col_7">Status </th>
        <th id="col_8">Score</th>
      </tr>
      <%
      i = 1
      if !@deleted_learners.nil? or !@deleted_learners.blank? then
        for learner in @deleted_learners
          created_time = (learner.created_at).strftime("%d %b %Y")
          #user_obj = User.find_by_id(learner.user_id)
        %>
          <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <% end %>>
            <td class="name"><%= i %></td>
            <td class="td_name"><a><% if learner.user.login.length > 20 %><%= learner.user.login[0..19] %>&hellip;<% else %><%= learner.user.login %><% end %></a></td>
            <td class="td_6"><%= created_time %></td>
            <td class="td_7"><%= learner.lesson_status %></td>
            <% if learner.score_raw.blank? or learner.score_raw.nil? %>
              <td class="td_8" align="center" valign="middle">-</td>
            <% else %>
              <td class="td_8"><%= learner.score_raw %><% if !learner.score_max.nil? and learner.score_max != "" %> of <%= learner.score_max %><% end %></td>
            <% end %>
          </tr>
          <% i = i + 1
        end
      end
    end %>
  </table>
</div>