<div class= "div_table" id="display">
  <table border="0" cellpadding="2px" cellspacing="0" >
    <tr>
      <th></th>
      <th></th>
      <th id="learners">Courses/Assessments</th>
      <th>Completed</th>
      <th>Incomplete</th>
      <th>Unattempted</th>
      <th>Timeup</th>
    </tr>
    <% if current_user.tenant.selected_quarter != 'Show All' then
      i = 1
      if !@learners_for_pagination.nil? or !@learners_for_pagination.blank? then
        @learners_for_pagination.each { |id|
          @courses = Learner.find_all_by_user_id_and_active(id[0],'yes',:conditions => ["created_at > ? AND created_at <= ? AND course_id is not NULL",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")])
          @assessments = Learner.find_all_by_user_id_and_active(id[0],'yes',:conditions => ["created_at > ? AND created_at <= ? AND assessment_id is not NULL AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")])
          @completed = Learner.find_all_by_user_id_and_lesson_status_and_active(id[0],'completed','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")])
          @incomplete = Learner.find_all_by_user_id_and_lesson_status_and_active(id[0],'incomplete','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")])
          @unattempted = Learner.find_all_by_user_id_and_lesson_status_and_active(id[0],'not attempted','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")])
          @timeup = Learner.find_all_by_user_id_and_lesson_status_and_active(id[0],'time up','yes',:conditions => ["created_at > ? AND created_at <= ? AND type_of_test_taker = 'learner'",@start_time.strftime("%Y-%m-%d %H:%M:%S"),@end_time.strftime("%Y-%m-%d %H:%M:%S")])
        %>

          <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
            <td class="name" style="width:2px;"><%=h i %></td>
            <td class="td_name">
              <% if @courses.length > 0 or @assessments.length > 0 then %>
                <a href="/reports/courses_for_learner/<%= id[0] %>" title="click to know its course details"><%= id[1] %></a>
              <% else %>
                <a><%= id[1] %></a>
              <% end %>
            </td>
            <%if @courses.length < 1 and @assessments.length < 1 then%>
              <td align="center" valign="middle" id="learner_count"> - </td>
            <% else %>
              <td align="center" valign="middle"  id="learner_count"><%=h @courses.length + @assessments.length %></td>
            <% end %>
            <%= render :partial => "/reports/status_in_table" %>
          </tr>
          <% i = i + 1
        }
      end
    else
      i = 1
      if !@learners_for_pagination.nil? or !@learners_for_pagination.blank? then
        @learners_for_pagination.each {|user| %>
          <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
            <td class="name" style="width:2px;"><%=h i %></td>
            <% if user.no_of_courses_assigned > 0 or user.no_of_assessments_assigned > 0 then %>
              <td class="td_name"><a href="/reports/courses_for_learner/<%= user.id %>" title="click to know its course details"><%= user.login %></a></td>
              <td align="center" valign="middle"  id="learner_count"><%=h user.no_of_courses_assigned + user.no_of_assessments_assigned %></td>
            <% else %>
              <td class="td_name"><a><%= user.login %></a></td>
              <td align="center" valign="middle" id="learner_count"> - </td>
            <% end %>

            <% if user.completed < 1 %>
              <td align="center" valign="middle"> - </td>
            <% else %>
              <td align="center" valign="middle"><%=h user.completed %></td>
            <% end
            if user.incomplete < 1 %>
              <td align="center" valign="middle"> - </td>
            <% else %>
              <td align="center" valign="middle"><%=h user.incomplete %></td>
            <% end
            if user.unattempted < 1 %>
              <td align="center" valign="middle"> - </td>
            <% else %>
              <td align="center" valign="middle"><%=h user.unattempted %></td>
            <% end
            if user.timeup < 1 %>
              <td align="center" valign="middle"> - </td>
            <% else %>
              <td align="center" valign="middle"><%=h user.timeup %></td>
            <% end %>
          </tr>
          <% i = i + 1
        }
      end
    end %>
  </table>
</div>