<div id="div_table">  
  <%  if @learners.nil? or @learners.blank? then %>
    <div class="empty_reports">For this period no learners are available.</div>
  <% else %>
    <table border="0" cellpadding="2px" cellspacing="0" >
      <tr id="tr" style="height: 20px;">
        <th></th>
        <th id="learners">Learners</th>
        <th>Assigned</th>
        <th>Status </th>
        <th>Score</th>
      </tr>
      <%
      i = 1
      if !@learners.nil? or !@learners.blank? then
        for learner in @learners
          created_time = (learner.created_at).strftime("%d %b %Y")
          #user_obj = User.find_by_id(learner.user_id)
        %>
          <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <% end %>>
            <td><%= i %></td>
            <td class="td_name"><a><% if learner.user.login.length > 20 %><%= learner.user.login[0..19] %>&hellip;<% else %><%= learner.user.login %><% end %></a></td>
            <td><%= created_time %></td>
            <td><%= learner.lesson_status %></td>
            <% if learner.score_raw.blank? or learner.score_raw.nil? %>
              <td>-</td>
            <% else %>
              <td><%= learner.score_raw %><% if !learner.score_max.nil? and learner.score_max != "" %> of <%= learner.score_max %><% end %></td>
            <% end %>
          </tr>
          <% i = i + 1
        end
      end
    end %>
  </table>
</div>