<%
i = 1
if !@learners_for_pagination.nil? or !@learners_for_pagination.blank? then
  learner_column_values = Hash.new
  @learners_for_pagination.each do |learner|    
    if learner.lesson_status == "incomplete"
      @assessment.score_for_incomplete_learners(learner, @assessment,learner_column_values)
    end
    unless learner.test_details.nil? or learner.test_details.blank?
      question_wise_report_url = "/reports/learner_question_wise_report/"+learner.id.to_s+"?from=admin"
      total_attempted = TestDetail.where("learner_id = ? AND attempted_status = ?",learner.id,"answered").count
    else
      question_wise_report_url = "/reports/learner_question_paper/"+learner.id.to_s+"?from=admin"
      total_attempted = ((learner.suspend_data).split("|").length - ((learner.suspend_data).split("|").find_all{|item| item == "" }).length)
    end %>
    <tr <% if i%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <% end %>>
      <td class="td_name">
        <a href="<%= question_wise_report_url %>" title="<%= learner.user.login %>, <%= learner.user.email %>"><% if learner.user.login.length >21 %><%= learner.user.login[0..20] %>&hellip;<% else %><%= learner.user.login %><% end %></a>
      </td>
      <td>
        <% if learner.credit == "fail"
          if (learner.score_raw.to_f % 1).zero? %>
            <font color="red"><%= learner.score_raw.to_i %></font>
          <% else %>
            <font color="red"><%= learner.score_raw %></font>
          <% end %>
        <% else
          if (learner.score_raw.to_f % 1).zero? %>
            <%= learner.score_raw.to_i %>
          <% else %>
            <%= learner.score_raw %>
          <% end %>
        <% end %>
      </td>
      <% unless learner.session_time.nil? or learner.session_time.blank? %>
        <td><%= learner.total_time %></td>
      <% else %>
        <td></td>
      <% end %>
      <td><%= total_attempted %></td>
      <td><%= learner.percentage %> %</td>
      <td><%= learner.percentile %></td>
      <td><%= learner.rank %></td>
      <td><%=h learner.lesson_status %></td>
      <% if !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0 %>
        <td><%= learner.credit %></td>
      <% end %>
    </tr>
    <% i = i + 1
  end
end %>