<div id="score_topic_wise">
            <% if @assessment.question_banks.length > 1 %>
              <h4>Scores by Topics:</h4>
            <% end %>

            <div class= "div_table" id="display">
              <table border="0" cellpadding="2px" cellspacing="0" width="99%">
                <% j = 1
                if @assessment.assessment_type == "multiple"
                  question_banks = QuestionBank.find(@question_bank_ids)
                  question_banks.each do |question_bank|
                    learner_score_for_qb = TestDetail.where(:learner_id => @current_learner.id,:question_bank_id => question_bank.id).sum("score")
                    actual_score_for_qb = TestDetail.where(:learner_id => @current_learner.id,:question_bank_id => question_bank.id).sum("question_positive_mark")
                    wrong_ans_count = TestDetail.where(:learner_id => @current_learner.id,:question_bank_id => question_bank.id,:answer_status => "wrong").count
                     %>
                    <tr <% if j%2 != 0 then %> id="tr" <% else %> id = "tr_alt" <%  end %>>
                      <td><%=h j %>.</td>
                      <td align="left">&nbsp;<%=raw question_bank.name %></td>
                      <td><%=h @assessment.check_if_integer_or_float(learner_score_for_qb) %>/<%=h @assessment.check_if_integer_or_float(actual_score_for_qb) %></td>
                      <td><%=h wrong_ans_count %> wrong answers</td>
                    </tr>
                    <%
                    j = j + 1
                  end # end of question_banks.each loop
                end %>
              </table>
            </div>

            <% if @assessment.show_question_wise_scoring == "on" then %>
              <div id="info_to_learner">
                To view a detailed result with comparative results analysis click on this link:&nbsp;
                <a style="color: blue;" href="/reports/learner_question_wise_report/<%=h @current_learner.id %>?from=<%= @current_learner.type_of_test_taker %>">Comparative Report</a>
              </div>
            <% end %>
          </div> <%# end of score_topic_wise div %>