<% unless @assessment.test_pattern.question_wise_scoring %>
          <div class="score_percentage_result"><label>Total Score:</label><em><%=h @current_learner.score_raw %></em> / <%=h @assessment.check_if_integer_or_float(@current_learner.score_max.to_f) %></div>
        <% else %>
          <div class="score_percentage_result"><label>Total Score:</label><em><%=h @current_learner.score_raw %></em> / <%=h @assessment.check_if_integer_or_float(@current_learner.rating) %></div>
        <% end %>
        <div class="score_percentage_result"><label>Percentage:</label><em><%=h @current_learner.percentage %>%</em></div>
        <% if !(@assessment.pass_score.nil? or @assessment.pass_score.blank?) and @assessment.pass_score.to_i > 0 %>
          <div id="result" class="score_percentage_result"><label>Result:</label><em> <%= @current_learner.credit %></em></div>
        <% end %>
        <% if @maq_questions_count == 0 %>   
          <div id="overall_chart">            
            <% if @chart_data[0][:number] > 0 or @chart_data[1][:number] > 0 then

              data_table = GoogleVisualr::DataTable.new
              data_table.new_column('string', 'Assessment')
              data_table.new_column('number', 'Hours per Day')

              data_table.add_rows(@chart_data.length)
              index_val = 0
              @chart_data.each do | var |
                data_table.set_cell(index_val, 0, var[:status]     )
                data_table.set_cell(index_val, 1, var[:number] )

                index_val = index_val+1
              end

              opts   = { :width => 160, :height => 160, legend:{position: 'none'},
                slices:{0 => {color: 'green'}, 1 => {color: 'orange'}}
              }
              #opts   = { :width => 200, :height => 200, :is3D => true}
              @chart = GoogleVisualr::Interactive::PieChart.new(data_table, opts)

            %>
              <div id='test_summary_pie_chart'></div>
              <%= render_chart @chart, 'test_summary_pie_chart' %>

              <!-- <div id='pie_chart'></div> -->
              <%#= render_chart @chart, 'pie_chart' %>

            <% end %>

            <%# @chart_data.each do | var | %>
            <%# end %>

            <div id="graph_info">
              <div class="correct_wrong_details"><%= image_tag "completed_graph.jpg" , :size => '15x10' %> Correct answers <br/><em><%=h @no_of_correct_answers %>/<%=h @assessment.no_of_questions %></em></div>
              <div class="correct_wrong_details"><%= image_tag "unattempted_graph.jpg" , :size => '15x10' %> Wrong answers <br/><em><%=h @no_of_wrong_answers %>/<%=h @assessment.no_of_questions %></em></div>
            </div>

            <div class="correct_wrong_details" id="attempted_questions">Attempted Questions: <%=h @total_attempted %>/<%=h @assessment.no_of_questions %><br/>
              <% unless @assessment.test_pattern.question_wise_scoring %>
                <label><%=h @assessment.check_if_integer_or_float(@assessment.correct_ans_points) %> mark for a correct answer</label>
              <% end %>
              <% if @assessment.wrong_ans_points != 0 %>
                <label><br/><%=h @assessment.check_if_integer_or_float(@assessment.wrong_ans_points) %> marks for incorrect answer</label>
              <% end %>
            </div>            
          </div> <%# end of overall_chart div %>
          <% end %> <%# end of if @maq_questions_count == 0 %>