<%#*Control comes from courses_for_learner method of courses controller.
It shows all the courses for a learner.
Author : Surupa %>
<% @user = User.find_by_id(params[:id])
@total_completed = @chart_data[0][:course_output]
@total_incomplete = @chart_data[1][:course_output]
@total_unattempted = @chart_data[2][:course_output]
@total_timeup = @chart_data[3][:course_output]
@total_assigned = @chart_data[4][:total]
%>
<%= stylesheet_link_tag 'learners_for_assessment' %>
<%= stylesheet_link_tag 'tablestyle'  %>
<%= javascript_include_tag "FusionCharts" %>
<%= javascript_include_tag "test" %>
<div id="div_container">
  <div id="div_mainpanel">
    <div class="inner_mainpanel">
      <div id="reports_heading">
        <p><% if @user.login.length > 20 %><%= label(:post, :course_name, @user.login[0..19], :class => 'course_name' ) %>&hellip;<% else %><%= label(:post, :course_name, @user.login, :class => 'course_name' ) %><% end %>
          <%= render :partial => "/reports/quarter_select" %>
        </p>
      </div>
      <form id="course_learners_report_form">        
        <% if @learners.nil? or @learners.blank? then %>
          <div class="empty_reports">For this quarter no courses are available.</div>
        <% else %>
          <%= render :partial => "/reports/courses_for_learner_table" %>
        <% end %>
      </form>
    </div>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
    <div id="chart_div">
      <%= render :partial => "/reports/course_chart_div"  %>
    </div>
  </div>
</div>