<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'upload_course' %>
<%= stylesheet_link_tag 'assessment_manual' %>
<%= stylesheet_link_tag 'structure_components' %>
<div id="div_container">
  <div id="div_mainpanel">
    <h3><b>Select report template for: <%= @assessment.name %></b></h3>
  <form action="/reports/save_report/<%= @structure_component.id %>" method="post">
  	<% @report_templates.each do |template| %>
  		<li><input type="radio" name="template" value="<%= template.id %>" <% unless @structure_component.report.nil? %><% if @structure_component.report.report_template_id == template.id %>checked<% end %><% end %>/>
  		<%= template.name %></li>
  	<% end %>
    <hr/>
    <input type="submit" name="button" value="Done" class="done_button"/>
  <a href="/structure_components/delete_component/<%=h @structure_component.id %>" style="color:blue;margin-left:560px;">Delete</a> |
  <a href="/structure_components/create_structure/<%=h @structure_component.assessment_id %>" style="color:blue;">Cancel</a>
  </form>
  </div> <%# end of div_mainpanel %>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div> <%# end of div_sidepanel %>
</div> <%# end of div_container %>
