<%= stylesheet_link_tag 'courses_content' %>
<%= stylesheet_link_tag 'reports_style' %>

<% if params[:from] == "learner" then %>
  <style>
    #div_upper_left
    {
      display: none;
    }
  </style>
<% end %>

<div id="div_container">
  <div id="div_mainpanel">
    <% @assessment = Assessment.find_by_id(@learner.assessment_id)
    user_obj = User.find_by_id(@learner.user_id)
    if params[:from] == "admin" and current_user.typeofuser == "admin" %>
      <h2><%=h @assessment.name %> <a class="top_right_content" href="/reports/learners_for_assessment/<%=h @assessment.id %>">Back to Main Report</a></h2>
    <% end
    unless @assessment.test_pattern.question_wise_scoring %>
      <h3 class="top_left_obj_name"><%=h user_obj.login %> <span class="score_top_right_content">Score: <strong><%=h @learner.score_raw %>/<%=h @assessment.check_if_integer_or_float(@learner.score_max.to_f) %></strong><% unless @learner.session_time.nil? or @learner.session_time.blank? %>, Time: <strong><%=h @learner.total_time %></strong><% end %></span></h3>
    <% else %>
      <h3 class="top_left_obj_name"><%=h user_obj.login %> <span class="score_top_right_content">Score: <strong><%=h @learner.score_raw %>/<%=h @assessment.check_if_integer_or_float(@learner.rating) %></strong><% unless @learner.session_time.nil? or @learner.session_time.blank? %>, Time: <strong><%=h @learner.total_time %></strong><% end %></span></h3>
    <% end %>

    <div id="div_report_question_paper">
      <ul id="list_report_question_paper">
        <% @i = 1
        prev_mtf_id = 0
        already_displayed_topic_name = ""
        @questions_list.each do |question_id|
          @question_id = question_id %>
          <%= render :partial => "/reports/create_question_objects_for_learner_question_paper" %>
          <%
          if @question_obj.question_type != "MTF" and !(@question_obj.mtf_id.nil? or @question_obj.mtf_id.blank?)
            current_mtf_id = @question_obj.mtf_id
            direction = Question.find_by_id(@question_obj.mtf_id)
            if current_mtf_id != prev_mtf_id %>
              <br/><label style="font-weight: normal; font-size: 13px;"><%=raw direction.question_text %></label>
              <% unless direction.question_image_file_size.nil? %>
                <%= image_tag direction.question_image.url(:original),:size => "700x250", :alt => "Image" %><br/>
              <% end %><br/>
              <% prev_mtf_id = current_mtf_id
            end
          end %>
          <% if @assessment.show_question_wise_scoring == "on" and already_displayed_topic_name != @question_obj.question_bank.name then %>
            <h4><%=raw @question_obj.question_bank.name %></h4>
            <% already_displayed_topic_name = @question_obj.question_bank.name
          end %>
          <li class="reports_question"><strong><%= @i %>.</strong>&nbsp;<%=raw @question_obj.question_text %></li><span class="question_points"><% unless @learner.question_scores.nil? or @learner.question_scores.blank? %>Score: <%=h @learner.question_scores.split('|')[0].split(',')[@i-1] %><% end %><% unless @learner.session_time.nil? or @learner.session_time.blank? %>, Time: <%=h @learner.session_time.split(',')[@i-1] %> s<% end %></span>

          <% if !(@question_obj.answers.nil? or @question_obj.answers.blank?)
            @j = 1
            @question_obj.answers.each do |answer|
              @answer = answer
              if !(@answer.nil? or @answer.blank?)
                if @question_obj.question_type == "MCQ" %>
                  <%= render :partial => "/reports/mcq_question_paper" %>
                <% elsif @question_obj.question_type == "FIB" or @question_obj.question_type == "SA" %>
                  <%= render :partial => "/reports/fib_sa_question_paper" %>
                <% elsif @question_obj.question_type == "MAQ" %>
                  <%= render :partial => "/reports/maq_question_paper" %>
                <% end
              end # end of answer object nil check
              @j = @j + 1
            end # end of @question_obj.answers.each loop %>
            <% if @assessment.show_question_explanation and !(@question_obj.explanation.nil? or @question_obj.explanation.blank?) %>
              <b>Answer</b><br/>
              <div id="question_explanation">
                <label style="padding:3px;"><%=raw @question_obj.explanation %></label>
              </div>
            <% end
          end
          @i = @i + 1
        end %>
      </ul>      
    </div>
  </div>
</div>