<%#*Control comes from learners_for_course method of courses controller.
It shows all the learners for a course.
Author : Surupa %>
<%= stylesheet_link_tag 'learners_for_assessment' %>
<%= javascript_include_tag "FusionCharts" %>
<%= javascript_include_tag 'ui/jquery-1.4.4' %>
<%= stylesheet_link_tag 'for_ie_7'  %>
<head>
  <script type="text/javascript" charset="utf-8">
    function css_browser_selector(u){var ua=u.toLowerCase(),is=function(t){return ua.indexOf(t)>-1},g='gecko',w='webkit',s='safari',o='opera',m='mobile',h=document.documentElement,b=[(!(/opera|webtv/i.test(ua))&&/msie\s(\d)/.test(ua))?('ie ie'+RegExp.$1):is('firefox/2')?g+' ff2':is('firefox/3.5')?g+' ff3 ff3_5':is('firefox/3.6')?g+' ff3 ff3_6':is('firefox/3')?g+' ff3':is('gecko/')?g:is('opera')?o+(/version\/(\d+)/.test(ua)?' '+o+RegExp.$1:(/opera(\s|\/)(\d+)/.test(ua)?' '+o+RegExp.$2:'')):is('konqueror')?'konqueror':is('blackberry')?m+' blackberry':is('android')?m+' android':is('chrome')?w+' chrome':is('iron')?w+' iron':is('applewebkit/')?w+' '+s+(/version\/(\d+)/.test(ua)?' '+s+RegExp.$1:''):is('mozilla/')?g:'',is('j2me')?m+' j2me':is('iphone')?m+' iphone':is('ipod')?m+' ipod':is('ipad')?m+' ipad':is('mac')?'mac':is('darwin')?'mac':is('webtv')?'webtv':is('win')?'win'+(is('windows nt 6.0')?' vista':''):is('freebsd')?'freebsd':(is('x11')||is('linux'))?'linux':'','js']; c = b.join(' '); h.className += ' '+c; return c;}; css_browser_selector(navigator.userAgent);
  </script>
</head>
<div id="div_container">
  <div id="div_mainpanel">
    <div class="inner_mainpanel">      
      <form id="course_learners_report_form">
        <div id="div_table">
          <% case
          when (params.include? "assessment_id") then %>
            <div id="reports_heading">
              <h1><s><% if @assessment.name.length > 25 %><%= @assessment.name[0..24] %>&hellip;<% else %><%= @assessment.name %><% end %></s></h1>
            </div>
            <%= render :partial => "/reports/learners_for_assessment_table" %>
          <% when (params.include? "course_id") then %>
            <div id="reports_heading">
              <p>
                <% if @course.course_name.length > 20 %> <%= label(:post, :course_name, @course.course_name[0..19], :class => 'course_name' ) %>&hellip;<% else %> <%= label(:post, :course_name, @course.course_name, :class => 'course_name' ) %><% end %>
                <%= render :partial => "/reports/quarter_select" %>
              </p>
            </div>
            <%= render :partial => "/reports/learners_for_course_table" %>
          <% end %>
        </div>
        <a href="/reports/course_report/<%=h current_user.id %>">Back</a>
      </form>
    </div>
  </div>
  <div id="div_sidepanel">
    <%= render :partial => "/courses/logo" %>
  </div>
</div>