<%= form_for(@calculated_data_assessment) do |f| %>
  <% if @calculated_data_assessment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@calculated_data_assessment.errors.count, "error") %> prohibited this calculated_data_assessment from being saved:</h2>

      <ul>
      <% @calculated_data_assessment.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :assessment_id %><br />
    <%= f.number_field :assessment_id %>
  </div>
  <div class="field">
    <%= f.label :tenant_id %><br />
    <%= f.number_field :tenant_id %>
  </div>
  <div class="field">
    <%= f.label :started %><br />
    <%= f.number_field :started %>
  </div>
  <div class="field">
    <%= f.label :in_process %><br />
    <%= f.number_field :in_process %>
  </div>
  <div class="field">
    <%= f.label :completed %><br />
    <%= f.number_field :completed %>
  </div>
  <div class="field">
    <%= f.label :timed_out %><br />
    <%= f.number_field :timed_out %>
  </div>
  <div class="field">
    <%= f.label :incomplete %><br />
    <%= f.number_field :incomplete %>
  </div>
  <div class="field">
    <%= f.label :lowest_score %><br />
    <%= f.text_field :lowest_score %>
  </div>
  <div class="field">
    <%= f.label :highest_score %><br />
    <%= f.text_field :highest_score %>
  </div>
  <div class="field">
    <%= f.label :average_score %><br />
    <%= f.text_field :average_score %>
  </div>
  <div class="field">
    <%= f.label :sd_score %><br />
    <%= f.text_field :sd_score %>
  </div>
  <div class="field">
    <%= f.label :lowest_time %><br />
    <%= f.text_field :lowest_time %>
  </div>
  <div class="field">
    <%= f.label :highest_time %><br />
    <%= f.text_field :highest_time %>
  </div>
  <div class="field">
    <%= f.label :average_time %><br />
    <%= f.text_field :average_time %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
